<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.hs.groups.new.group']}" id="newHsgPanel">
		<h:form id="newHsgForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="createNewHsTab" for="#{hsProxyTabSet.clientId}" />

			<!-- Health Service Group ID field -->
			<mbs:input id="newHsgIdField" label="Health Service Group ID" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-6 col-sm-3 col-md-2" maxlength="6" required="true"
				value="#{healthServiceGroupsController.newHealthServiceGroup.healthServiceGroupId}" fAttributeName="disableGrouping"
				fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Health Service Group Name -->
			<mbs:input id="newHsgNameField" label="Health Service Group Name" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-6 col-sm-3 col-md-2" maxlength="40" required="true"
				value="#{healthServiceGroupsController.newHealthServiceGroup.healthServiceGroupName}" />

			<!-- Button bar -->
			<mbs:commandButtonBar id="newHsgBtnBar">
				<mbs:commandButton action="#{healthServiceGroupsController.executeSaveNewHealthServiceGroup}" id="saveNewHsgBtn"
					value="#{msgs['button.save']}" type="primary" size="sm"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
				<mbs:commandButton action="#{healthServiceGroupsController.executeResetAddHealthServiceGroupForm}"
					id="resetNewHsgBtn" value="#{msgs['button.reset']}" type="danger" size="sm" immediate="true" />
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>

	<script>
		$(document).ready(function() {
			$("#newHsgPanel\\:newHsgForm\\:newHsgBtnBar\\:resetNewHsgBtn\\:commandButton").click(function() {
				resetForm("newHsgPanel\\:newHsgForm");
			});
		});
	</script>

</ui:composition>