<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="content">
		<f:event type="preRenderView"
			listener="#{healthServiceGroupsController.fileDownloadControllerBean.exportServicesNotInGroupSummary}" />
	</ui:define>
</ui:composition>
