<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-3 col-md-2" />
	<ui:param name="inputStyle" value="col-xs-6 col-sm-3 col-md-2" />

	<mbs:panel header="View Services Not In Group" id="viewServicesNotInGroupPanel">

		<h:form id="viewServicesNotInGroupForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="viewServicesNotInGroupTab" for="#{hsProxyTabSet.clientId}" />

			<h4>#{msgs['header.hs.groups.select.year.end']}</h4>
			<mbs:selectOneMenu id="yearEndDrpDwn" label="#{msgs['common.label.year.end.date']}"
				value="#{healthServiceGroupsController.selectedYearEndDateForHSCView}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{healthServiceGroupsController.profilePeriodYearEndDates.entrySet()}" var="item"
					itemLabel="#{item.key}" itemValue="#{item.value}"
					for="#{healthServiceGroupsController.selectedYearEndDateForHSCView}" />
			</mbs:selectOneMenu>

			<mbs:commandButtonBar id="filterServicesNotInGroupBtnPanel">
				<mbs:commandButton id="viewBtn" value="#{msgs['button.view']}" type="primary" size="sm"
					action="#{healthServiceGroupsController.executeViewServiceNotInGroup}" />

				<!-- Download link for summary if data is available. -->
				<h:outputLink rendered="#{healthServiceGroupsController.selectedYearEndDateForHSCView != null}"
					styleClass="mbs-btn btn btn-primary btn-inline btn-sm link-button"
					onclick="window.open('#{facesContext.externalContext.requestContextPath}/pages/audit/OutlierIdentification/HSCodes/ServiceNotInGroupDownload.html')"
					value="#">
					<h:outputText value="#{msgs['button.export']}" />
				</h:outputLink>
			</mbs:commandButtonBar>

			<h:panelGroup rendered="#{healthServiceGroupsController.displayServicesNotInGroup}">
				<h4>#{msgs['header.hs.groups.total.services']}
					#{healthServiceGroupsController.healthServiceCodesNotInGroup.size()}</h4>
				<ace:dataTable id="viewServicesNotInGroupTable" styleClass="table-horizontal-adjustment"
					rendered="#{!healthServiceGroupsController.healthServiceCodesNotInGroup.isEmpty()}"
					value="#{healthServiceGroupsController.healthServiceCodesNotInGroup}" var="row"
					emptyMessage="#{msgs['common.label.no.data']}" rows="15" paginator="true" paginatorPosition="bottom">

					<ace:ajax event="filter" execute="@this" render="@this"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;"
						listener="#{healthServiceGroupsController.executeProgramFilter}" />

					<!-- Program Code column -->
					<ace:column headerText="#{msgs['label.hs.groups.program.code']}" sortBy="#{row.program}" filterBy="#{row.program}"
						filterMatchMode="contains" filterValue="#{healthServiceGroupsController.filterProgramCode}">
						<h:outputText value="#{row.program}" />
					</ace:column>
					<!-- Health Service Code column -->
					<ace:column headerText="#{msgs['label.hs.groups.hs.code']}" stacked="true" sortBy="#{row.healthServiceCode}"
						filterBy="#{row.healthServiceCode}" filterMatchMode="contains"
						filterValue="#{healthServiceGroupsController.filterHealthServiceCode}">
						<h:outputText value="#{row.healthServiceCode}" />
					</ace:column>

					<!-- Modifiers column -->
					<ace:column headerText="#{msgs['common.label.modifiers']}" sortBy="#{row.modifiers}" filterBy="#{row.modifiers}"
						filterMatchMode="contains" filterValue="#{healthServiceGroupsController.filerModifiers}">
						<h:outputText value="#{row.modifiers}" />
					</ace:column>
					<!-- Implicit Modifiers column -->
					<ace:column headerText="Modifiers" stacked="true" sortBy="#{row.implicitModifiers}"
						filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
						filterValue="#{healthServiceGroupsController.filterImplicitModifiers}">
						<h:outputText value="#{row.implicitModifiers}" />
					</ace:column>

					<!-- Qualifier column -->
					<ace:column headerText="Qualifier" rowspan="2" sortBy="#{row.qualifier}" filterBy="#{row.qualifier}"
						filterMatchMode="contains" filterValue="#{healthServiceGroupsController.filterQualifiers}">
						<h:outputText value="#{row.qualifier}" />
					</ace:column>

					<!-- Effective From column -->
					<ace:column headerText="#{msgs['common.label.effective.from']}" sortBy="#{row.effectiveFrom}"
						filterBy="#{row.effectiveFromString}" filterMatchMode="contains">
						<h:outputText value="#{row.effectiveFromString}" />
					</ace:column>
					<!-- Effective To column -->
					<ace:column headerText="#{msgs['common.label.effective.to']}" stacked="true" sortBy="#{row.effectiveTo}"
						filterBy="#{row.effectiveToString}" filterMatchMode="contains">
						<h:outputText value="#{row.effectiveToString}" />
					</ace:column>

					<!-- Category Code column -->
					<ace:column headerText="#{msgs['common.label.hsc.category']}" sortBy="#{row.category}" filterBy="#{row.category}"
						filterMatchMode="contains" filterValue="#{healthServiceGroupsController.filterCategoryCode}">
						<h:outputText value="#{row.category}" />
					</ace:column>
					<!-- Unit Formula column -->
					<ace:column headerText="#{msgs['common.label.unit.formula']}" stacked="true" sortBy="#{row.unitFormula}"
						filterBy="#{row.unitFormula}" filterMatchMode="contains"
						filterValue="#{healthServiceGroupsController.filterUnitFormula}">
						<h:outputText value="#{row.unitFormula}" />
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>
	</mbs:panel>
</ui:composition>