<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	template="/pages/nspp-template.xhtml" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-OutlierInquiry,Admin-OutlierUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.criteria']}" />
	<ui:param name="page" value="CriteriaIndex" />
	<ui:param name="menuId" value="title.audit.criteria" />

	<!-- Style parameters -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />


	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.criteria']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<!-- Initial buttons user can click to render the desired form -->
			<ace:tabSet id="criteriaTabSet" binding="#{criteriaProxyTabSet}" immediate="true"
				tabChangeListener="#{criteriaController.criteriaTabChangeListener}">
				<ace:tabPane disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}"
					label="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate') ? msgs['button.audit.edit.profile.period'] : msgs['button.audit.view.profile.period']}">
					<f:subview id="profilePeriodsView">
						<ui:include src="PractitionerProfilePeriods.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}"
					label="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate') ? msgs['button.audit.edit.profile.criteria'] : msgs['button.audit.view.profile.criteria']}">
					<f:subview id="profileCriteriaView">
						<ui:include src="PractitionerProfileCriteria.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}"
					label="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate') ? msgs['button.audit.edit.outlier.criteria'] : msgs['button.audit.view.outlier.criteria']}">
					<f:subview id="outlierCriteriaView">
						<ui:include src="OutlierCriteria.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>