<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<h:form id="practitionerProfilesCriteriaForm" styleClass="form-horizontal">
		<ace:tabSetProxy id="practitionerProfileTab" for="#{criteriaProxyTabSet.clientId}" />
		<mbs:panel header="#{msgs['header.audit.profile.criteria']}" id="criteriaPanel">

			<!-- Table displaying practitioner profile criteria values -->
			<ace:dataTable value="#{criteriaController.practitionerProfileCriteria}" id="practitionerProfileCriteriaTable"
				rows="25" paginator="true" styleClass="table-horizontal-adjustment" paginatorPosition="bottom" var="row"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!--  Sets the filter delay  -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Code column -->
				<ace:column id="code" headerText="#{msgs['common.label.code']}" sortBy="#{row.constantCode}"
					filterBy="#{row.constantCode}" filterMatchMode="contains">
					<h:outputText value="#{row.constantCode}" />
				</ace:column>

				<!-- Type column -->
				<ace:column id="type" headerText="#{msgs['common.label.type']}" sortBy="#{row.constantType}"
					filterBy="#{row.constantType}" filterMatchMode="contains">
					<h:outputText value="CHAR" rendered="#{row.constantType eq 'C' }" />
					<h:outputText value="INTEGER" rendered="#{row.constantType eq 'N' }" />
					<h:outputText value="DATE" rendered="#{row.constantType eq 'D' }" />
					<h:outputText value="CURRENCY" rendered="#{row.constantType eq '$' }" />
				</ace:column>

				<!-- Description column -->
				<ace:column id="description" headerText="#{msgs['common.label.description']}" sortBy="#{row.constantDesc}"
					filterBy="#{row.constantDesc}" filterMatchMode="contains">
					<h:outputText value="#{row.constantDesc}" />
				</ace:column>

				<!-- Value column -->
				<ace:column id="value" headerText="#{msgs['common.label.value']}" sortBy="#{row.value}" filterBy="#{row.value}"
					filterMatchMode="contains" sortFunction="#{criteriaController.criteriaValueComparator}">
					<!-- JTRAX-52 06-FEB-18 BCAINNE /-->
					<h:outputText value="#{row.value}" rendered="#{row.constantType ne 'D' }"/>
					<h:outputText value="#{row.constantDate}" rendered="#{row.constantType eq 'D' }" converter="dateConverter" pattern="dd-MMM-yyyy"/>
				</ace:column>

				<!-- Modified By column -->
				<ace:column id="modifiedBy" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- Last Modified column -->
				<ace:column id="lastModified" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModifiedString}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>

				<!-- Edit button column -->
				<ace:column id="editCol" rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
							action="#{criteriaController.editPractitionerProfileCriteria(row)}" />
					</mbs:commandButtonBar>
				</ace:column>

			</ace:dataTable>
		</mbs:panel>
	</h:form>

	<!-- Pop up displayed when user is editing an Practitioner Profile Criteria -->
	<h:form id="editPractitionerProfileCriteriaForm" styleClass="form-horizontal">
		<mbs:popup id="editPractitionerProfileCriteriaPopup" title="#{msgs['header.audit.profile.criteria.details']}"
			visible="#{criteriaController.displayPractitionerProfileCriteriaEditPopup}" size="sm" customFooter="true">

			<!-- Code -->
			<mbs:input id="practitionerProfileCode" label="#{msgs['common.label.code']}" disabled="true"
				displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
				inputStyleClass="col-xs-12 col-sm-10 col-md-10"
				value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode}" />

			<!-- Type -->
			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantType eq 'C'}">
				<mbs:input id="practitionerProfileTypeS" label="#{msgs['common.label.type']}" disabled="true"
					displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10" value="CHAR" />
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantType eq 'N'}">
				<mbs:input id="practitionerProfileTypeI" label="#{msgs['common.label.type']}" disabled="true"
					displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10" value="INTEGER" />
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantType eq '$'}">
				<mbs:input id="practitionerProfileTypeC" label="#{msgs['common.label.type']}" disabled="true"
					displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10" value="CURRENCY" />
			</h:panelGroup>
			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantType eq 'D'}">
				<mbs:input id="practitionerProfileTypeD" label="#{msgs['common.label.type']}" disabled="true"
					displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10" value="DATE" />
			</h:panelGroup>

			<!-- Description -->
			<mbs:inputTextarea id="practitionerProfileDescription" label="#{msgs['common.label.description']}" disabled="true"
				displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
				inputStyleClass="col-xs-12 col-sm-10 col-md-10"
				value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantDesc}" />

			<!-- Value -->
			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'CONTINUE'}">
				<mbs:selectOneMenu id="practitionerProfileValueContinue" label="#{msgs['common.label.continue']}" required="true"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantChar}">
					<f:selectItems value="#{criteriaController.charBooleanAnswerTypes}" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'MPERIOD'}">
				<mbs:selectOneMenu id="practitionerProfileValuePeriodId" label="#{msgs['common.label.period.id']}" required="true"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantNumeric}">
					<f:selectItems value="#{criteriaController.profilePeriods.entrySet()}" var="entry" itemLabel="#{entry.key}"
						itemValue="#{entry.key}" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'PAYMT_DT'}">
				<mbs:calendar id="practitionerProfilePaymentDate" label="#{msgs['label.practitioner.criteria.last.payment']}"
					required="true" showOn="both" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantDate}">
				</mbs:calendar>
			</h:panelGroup>

			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'PROV_CNT'}">
				<mbs:input id="practitionerProfileCount" label="#{msgs['label.practitioner.criteria.profile.count']}"
					required="true" displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantNumeric}">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>
			</h:panelGroup>

			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'UNITDOLR'}">
				<mbs:input id="practitionerProfileUnitDollar" label="#{msgs['label.practitioner.criteria.unit.dollar']}"
					required="true" displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
					inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCurrency}">
					<f:converter converterId="currencyConverter" for="input" />
				</mbs:input>
			</h:panelGroup>

			<h:panelGroup rendered="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantCode eq 'YRENDDT'}">
				<!-- JTRAX-52 06-FEB-18 BCAINNE /-->			
				<mbs:selectOneMenu id="practitionerProfileValueYearEnd" label="#{msgs['common.label.year.end.date']}"
					required="true" labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-10 col-md-10"
					value="#{criteriaController.selectedPractitionerProfileCriteriaConstant.constantStrDate}">
					<f:selectItems value="#{criteriaController.profilePeriods.entrySet()}" var="entry"
						itemLabel="#{entry.value.yearEndString}" itemValue="#{entry.value.yearEndString}"/>
				</mbs:selectOneMenu>
			</h:panelGroup>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						action="#{criteriaController.savePractitionerProfileCriteria}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{criteriaController.closePractitionerProfileEditPopup}" />
				</h:panelGroup>
			</f:facet>

			<script>
				$(document)
						.ready(
								function() {
									// remove the Select... option from any dropdowns
									removeSelectOptionFromDropdown("profileCriteriaView\\:editPractitionerProfileCriteriaForm\\:editPractitionerProfileCriteriaPopup\\:practitionerProfileValueContinue\\:selectOneMenu");
									removeSelectOptionFromDropdown("profileCriteriaView\\:editPractitionerProfileCriteriaForm\\:editPractitionerProfileCriteriaPopup\\:practitionerProfileValuePeriodId\\:selectOneMenu");
									removeSelectOptionFromDropdown("profileCriteriaView\\:editPractitionerProfileCriteriaForm\\:editPractitionerProfileCriteriaPopup\\:practitionerProfileValueYearEnd\\:selectOneMenu");
								});
			</script>
		</mbs:popup>
	</h:form>
</ui:composition>
