<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<!--[if IE 8]>
<html class="no-js ie8 lt-ie9">
<![endif]-->
<ui:composition template="/pages/nspp-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="page" value="error" />

	<ui:define name="content">
		<div id="mainContent">
			<h1 class="page-header">Where would you like to go?</h1>

			<a class="btn btn-info pull-right" onclick="window.history.back();">Back to previous page.</a>

			<div class="well bg-danger">
				<h:panelGroup layout="block">Sorry, we couldn't find
                                        <h:panelGroup id="currentPage"></h:panelGroup>.
                              </h:panelGroup>
			</div>

			<h:outputScript>
                    document.getElementById('currentPage').innerHTML = window.location.href;
                    </h:outputScript>
		</div>
	</ui:define>
</ui:composition>
