<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition template="/pages/nspp-template.xhtml" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="title" value="#{msgs['browser.tab.home']}" />


	<ui:define name="content">
		<style>
a.frontPageLink {
	font-size: smaller;
	font-weight: bolder;
}

a.frontPageLink:hover {
	font-size: smaller;
	font-weight: bolder;
	color: white;
	background-color: #0078A7;
}
</style>
		<div id="mainContent" class="jumbotron">
			<h:form>
				<!-- Home page logo -->
				<img src="#{resource['images:TraxLogo.jpg']}" alt="Trax Logo" class="img-responsive logoWrapper center-block" />

				<div class="row">

					<!-- Audit -->
					<div class="col-sm-12 col-md-6 col-lg-3">
						<mbs:panel header="#{msgs['menu.audit']}" type="info">
							<!-- menu.audit.outlier=Outlier Identification -->
							<p>
								<a href="#{request.contextPath}/pages/audit/OutlierIdentification/Criteria/CriteriaIndex.html"
									class="frontPageLink">#{msgs['menu.audit.outlier.criteria']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/audit/OutlierIdentification/PeerGroups/PeerGroupsIndex.html"
									class="frontPageLink">#{msgs['menu.audit.outlier.peer']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/audit/OutlierIdentification/HSCodes/HealthServiceIndex.html"
									class="frontPageLink">#{msgs['menu.audit.outlier.health']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/audit/OutlierIdentification/Inquiry/InquiryIndex.html"
									class="frontPageLink">#{msgs['menu.audit.outlier.inquiry']}</a>
							</p>
							<hr />
							<!-- menu.audit.service=Service Verification Letters -->
							<p>
								<a href="#{request.contextPath}/pages/audit/ServiceVerificationLetters/Medicare/MedicareIndex.html"
									class="frontPageLink">#{msgs['menu.audit.service.medicare']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/audit/ServiceVerificationLetters/Denticare/DenticareIndex.html"
									class="frontPageLink">#{msgs['menu.audit.service.denticare']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/audit/ServiceVerificationLetters/Pharmacare/PharmacareIndex.html"
									class="frontPageLink">#{msgs['menu.audit.service.pharmacare']}</a>
							</p>
							<hr />
							<!-- menu.audit.results=Audit Results -->
							<p>
								<a href="#{request.contextPath}/pages/audit/AuditResults/PractitionerAudit/AuditResultIndex.html"
									class="frontPageLink">#{msgs['menu.audit.results.record.audits']}</a>
							</p>
						</mbs:panel>
					</div>
					<!-- Accounting -->
					<div class="col-sm-12 col-md-6 col-lg-3">
						<mbs:panel header="#{msgs['menu.accounting']}" type="info">
							<p>
								<a href="#{request.contextPath}/pages/accounting/ManualDeposits/AccountingIndex.html" class="frontPageLink">#{msgs['menu.accounting.deposits']}</a>
							</p>
						</mbs:panel>
					</div>
					<!-- DSS -->
					<div class="col-sm-12 col-md-6 col-lg-3">
						<mbs:panel header="#{msgs['menu.dss']}" type="info">
							<p>
								<a href="#{request.contextPath}/pages/dss/DssClaimsHistoryTransfer/DssClaimsHistoryTransferIndex.html"
									class="frontPageLink">#{msgs['menu.dss.claim.history']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/dss/DssUnitValue/DssUnitValueIndex.html" class="frontPageLink">#{msgs['menu.dss.unit.value']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/dss/DssConstants/DssConstantsIndex.html" class="frontPageLink">#{msgs['menu.dss.constants']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/dss/DssChequeReconciliations/DssChequeReconciliationIndex.html"
									class="frontPageLink">#{msgs['menu.dss.cheque.reconciliation']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/dss/DssGLNumbers/DssGLNumberIndex.html" class="frontPageLink">#{msgs['menu.dss.gl.numbers']}</a>
							</p>
						</mbs:panel>
					</div>
					<!-- Practitioner -->
					<div class="col-sm-12 col-md-6 col-lg-3">
						<mbs:panel header="#{msgs['menu.practitioner']}" type="info">
							<p>
								<a href="#{request.contextPath}/pages/practitioner/Locum/LocumIndex.html" class="frontPageLink">#{msgs['menu.practitioner.locum.hosts']}</a>
							</p>
							<p>
								<a href="#{request.contextPath}/pages/practitioner/DHA/DHAIndex.html" class="frontPageLink">#{msgs['menu.practitioner.provider.dha']}</a>
							</p>
						</mbs:panel>
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>
