<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" template="/medavie-bootstrap/templates/standard-layout.xhtml"
	xmlns:sandbox="http://java.sun.com/jsf/composite/components/sandbox">

	<ui:define name="metadata">
		<f:view>
			<f:metadata>
				<ui:insert name='security' />
			</f:metadata>
		</f:view>
	</ui:define>
	
	<!-- Empty menu -->
	<ui:define name="menu">
	</ui:define>

	<style>
.mbs-vertical-separator:after {
	content: ' | ';
}
</style>

	<!-- Head Section -->
	<ui:define name="head">
		<mbs:headResources appCss="true" appDynamicsEnabled="false" />
		<mbs:headResources appJs="true" appDynamicsEnabled="false" />
	</ui:define>

	<!-- Main Content -->
	<ui:define name="main">

		<div class="row">
			<div class="col-xs-12 main">
				<ui:insert name="content" />
			</div>
		</div>

		<!-- Displays system messages to the user -->
		<h:form id="messageAlertForm"
			style="#{not facesContext.validationFailed and not empty facesContext.messageList ? 'display: block;' : 'display: none;'}">
			<h:panelGroup>
				<div id="dialog-message" class="message-dialog-wrapper">
					<div>
						<b>#{msgs['common.label.system.messages']}:</b>
						<h:commandLink styleClass="message-dialog-dismiss-btn" onclick="dismissSystemMessageDialog()">
							<i id="dismissMessages" class="fa fa-times"></i>
						</h:commandLink>
					</div>
					<hr />
					<h:messages id="errors" globalOnly="true" infoClass="hmsgsinfo" warnClass="hmsgswarn" fatalClass="hmsgserror"
						errorClass="hmsgserror" />
				</div>
			</h:panelGroup>
		</h:form>
	</ui:define>

	<!-- Footer Section -->
	<!-- Reuse the standard footer that comes with Medavie Bootstrap -->
	<!-- /Footer Section -->

</ui:composition>