<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:of="http://omnifaces.org/functions" xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" template="/medavie-bootstrap/templates/standard-layout.xhtml"
	xmlns:sandbox="http://java.sun.com/jsf/composite/components/sandbox">

	<ui:define name="metadata">
		<f:view>
			<f:metadata>
				<ui:insert name='security' />
			</f:metadata>
		</f:view>
	</ui:define>

	<style>
.mbs-vertical-separator:after {
	content: ' | ';
}
</style>

	<!-- Head Section -->
	<ui:define name="head">
		<mbs:headResources appCss="true" appDynamicsEnabled="false" />
		<mbs:headResources appJs="true" appDynamicsEnabled="false" />
	</ui:define>

	<!-- Body Section -->
	<!-- Navigation Bar -->
	<ui:define name="menu">
		<mbs:navbar logo="mbc">
			<mbs:navbarLeft>
				<!-- Audit menu begins -->
				<mbs:navbarDropDownMenu label="#{msgs['menu.audit']}">

					<!-- Outlier Identification menu item -->
					<mbs:navbarDropDownMenu label="#{msgs['menu.audit.outlier']}">
						<c:forEach items="#{auditNavigationModel.outlierMenuLinks}" var="link">
							<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
								label="#{msgs[link[1]]}" />
						</c:forEach>
					</mbs:navbarDropDownMenu>

					<!-- Service Verification Letters menu item -->
					<mbs:navbarDropDownMenu label="#{msgs['menu.audit.service']}">
						<c:forEach items="#{auditNavigationModel.serviceVerificationMenuLinks}" var="link">
							<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
								label="#{msgs[link[1]]}" />
						</c:forEach>
					</mbs:navbarDropDownMenu>

					<!-- Record Audits menu item -->
					<c:forEach items="#{auditNavigationModel.auditResultsMenuLinks}" var="link">
						<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
							label="#{msgs[link[1]]}" />
					</c:forEach>

				</mbs:navbarDropDownMenu>

				<!-- Accounting menu begins -->
				<mbs:navbarDropDownMenu label="#{msgs['menu.accounting']}">
					<!-- Manual Deposits menu item -->
					<c:forEach items="#{accountingNavigationModel.manualDepositsMenuLinks}" var="link">
						<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
							label="#{msgs[link[1]]}" />
					</c:forEach>
				</mbs:navbarDropDownMenu>

				<!-- DSS menu begins -->
				<mbs:navbarDropDownMenu label="#{msgs['menu.dss']}">
					<!-- DSS menu items -->
					<c:forEach items="#{dssNavigationModel.dssMenuLinks}" var="link">
						<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
							label="#{msgs[link[1]]}" />
					</c:forEach>
				</mbs:navbarDropDownMenu>

				<!-- Practitioner menu begins -->
				<mbs:navbarDropDownMenu label="#{msgs['menu.practitioner']}">

					<!-- Maintain Locum menu item -->
					<c:forEach items="#{practitionerNavigationModel.locumMenuLinks}" var="link">
						<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
							label="#{msgs[link[1]]}" />
					</c:forEach>

					<!-- Maintain Provider DHA menu item -->
					<c:forEach items="#{practitionerNavigationModel.maintainProviderDHAMenuLinks}" var="link">
						<mbs:navbarOption styleClass="#{link[1] eq menuId ? 'active' : ''}" url="#{request.contextPath}/pages/#{link[0]}"
							label="#{msgs[link[1]]}" />
					</c:forEach>

				</mbs:navbarDropDownMenu>
			</mbs:navbarLeft>

			<!-- Upper right navigation bar -->
			<mbs:navbarRight>
				<mbs:navbarOption label="#{mbsMsg['action.logout']}" icon="fa-power-off"
					actionListener="#{logoutSupport.confirmLogout}" />
			</mbs:navbarRight>
		</mbs:navbar>
	</ui:define>

	<!-- Main Content -->
	<ui:define name="main">

		<!-- Common page parameters -->
		<ui:param name="dateFormat" value="dd-MMM-yyyy" />
		<ui:param name="dateTimeFormat" value="dd-MMM-yyyy HH:mm:ss" />
		<ui:param name="dateFormatPlaceholder" value="dd-mm-yyyy" />
		<ui:param name="columnFilterDelay" value="2000" />

		<div class="row">
			<div class="col-xs-12 main">
				<ui:insert name="content" />
			</div>
		</div>

		<!-- Displays system messages to the user -->
		<h:form id="messageAlertForm"
			style="#{not facesContext.validationFailed and not empty facesContext.messageList ? 'display: block;' : 'display: none;'}">
			<h:panelGroup>
				<div id="dialog-message" class="message-dialog-wrapper">
					<div>
						<b>#{msgs['common.label.system.messages']}:</b>
						<h:commandLink styleClass="message-dialog-dismiss-btn" onclick="dismissSystemMessageDialog()">
							<i id="dismissMessages" class="fa fa-times"></i>
						</h:commandLink>
					</div>
					<hr />
					<h:messages id="errors" globalOnly="true" infoClass="hmsgsinfo" warnClass="hmsgswarn" fatalClass="hmsgserror"
						errorClass="hmsgserror" />
				</div>
			</h:panelGroup>
		</h:form>

	</ui:define>

	<!-- Footer Section -->
	<!-- Reuse the standard footer that comes with Medavie Bootstrap -->
	<!-- /Footer Section -->

</ui:composition>
