<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Provider-PractitionerInquiry,Provider-PractitionerUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.dha.dha']}" />
	<ui:param name="page" value="DHAIndex" />
	<ui:param name="menuId" value="title.dha.dha" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.dha.dha']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="dhaTabSet" binding="#{dhaProxyTabSet}" immediate="true">
				<ace:tabPane label="#{msgs['button.dha.dha']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Provider-PractitionerInquiry,Provider-PractitionerUpdate')}">
					<f:subview id="editDhasView">
						<ui:include src="SearchEditDHAs.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>