<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.dha.maintain']}" id="searchEditDHAsPanel">
		<!-- Search panel/form -->
		<h:form id="dhaPractitionerSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{dhaController.executePractitionerSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="dhaPractitionerTab" for="#{dhaProxyTabSet.clientId}" />

			<div class="panel panel-primary" id="dhaPractitionerSearchPanel">
				<div class="panel-heading expandDiv" id="dhaPractitionerSearchHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandDhaPractitionerSearch" class="fa fa-plus-circle"></i> #{msgs['header.dha.add.practitioners']}
					</div>
				</div>
				<div class="panel-body hide-elements" id="dhaPractitionerSearchWrapper">

					<!-- Practitioner ID -->
					<mbs:input id="practitionerNumberTxt" label="#{msgs['common.label.practitioner.id']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{dhaController.practitionerSearchCriteria.practitionerNumber}" maxlength="6"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Practitioner Name -->
					<mbs:input id="practitionerNameTxt" label="#{msgs['common.label.practitioner.name']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{dhaController.practitionerSearchCriteria.practitionerName}" maxlength="65" />

					<!-- Subcategory dropdown -->
					<mbs:selectOneMenu value="#{dhaController.practitionerSearchCriteria.subcategory}" id="practitionerTypeDrp"
						label="#{msgs['common.label.subcategory']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
						inputStyleClass="col-xs-12 col-sm-3 col-md-2">
						<f:selectItems value="#{dhaController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.value.typeCode} - #{item.value.typeDesc}" itemValue="#{item.value.typeCode}"
							for="#{dhaController.practitionerSearchCriteria.subcategory}" />
					</mbs:selectOneMenu>

					<!-- JTRAX-66 01-03-2018 BCAINNE -->
					<!-- Practitioner Group Number -->					 
					<mbs:input id="practitionerGroupNumberTxt" label="#{msgs['common.label.practitioner.group.number']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{dhaController.practitionerSearchCriteria.practitionerGroupId}" maxlength="7"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Practitioner Group Description -->
					<mbs:input id="practitionerGroupDescriptionTxt" label="#{msgs['common.label.practitioner.group.desc']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{dhaController.practitionerSearchCriteria.practitionerGroupName}" maxlength="30" />
						
					<!-- Button bar -->
					<mbs:commandButtonBar id="dhaPractitionerSearchBtnPanel">
						<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
							action="#{dhaController.executePractitionerSearch}" />
						<mbs:commandButton id="resetPractitionerDhaSearchBtn" value="#{msgs['button.clear']}"
							action="#{dhaController.practitionerSearchCriteria.resetSearchCriteria}" type="danger" size="sm" />
					</mbs:commandButtonBar>
				</div>
			</div>
		</h:form>

		<!-- Existing DHA table for view/edit form -->
		<h:form id="dhaEditForm" styleClass="form-horizontal">
			<h4>#{msgs['header.dha.existing.dha']}</h4>

			<ace:dataTable id="dhaDateTable" value="#{dhaController.districtHealthAuthorities}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" stateMap="#{dhaController.dhaStateMap}"
				emptyMessage="#{msgs['common.label.no.data']}" var="row" paginator="true" rows="15" paginatorPosition="bottom">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Practitioner ID/Type column -->
				<ace:column headerText="#{msgs['label.dha.practitition.id.type']}"
					filterBy="#{row.practitionerNumber} #{row.practitionerType}"
					sortBy="#{row.practitionerNumber} #{row.practitionerType}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerNumber} #{row.practitionerType}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.practitioner.name']}" stacked="true" filterBy="#{row.practitionerName}"
					sortBy=" #{row.practitionerName}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerName}" />
				</ace:column>

				<!-- JTRAX-66 01-03-2018 BCAINNE -->
				<!-- Practitioner Group Number column -->
				<ace:column headerText="#{msgs['label.dha.practitioner.group.numb']}" filterBy="#{row.practitionerGroupNumber}"
					sortBy="#{row.practitionerGroupNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerGroupNumber}" />
				</ace:column>

				<!-- Practitioner Group Description column -->
				<ace:column headerText="#{msgs['label.dha.practitioner.group.desc.short']}"
					filterBy="#{row.practitionerGroupDescription}" sortBy="#{row.practitionerGroupDescription}"
					filterMatchMode="contains" stacked="true">
					<h:outputText value="#{row.practitionerGroupDescription}" />
				</ace:column>

				<!-- Employee Type & Full Time Equivalence column -->
				<ace:column headerText="#{msgs['label.dha.emp.type']}" filterBy="#{row.empType}" sortBy="#{row.empType}"
					filterMatchMode="contains">
					<h:outputText value="#{row.empType}" />
				</ace:column>
				<ace:column headerText="#{msgs['label.dha.fte']}" filterBy="#{row.fte}" sortBy="#{row.fte}" stacked="true"
					filterMatchMode="contains">
					<h:outputText value="#{row.fte}" />
				</ace:column>

				<!-- Contract Town Name column -->
				<ace:column headerText="#{msgs['label.dha.contract.town.name']}" filterBy="#{row.contractTownName}"
					sortBy="#{row.contractTownName}" filterMatchMode="contains">
					<h:outputText value="#{row.contractTownName}" />
				</ace:column>
				
				<ace:column headerText="#{msgs['label.dha.ba.number']}" filterBy="#{row.businessArrangementNumber}" sortBy="#{row.businessArrangementNumber}" stacked="true"
					filterMatchMode="contains">
					<h:outputText value="#{row.businessArrangementNumber}" />
				</ace:column>

				<!-- Zone ID/Name column -->
				<ace:column headerText="#{msgs['label.dha.zone.id']}" filterBy="#{row.zoneId}" sortBy="#{row.zoneId}"
					filterMatchMode="contains">
					<h:outputText value="#{row.zoneId}" />
				</ace:column>
				<ace:column headerText="#{msgs['label.dha.zone.name']}" stacked="true" filterBy="#{row.zoneName}"
					sortBy="#{row.zoneName}" filterMatchMode="contains">
					<h:outputText value="#{row.zoneName}" />
				</ace:column>

				<!-- DHA Code/Name column -->
				<ace:column headerText="#{msgs['label.dha.code']}" filterBy="#{row.dhaCode}" sortBy="#{row.dhaCode}"
					filterMatchMode="contains">
					<h:outputText value="#{row.dhaCode}" />
				</ace:column>
				<ace:column headerText="#{msgs['label.dha.desc']}" stacked="true" filterBy="#{row.dhaDescription}"
					sortBy="#{row.dhaDescription}" filterMatchMode="contains">
					<h:outputText value="#{row.dhaDescription}" />
				</ace:column>

				<!-- Modified By/Last Modified column -->
				<ace:column headerText="#{msgs['common.label.modified.by']}" filterBy="#{row.modifiedBy}" sortBy="#{row.modifiedBy}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<ace:column headerText="#{msgs['common.label.last.modified']}" stacked="true" filterBy="#{row.lastModifiedString}"
					sortBy="#{row.lastModified}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>

				<!-- Edit column -->
				<ace:column>
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs" action="#{dhaController.editDha(row)}"
							rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>

			<!-- Delete selected button -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.delete.selected']}" type="danger" size="sm"
					rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}"
					action="#{dhaController.deleteSelectedDhas}" />
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>

	<!-- Pop up window that displays the Practitioner search results -->
	<h:form id="practitionerSearchResultsForm">
		<mbs:popup id="practitionerSearchResultsPopup" title="#{msgs['header.common.search.results']}"
			visible="#{dhaController.displayPractitionerSearchResults}" size="lg"
			closeButtonAction="#{dhaController.closePractitionerSearchResultsPopup}">

			<!-- Display Practitioner records -->
			<ace:dataTable id="practitionerSearchResultDatatable" value="#{dhaController.practitionerSearchResults}"
				styleClass="table-horizontal-adjustment" emptyMessage="#{msgs['common.label.no.data']}" var="row" paginator="true"
				rows="10" paginatorPosition="bottom">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Practitioner ID column -->
				<ace:column headerText="#{msgs['common.label.practitioner.id']}" filterBy="#{row.practitionerNumber}"
					sortBy="#{row.practitionerNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerNumber}" />
				</ace:column>

				<!-- Practitioner Type column -->
				<ace:column headerText="#{msgs['common.label.subcategory']}" filterBy="#{row.practitionerType}"
					sortBy="#{row.practitionerType}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerType}" />
				</ace:column>

				<!-- Practitioner Name column -->
				<ace:column headerText="#{msgs['common.label.practitioner.name']}" filterBy="#{row.practitionerName}"
					sortBy="#{row.practitionerName}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerName}" />
				</ace:column>

				<!-- JTRAX-66 01-03-2018 BCAINNE -->
				<!-- Practitioner Group Number column -->
				<ace:column headerText="#{msgs['label.dha.pg.number']}" filterBy="#{row.practitionerGroupNumber}"
					sortBy="#{row.practitionerGroupNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerGroupNumber}" />
				</ace:column>

				<!-- Practitioner Group Description column -->
				<ace:column headerText="#{msgs['label.dha.pg.desc']}" filterBy="#{row.practitionerGroupDescription}"
					sortBy="#{row.practitionerGroupDescription}" filterMatchMode="contains">
					<h:outputText value="#{row.practitionerGroupDescription}" />
				</ace:column>
				
				<!-- Add button column -->
				<ace:column headerText="">
					<mbs:commandButtonBar align="center">
						<mbs:commandButton value="#{msgs['button.add']}" type="primary" size="xs"
							rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}"
							action="#{dhaController.addPractitionerDHA(row)}" />
					</mbs:commandButtonBar>
				</ace:column>
			</ace:dataTable>
		</mbs:popup>
	</h:form>

	<!-- Pop up window that displays when the user is editing a DHA record or adding one -->
	<h:form id="editDHARecordForm" styleClass="form-horizontal">
		<mbs:popup id="editDHARecordPopup" title="#{msgs['header.dha.practitioner.dha.details']}"
			visible="#{dhaController.displayEditDHA}" size="lg" customFooter="true">

			<div class="row">
				<!-- Practitioner field group -->
				<div class="col-xs-12 col-sm-12 col-md-6">
					<!-- Practitioner ID -->
					<mbs:input id="practitionerIdTxt" label="#{msgs['common.label.practitioner.id']}" disabled="true"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.practitionerNumber}" />

					<!-- Practitioner Type -->
					<mbs:input id="practitionerNumberTxt" label="#{msgs['common.label.subcategory']}" disabled="true"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.practitionerType}" />

					<!-- Practitioner Name -->
					<mbs:input id="practitionerNameTxt" label="#{msgs['common.label.practitioner.name']}" disabled="true"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.practitionerName}" />

					<!-- JTRAX-66 01-03-2018 BCAINNE -->
					<!-- Practitioner Group Number -->
					<mbs:input id="practitionerGroupNumberTxt" label="#{msgs['common.label.practitioner.group.number']}" disabled="true"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.practitionerGroupNumber}" />

					<!-- Practitioner Group Description -->
					<mbs:input id="practitionerGroupDescriptionTxt" label="#{msgs['common.label.practitioner.group.desc']}" disabled="true"
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.practitionerGroupDescription}" />

					<!-- Modified By (Only displayed when editing existing) -->
					<mbs:input id="modifiedByTxt" label="#{msgs['common.label.modified.by']}" displayValidState="false"
						rendered="#{dhaController.selectedDHA.modifiedBy != null}" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						disabled="true" inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.modifiedBy}" />

					<!-- Last Modified (Only displayed when editing existing) -->
					<mbs:input id="lastModifiedTxt" label="#{msgs['common.label.last.modified']}" displayValidState="false"
						rendered="#{dhaController.selectedDHA.lastModified != null}" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						disabled="true" inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.lastModified}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
				</div>
				<!-- DHA field group -->
				<div class="col-xs-12 col-sm-6">

					<!-- Employee Type -->
					<mbs:selectOneMenu labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-5 col-md-6"
						value="#{dhaController.selectedDHA.empType}" id="empTypeDrp" label="#{msgs['label.dha.emp.type']}" required="true">
						<f:selectItems value="#{dhaController.employeeTypes}" var="item" itemLabel="#{msgs[item.employeeTypeLabel]}"
							itemValue="#{item.employeeTypeValue}" for="#{dhaController.selectedDHA.empType}" />
						<f:ajax event="change" />
					</mbs:selectOneMenu>

					<!-- FTE -->
					<mbs:input id="fteTxt" label="#{msgs['label.dha.fte']}" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						displayValidState="false" required="true" inputStyleClass="col-xs-12 col-sm-5 col-md-6"
						value="#{dhaController.selectedDHA.fteString}" maxlength="6">
						<f:ajax event="blur" />
					</mbs:input>

					<!-- Contract Town Name dropdown -->
					<mbs:selectOneMenu labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-5 col-md-6"
						value="#{dhaController.selectedDHA.contractTownName}" id="contractTownNameDrp"
						label="#{msgs['label.dha.contract.town.name']}" disabled="#{dhaController.selectedDHA.zoneId != null}"
						required="true">
						<f:selectItems value="#{dhaController.contractTownNames}" var="item" itemLabel="#{item}" itemValue="#{item}"
							for="#{dhaController.selectedDHA.contractTownName}" />
						<f:ajax render="@form" event="change" listener="#{dhaController.contractTownChangeListener}" />
					</mbs:selectOneMenu>

					<!-- Zone ID dropdown -->
					<mbs:selectOneMenu labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-5 col-md-6"
						value="#{dhaController.selectedDHA.zoneId}" id="zoneIdDrp" label="#{msgs['label.dha.zone.id']}" required="true"
						rendered="#{dhaController.selectedDHA.contractTownName != null}">
						<f:selectItems value="#{dhaController.zoneIds.entrySet()}" var="item" itemLabel="#{item.key}"
							itemValue="#{item.key}" for="#{dhaController.selectedDHA.zoneId}" />
						<f:ajax render="@form" event="change" listener="#{dhaController.zoneIdChangeListener}" />
					</mbs:selectOneMenu>

					<!-- Zone name -->
					<mbs:input id="zoneNameTxt" label="#{msgs['label.dha.zone.name']}" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						disabled="true" rendered="#{dhaController.selectedDHA.contractTownName != null}" displayValidState="false"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.zoneName}" />

					<!-- DHA Code dropdown -->
					<mbs:selectOneMenu labelStyleClass="col-xs-12 col-sm-3 col-md-4" inputStyleClass="col-xs-12 col-sm-5 col-md-6"
						value="#{dhaController.selectedDHA.dhaCode}" id="dhaCodeDrp" required="true" label="#{msgs['label.dha.code']}"
						rendered="#{dhaController.selectedDHA.zoneId != null}">
						<f:selectItems value="#{dhaController.dhaCodes.entrySet()}" var="item" itemLabel="#{item.key}"
							itemValue="#{item.key}" for="#{dhaController.selectedDHA.dhaCode}" />
						<f:ajax render="@form" event="change" listener="#{dhaController.dhaCodeChangeListener}" />
					</mbs:selectOneMenu>

					<!-- DHA Description -->
					<mbs:input id="dhaDescriptionTxt" label="#{msgs['label.dha.desc']}" labelStyleClass="col-xs-12 col-sm-3 col-md-4"
						displayValidState="false" disabled="true" rendered="#{dhaController.selectedDHA.zoneId != null}"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.dhaDescription}" />
						
					<!--  Business Arrangement Number -->	
					<mbs:input id="businessArrNumberTxt" label="#{msgs['common.label.business.arr.number']}" 
						displayValidState="false" labelStyleClass="col-xs-12 col-sm-3 col-md-4" maxlength="7"
						inputStyleClass="col-xs-12 col-sm-5 col-md-6" value="#{dhaController.selectedDHA.businessArrangementNumber}" 
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
						<f:ajax event="blur" />						
					</mbs:input>
				</div>
			</div>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md" action="#{dhaController.saveDHARecord}"
						rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{dhaController.closeEditDHAPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeleteDhaForm">
		<mbs:popup id="confirmDeleteDhaPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{dhaController.displayDeleteConfirmation}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}"
						action="#{dhaController.confirmDeleteSelectedDhas}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{dhaController.closeDeleteDhaConfirmationPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			//Expand the search panel
			$("#editDhasView\\:searchEditDHAsPanel\\:dhaPractitionerSearchForm\\:dhaPractitionerSearchHeader").click(function() {
				expandDHAPractitionerSearchPanel();
			});
			// Assists in reseting the Practitioner DHA search form
			$("#editDhasView\\:searchEditDHAsPanel\\:dhaPractitionerSearchForm\\:dhaPractitionerSearchBtnPanel\\:resetPractitionerDhaSearchBtn\\:commandButton").click(function() {
				resetForm("editDhasView\\:searchEditDHAsPanel\\:dhaPractitionerSearchForm");
			});
			// Remove RX option from practitioner Subcategory search dropdown
			removeRXSubcategoryOption("editDhasView\\:searchEditDHAsPanel\\:dhaPractitionerSearchForm\\:practitionerTypeDrp\\:selectOneMenu");
		});
	</script>
</ui:composition>