<mbs:breadcrumbs xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:breadcrumb url="#{request.contextPath}/pages/index.html" label="Home"/>
	<mbs:breadcrumb url="#{request.contextPath}/pages/practitioner/search.html" label="#{msgs['menu.practitioner']}"/>
	<c:if test="#{not empty page}">
		<mbs:breadcrumb url="#{request.contextPath}/pages/practitioner/#{page}.html" label="#{title}"/>
	</c:if>
</mbs:breadcrumbs>
