<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Style parameters -->
	<ui:param name="tableLayoutLabelStyle" value="col-xs-6 col-sm-6 col-md-5" />
	<ui:param name="tableLayoutInputStyle" value="col-xs-6 col-sm-6 col-md-6" />

	<!-- Add new Audit.. Basic information entry for new Audit Criteria (Step 1 of add) -->
	<h:form id="auditTypeSelection" styleClass="form-horizontal">
		<ace:tabSetProxy id="editAuditCriteriaTab" for="#{denticareProxyTabSet.clientId}" />

		<h4>
			<h:outputText value="#{msgs['header.medicare.audit.criteria.pract.new']}" />
		</h4>
		<hr />

		<!-- Audit Type dropdown -->
		<mbs:selectOneMenu id="auditTypeDrpdwn" label="#{msgs['common.label.auditType']}"
			value="#{denticareController.selectedAuditCriteria.auditType}" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
			inputStyleClass="col-xs-12 col-sm-5 col-md-3">
			<f:selectItems value="#{denticareController.denticareAuditTypes.entrySet()}" var="entry" itemLabel="#{entry.value}"
				itemValue="#{entry.key}" for="#{denticareController.selectedAuditCriteria.auditType}" />
		</mbs:selectOneMenu>
		<!-- Practitioner ID -->
		<mbs:input id="practitionerIdTxt" label="#{msgs['common.label.practitioner.id']}" maxlength="6"
			labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-3"
			value="#{denticareController.selectedAuditCriteria.providerNumber}" />
		<!-- Practitioner Type -->
		<mbs:input id="practitionerTypeDrp" label="#{msgs['common.label.subcategory']}" disabled="true"
			displayValidState="false" labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-3"
			value="#{denticareController.selectedAuditCriteria.providerType}" />

		<mbs:commandButtonBar id="addNewAuditCriteriaBtnPanel">
			<mbs:commandButton value="#{msgs['button.next']}" action="#{denticareController.displayAddNewAuditCriteriaForm}"
				type="primary" size="sm" />
		</mbs:commandButtonBar>
	</h:form>

	<!-- Audit edit form begins -->
	<h:form id="auditCriteriaEditForm" styleClass="form-horizontal hide-elements">
		<!-- JTRAX-62 07-MAR-18 BCAINNE -->
		<icecore:defaultAction action="#{denticareController.executeReturnToAuditCriteriaSearch}" key="Enter"/>

		<div class="row">
			<!-- Column 1 (Audit Criteria Information section, Service Information, Inclusive/Exclusive) -->
			<div class="col-xs-12 col-sm-6 col-md-6">
				<h4>
					<h:outputText value="#{msgs['header.medicare.audit.info']}" />
				</h4>
				<hr />
				<!-- Audit Criteria ID field -->
				<mbs:input id="auditCriteriaIdTxt" label="#{msgs['label.audit.crit.audit.criteria.id']}"
					rendered="#{denticareController.editMode}" displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}"
					disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{denticareController.selectedAuditCriteria.auditCriteriaId}" />

				<!-- Audit Type -->
				<mbs:input id="auditTypeTxt" label="#{msgs['label.audit.crit.audit.type']}"
					labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
					inputStyleClass="#{tableLayoutInputStyle}" value="#{denticareController.selectedAuditCriteria.auditType}" />

				<!-- Payment From Date -->
				<h:panelGroup id="paymentFromDate" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.from.date']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="fromDateInput"
							disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
							value="#{denticareController.selectedAuditCriteria.fromPaymentDate}" pattern="#{dateFormat}"
							renderAsPopup="true" showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>

				<!-- Payment To Date -->
				<h:panelGroup id="paymentToDate" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.to.date']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="toDateInput"
							disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
							value="#{denticareController.selectedAuditCriteria.toPaymentDate}" pattern="#{dateFormat}"
							renderAsPopup="true" showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>

				<!-- Audit From Date -->
				<h:panelGroup id="auditFromDateCal" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.from']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditFromDateInput"
							disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
							value="#{denticareController.selectedAuditCriteria.auditFrom}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>
				<!-- Audit To Date -->
				<h:panelGroup id="auditToDateCal" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.to']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditToDateInput"
							disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
							value="#{denticareController.selectedAuditCriteria.auditTo}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>

				<!-- Audit Latest Payment Date checkbox -->
				<h:panelGroup id="ctrLatestPaymentDate" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.latest.payment.date']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="latestPaymentDateChk"
								disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
								value="#{denticareController.selectedAuditCriteria.auditFromLastIndicator}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Only displayed on edit -->
				<h:panelGroup rendered="#{denticareController.editMode}">
					<!-- Modified By -->
					<mbs:input id="modifiedByTxt" label="#{msgs['common.label.modified.by']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{denticareController.selectedAuditCriteria.modifiedBy}" />
					<!-- Last Modified -->
					<mbs:input id="lastModifiedTxt" label="#{msgs['common.label.last.modified']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{denticareController.selectedAuditCriteria.lastModified}">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>

				<!-- Edit form button bar -->
				<mbs:commandButtonBar id="auditCriteriaEditBtnPanel">
					<mbs:commandButton value="#{msgs['button.save']}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
						action="#{denticareController.executeAuditCriteriaSave}" type="primary" size="sm" />

					<!-- Back button for editing existing -->
					<mbs:commandButton rendered="#{denticareController.editMode}" value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{denticareController.executeReturnToAuditCriteriaSearch}" type="danger" size="sm" />

					<!-- Back button for adding new -->
					<mbs:commandButton rendered="#{!denticareController.editMode}"
						value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{denticareController.returnToAddNewAuditTypeSelection}" type="danger" size="sm" />
				</mbs:commandButtonBar>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<!-- Service Information section -->
				<h4>#{msgs['header.medicare.audit.service.info']}</h4>
				<hr />
				<!-- Number of Services to Audit -->
				<mbs:input id="numOfServicesToAuditTxt" label="#{msgs['label.audit.crit.audit.services.audit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" displayValidState="false"
					labelStyleClass="#{tableLayoutLabelStyle}" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{denticareController.selectedAuditCriteria.numberOfServicesToAudit}">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Last Audit Information section (only displayed on edit) -->
				<h:panelGroup rendered="#{denticareController.editMode}">
					<h4>
						<h:outputText value="#{msgs['header.medicare.audit.criteria.last']}" />
					</h4>
					<hr />
					<!-- Last Audit Payment Date -->
					<mbs:input id="lastAuditPaymentDate" label="#{msgs['label.audit.crit.audit.last.payment']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{denticareController.selectedAuditCriteria.lastPaymentDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
					<!-- Last Audit Run number -->
					<mbs:input id="lastAuditRunNumber" label="#{msgs['label.audit.crit.audit.last.run.num']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{denticareController.selectedAuditCriteria.lastAuditRunNumber}" />
					<!-- Last Audit Date -->
					<mbs:input id="lastAuditDate" label="#{msgs['label.audit.crit.audit.last.date']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
						inputStyleClass="#{tableLayoutInputStyle}" value="#{denticareController.selectedAuditCriteria.lastAuditDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>
			</div>
		</div>
	</h:form>
</ui:composition>