<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<mbs:panel header="#{msgs['header.denticare.audit.letter.response.search']}" id="searchEditDenticareALRPanel">
		<!-- Search panel/form -->
		<h:form id="denticareALRSearchForm" styleClass="form-horizontal">

			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{denticareController.executeDenticareALRSearch}" key="Enter"/>
				
			<ace:tabSetProxy id="maintaindenticareAuditResppTab" for="#{denticareProxyTabSet.clientId}" />

			<!-- Audit run number -->
			<mbs:input id="auditRunNumberinputTxt" label="#{msgs['label.audit.letter.response.audit.run.number']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{denticareController.denticareALRSearchCriteria.auditRunNumber}" fAttributeName="disableGrouping"
				fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Practitioner ID -->
			<mbs:input id="practitionerIDTxt" label="#{msgs['common.label.practitioner.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{denticareController.denticareALRSearchCriteria.practitionerNumber}"
				fAttributeName="disableGrouping" fAttributeValue="true" maxlength="6">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Subcategory -->
			<mbs:input id="practitionerTypeTxt" label="#{msgs['common.label.subcategory']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="DE" disabled="true" />

			<!-- Practitioner Name -->
			<mbs:input id="practitionerNameInputTxt" label="#{msgs['common.label.practitioner.name']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{denticareController.denticareALRSearchCriteria.practitionerName}" />

			<!-- HCN/Client ID -->
			<mbs:input id="hcnClientIDTxt" label="#{msgs['label.audit.letter.response.client.id']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{denticareController.denticareALRSearchCriteria.hcnClientID}" />

			<!-- Audit Type -->
			<mbs:selectOneMenu id="auditTypeInputTxt" value="#{denticareController.denticareALRSearchCriteria.auditType}"
				label="#{msgs['label.audit.letter.response.type']}" labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{denticareController.denticareAuditTypes.entrySet()}" var="item" itemLabel="#{item.value}"
					itemValue="#{item.key}" for="#{denticareController.denticareALRSearchCriteria.auditType}" />
			</mbs:selectOneMenu>

			<!-- Response Status -->
			<mbs:selectOneMenu id="responseStatusInputTxt"
				value="#{denticareController.denticareALRSearchCriteria.responseStatus}"
				label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{denticareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
					itemValue="#{item.key}" for="#{denticareController.denticareALRSearchCriteria.responseStatus}" />
			</mbs:selectOneMenu>

			<!-- Audit from date -->
			<mbs:calendar id="auditFromDate" label="#{msgs['label.audit.letter.response.audit.from.date']}" showOn="both"
				value="#{denticareController.denticareALRSearchCriteria.auditFromDate}" labelStyleClass="#{labelStyle}"
				placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />

			<!-- Audit to date -->
			<mbs:calendar id="auditToDate" label="#{msgs['label.audit.letter.response.audit.to.date']}" showOn="both"
				value="#{denticareController.denticareALRSearchCriteria.auditToDate}" labelStyleClass="#{labelStyle}"
				placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />

			<!-- Button bar -->
			<mbs:commandButtonBar id="denticareauditRepSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
					action="#{denticareController.executeDenticareALRSearch}" />
				<mbs:commandButton id="resetSearchBtn" value="#{msgs['button.clear']}" type="danger" size="sm">
					<f:ajax event="click" immediate="true" listener="#{denticareController.executeClearDenticareALRSearch}"
						render="@form" />
				</mbs:commandButton>
			</mbs:commandButtonBar>

			<!-- Denticare Audit Letter Responses search results -->
			<h:panelGroup id="denticareALRSearchResults"
				styleClass="#{denticareController.displayAuditLetterResponsesSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{denticareController.totalAuditLetterResponses}" />
				</h4>

				<!-- Number of Letters created -->
				<h4>
					<h:outputText rendered="#{denticareController.displayNumberOfLettersCreated}"
						value="#{msgs['label.audit.number.of.letters']} #{denticareController.denticareALRSearchCriteria.auditRunNumber} : #{denticareController.numberOfLettersCreated}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="denticareALRSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{denticareController.denticareAuditLetterResponses}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Practitioner Number -->
					<ace:column id="searchPractitionerNumberCol" headerText="#{msgs['common.label.practitioner.id']}"
						sortBy="#{row.practitionerNumber}">
						<h:outputText value="#{row.practitionerNumber}" />
					</ace:column>

					<!-- provider type -->
					<ace:column id="searchPractitionerTypeCol" headerText="#{msgs['common.label.type']}"
						sortBy="#{row.practitionerType}">
						<h:outputText value="#{row.practitionerType}" />
					</ace:column>

					<!-- Practitioner Name col -->
					<ace:column id="searchProviderName" headerText="#{msgs['common.label.practitioner.name']}"
						sortBy="#{row.practitionerName}">
						<h:outputText value="#{row.practitionerName}" />
					</ace:column>

					<!-- HCN Client ID -->
					<ace:column id="searchClientId" headerText="#{msgs['label.audit.letter.response.client.id']}"
						sortBy="#{row.healthCardNumber}">
						<h:outputText value="#{row.healthCardNumber}" />
					</ace:column>

					<!-- search Audit Type -->
					<ace:column id="searchAuditTypeCol" headerText="#{msgs['label.audit.letter.response.type']}"
						sortBy="#{row.auditType}">
						<h:outputText value="#{row.auditType}" />
					</ace:column>

					<!-- search Audit Date -->
					<ace:column id="searchAuditDateCol" headerText="#{msgs['label.audit.letter.response.audit.date']}"
						sortBy="#{row.auditLetterCreationDate}">
						<h:outputText value="#{row.auditLetterCreationDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- search Responds Status -->
					<ace:column id="searchRespondStatusCol" headerText="#{msgs['label.audit.letter.response.response.status']}"
						sortBy="#{row.responseStatus}">
						<h:outputText value="#{row.responseStatus}" />
					</ace:column>

					<!-- search Claim Ref Number -->
					<ace:column id="searchClaimRefNumCol" headerText="#{msgs['label.audit.letter.response.claim.number']}"
						sortBy="#{row.claimNumber}">
						<h:outputText value="#{row.claimNumber}" />
					</ace:column>

					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
								type="primary" size="xs" action="#{denticareController.executeEditSelectedDCALR(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Edit selected Dental care audit letter response record panel -->

		<h:form id="denticareALREditForm">
			<h:panelGroup id="denticareALREditWrapper" styleClass="hide-elements">
				<!-- Row 1 for Audit information-->
				<div class="row">
					<!-- Message output -->

					<div class="col-xs-7 col-sm-12">

						<div class="panel panel-primary" id="auditInfoPanel">
							<div class="panel-heading" id="auditInfoHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.denticare.audit.letter.response.edit']}</div>
							</div>
							<div class="panel-body" id="auditInfoWrapper">
								<h5>#{msgs['header.denticare.audit.letter.response.edit.details']}</h5>
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Run Number -->
									<mbs:input label="#{msgs['label.audit.letter.response.audit.run.number']}" id="editAuditRunNumber"
										value="#{denticareController.selectedDCALR.auditRunNumber}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider number -->
									<mbs:input label="#{msgs['common.label.practitioner.id']}" id="editProviderNumber"
										value="#{denticareController.selectedDCALR.practitionerNumber}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider Type -->
									<mbs:input label="#{msgs['common.label.subcategory']}" id="editProviderType"
										value="#{denticareController.selectedDCALR.practitionerType}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider Name -->
									<mbs:input label="#{msgs['common.label.practitioner.name']}" id="editProviderName"
										value="#{denticareController.selectedDCALR.practitionerName}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- second column Information -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Type -->
									<mbs:input label="#{msgs['label.audit.letter.response.type']}" id="editAuditType"
										value="#{denticareController.selectedDCALR.auditType}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Claim Selection Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.claim.selection.date']}" id="editClaimSelectionDate"
										value="#{denticareController.selectedDCALR.claimSelectionDate}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Responds Status -->
									<mbs:selectOneMenu id="editRespondsStatus" value="#{denticareController.selectedDCALR.responseStatus}"
										label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:selectItems value="#{denticareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
											itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" itemValue="#{item.key}"
											for="#{denticareController.selectedDCALR.responseStatus}" />
									</mbs:selectOneMenu>
									<!-- Audit Letter Creation Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.creation.date']}" id="editCreationDate"
										value="#{denticareController.selectedDCALR.auditLetterCreationDate}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Audit Letter Note -->
									<mbs:input label="#{msgs['label.audit.letter.response.note']}" id="editNote" maxlength="150"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{denticareController.selectedDCALR.auditNote}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- Additional Information Part 2 -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Chargeback Amount -->
									<mbs:input label="#{msgs['label.audit.letter.response.charge.back.amount']}" id="editChargeBackDate"
										value="#{denticareController.selectedDCALR.chargeBackAmount}" displayValidState="false"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="currencyConverter" for="input" />
									</mbs:input>

									<!-- nunmber of Times Sent -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.sent']}" id="editNumberOfTimesSent"
										value="#{denticareController.selectedDCALR.numberOfTimesSent}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # Claims Affected -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.claims.affected']}" id="editClaimsAffected"
										value="#{denticareController.selectedDCALR.numberOfClaimAffected}" displayValidState="false"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="integerConverter" for="input" />
									</mbs:input>

									<!-- # Modified by -->
									<mbs:input label="#{msgs['common.label.modified.by']}" id="editModifiedBy"
										value="#{denticareController.selectedDCALR.modifiedBy}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # Last Modifed -->
									<mbs:input label="#{msgs['common.label.last.modified']}" id="editLastModified"
										value="#{denticareController.selectedDCALR.lastModified}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
									</mbs:input>
								</div>
							</div>
						</div>
					</div>

				</div>

				<!-- Row 2 for claim information -->
				<div class="row">
					<div class="col-xs-7 col-sm-12">
						<div class="panel panel-primary" id="claimInformationPanel">
							<div class="panel-heading" id="claimInformationHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.denticare.audit.letter.response.claim.information']}</div>
							</div>
							<div class="panel-body" id="claimInformationWrapper">
								<div class="row">
									<div class="col-xs-3 col-sm-4">
										<hr />
										<!-- Claim Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.number']}" id="editClaimNumber"
											value="#{denticareController.selectedDCALR.claimNumber}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Item Code -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.item.code']}" id="editItemCode"
											value="#{denticareController.selectedDCALR.itemCode}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									</div>
									<div class="col-xs-3 col-sm-4">
										<hr />
										<!-- Service Date -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.service.date']}" id="editServiceDate"
											value="#{denticareController.selectedDCALR.serviceDate}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
											<f:convertDateTime pattern="#{dateFormat}" for="input" />
										</mbs:input>

										<!-- Paid Amount-->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.paid.amount']}" id="editPaidAmount"
											value="#{denticareController.selectedDCALR.paidAmount}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
											<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
										</mbs:input>
									</div>
									<div class="col-xs-3 col-sm-4">

										<hr />
										<!-- Service Description -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.service.desc']}" id="editServiceDesc"
											value="#{denticareController.selectedDCALR.serviceDescription}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Healther Card Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.health.card.number']}" id="editHCN"
											value="#{denticareController.selectedDCALR.healthCardNumber}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Individual Name -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.individual.name']}" id="editIndividualName"
											value="#{denticareController.selectedDCALR.individualName}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<mbs:commandButtonBar>
					<mbs:commandButton id="saveBtnID" value="#{msgs['button.save']}" type="primary" size="sm"
						action="#{denticareController.executeSaveDenticareALR}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />
					<mbs:commandButton id="backBtnID" value="#{msgs['common.label.cancel.back.to.search']}" type="danger" size="sm"
						action="#{denticareController.executeReturnToALRSearch}" />
				</mbs:commandButtonBar>
			</h:panelGroup>
		</h:form>
	</mbs:panel>
</ui:composition>