<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="nspp-audit-web">
        <wb-resource deploy-path="/" source-path="/WebContent" tag="defaultRootSource"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/.apt_generated"/>
        <property name="java-output-path" value="/nspp-audit-web/WebContent/WEB-INF/classes"/>
        <property name="jsf.standard.scheme.managedBean" value="singleFile"/>
        <property name="jsf.standard.scheme.other" value="singleFile"/>
        <property name="jsf.standard.scheme.navigationRule.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.standard.scheme.pageCodeBean" value="singleFile"/>
        <property name="context-root" value="nspp-audit-web"/>
        <property name="jsf.standard.scheme.pageCodeBean.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.standard.scheme.other.filePath" value="/WEB-INF/faces-config.xml"/>
        <property name="jsf.standard.scheme.navigationRule" value="singleFile"/>
        <property name="jsf.standard.scheme.managedBean.filePath" value="/WEB-INF/faces-config.xml"/>
    </wb-module>
</project-modules>