<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.locum.maintain']}" id="searchEditLocumPanel">
		<!-- Search panel/form -->
		<h:form id="locumHostsSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{locumController.executeLocumSearch}" key="Enter"/>
			
			<ace:tabSetProxy id="locumSearchTab" for="#{locumProxyTabSet.clientId}" />

			<!-- Practitioner ID -->
			<mbs:input id="practitionerNumberTxt" label="#{msgs['common.label.practitioner.id']}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
				value="#{locumController.locumSearchCriteria.practitionerNumber}" maxlength="6" fAttributeName="disableGrouping"
				fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Practitioner Name -->
			<mbs:input id="practitionerNameTxt" label="#{msgs['common.label.practitioner.name']}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
				value="#{locumController.locumSearchCriteria.practitionerName}" maxlength="65" />

			<!-- Practitioner Type -->
			<mbs:selectOneMenu value="#{locumController.locumSearchCriteria.practitionerType}" id="practitionerTypeDrp"
				label="#{msgs['common.label.subcategory']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-12 col-sm-3 col-md-2">
				<f:selectItems value="#{locumController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.value.typeCode} - #{item.value.typeDesc}" itemValue="#{item.value.typeCode}"
					for="#{locumController.locumSearchCriteria.practitionerType}" />
			</mbs:selectOneMenu>

			<!-- Locum Type -->
			<mbs:selectOneMenu value="#{locumController.locumSearchCriteria.locumType}" id="locumTypeDrp" label="Locum Type"
				labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2">
				<f:selectItems value="#{locumController.locumTypes}" var="option" itemLabel="#{msgs[option.label]}"
					itemValue="#{option}" />
			</mbs:selectOneMenu>

			<!-- City -->
			<mbs:input id="cityTxt" label="#{msgs['common.label.city']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-12 col-sm-3 col-md-2" value="#{locumController.locumSearchCriteria.city}" maxlength="30" />

			<!-- Specialty -->
			<mbs:selectOneMenu value="#{locumController.locumSearchCriteria.specialty}" id="specialtyDrp"
				label="#{msgs['common.label.specialty']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-12 col-sm-3 col-md-2">
				<f:selectItems value="#{locumController.specialtyDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.value.specialtyDesc}" itemValue="#{item.value.specialtyCode}"
					for="#{locumController.locumSearchCriteria.specialty}" />
			</mbs:selectOneMenu>

			<!-- License Number -->
			<mbs:input id="licenseNumberTxt" label="#{msgs['label.locum.liscense.number']}"
				labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
				value="#{locumController.locumSearchCriteria.licenseNumber}" maxlength="9" fAttributeName="disableGrouping"
				fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Button bar -->
			<mbs:commandButtonBar id="locumSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
					action="#{locumController.executeLocumSearch}" />
				<mbs:commandButton id="resetLocumSearchBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
					action="#{locumController.executeClearLocumSearch}" />
			</mbs:commandButtonBar>

			<!-- Displays Locum search results -->
			<h:panelGroup id="locumSearchResults"
				styleClass="#{locumController.displayLocumSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{locumController.totalLocums}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="locumSearchResultsTable" styleClass="table-horizontal-adjustment" value="#{locumController.locumSearchResults}"
					emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Practitioner Number/Type col -->
					<ace:column id="practitionerNumberCol" headerText="#{msgs['common.label.practitioner.id']}"
						sortBy="#{row.practitionerNumber} - #{row.practitionerType}">
						<h:outputText value="#{row.practitionerNumber} - #{row.practitionerType}" />
					</ace:column>
					<!-- Practitioner Name col -->
					<ace:column id="practitionerNameCol" headerText="#{msgs['common.label.practitioner.name']}"
						sortBy="#{row.practitionerName}">
						<h:outputText value="#{row.practitionerName}" />
					</ace:column>
					<!-- Birth Date col -->
					<ace:column id="birthDateCol" headerText="#{msgs['common.label.birth.date']}" sortBy="#{row.birthDate}">
						<h:outputText value="#{row.birthDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<!-- Host col -->
					<ace:column id="hostCol" headerText="#{msgs['label.locum.host']}">
						<h:panelGroup rendered="#{row.locumHost}">
							<i class="fa fa-check-square"></i>
						</h:panelGroup>
						<h:panelGroup rendered="#{!row.locumHost}">
							<i class="fa fa-square-o"></i>
						</h:panelGroup>
					</ace:column>
					<!-- Visitor col -->
					<ace:column id="visitorCol" headerText="#{msgs['label.locum.visitor']}">
						<h:panelGroup rendered="#{row.locumVisitor}">
							<i class="fa fa-check-square"></i>
						</h:panelGroup>
						<h:panelGroup rendered="#{!row.locumVisitor}">
							<i class="fa fa-square-o"></i>
						</h:panelGroup>
					</ace:column>
					<!-- City col -->
					<ace:column id="cityCol" headerText="#{msgs['common.label.city']}" sortBy="#{row.city}">
						<h:outputText value="#{row.city}" />
					</ace:column>
					<!-- Edit col -->
					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
								action="#{locumController.editSelectedLocum(row)}"
								rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Data display and form for selected Locum begins -->
		<h:panelGroup id="locumEditWrapper" styleClass="hide-elements">
			<h:form id="locumEditForm" styleClass="form-horizontal">
				<!-- JTRAX-62 07-MAR-18 BCAINNE -->
				<icecore:defaultAction action="#{locumController.executePractitionerSearch}" key="Enter"/>

				<h4>#{msgs['header.locum']} : #{locumController.selectedLocumRecord.practitionerNumber}
					#{locumController.selectedLocumRecord.practitionerType} - #{locumController.selectedLocumRecord.practitionerName}
					(#{locumController.selectedLocumRecord.locumHost ? msgs['header.locum.host'] : msgs['header.locum.visitor']})</h4>

				<!-- Add HOST/VISITOR record panel -->
				<div class="panel panel-primary" id="addPractitionerSearchPanel">
					<div class="panel-heading expandDiv" id="addPractitionerSearchHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandAddPractitionerSearch" class="fa fa-plus-circle"></i> #{msgs['common.label.add']}
							#{locumController.selectedLocumRecord.locumHost ? msgs['label.locum.visitor.practitioner.plural'] :
							msgs['label.locum.host.practitioner.plural']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="locumHostsSearchWrapper">
						<!-- Practitioner ID -->
						<mbs:input id="addPractitionerNumberTxt" label="#{msgs['common.label.practitioner.id']}" maxlength="6"
							labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
							value="#{locumController.locumPractitionerSearchCriteria.practitionerNumber}" fAttributeName="disableGrouping"
							fAttributeValue="true">
							<f:converter converterId="integerConverter" for="input" />
						</mbs:input>

						<!-- Practitioner Type -->
						<mbs:selectOneMenu value="#{locumController.locumPractitionerSearchCriteria.practitionerType}"
							id="addPractitionerTypeDrp" label="#{msgs['common.label.subcategory']}"
							labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2">
							<f:selectItems value="#{locumController.subcategoryDropdownItems.entrySet()}" var="item"
								itemLabel="#{item.value.typeCode} - #{item.value.typeDesc}" itemValue="#{item.value.typeCode}"
								for="#{locumController.locumPractitionerSearchCriteria.practitionerType}" />
						</mbs:selectOneMenu>

						<!-- Practitioner Name -->
						<mbs:input id="addPractitionerNameTxt" label="#{msgs['common.label.practitioner.name']}"
							labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
							value="#{locumController.locumPractitionerSearchCriteria.practitionerName}" />

						<!-- City -->
						<mbs:input id="addCityTxt" label="#{msgs['common.label.city']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
							inputStyleClass="col-xs-12 col-sm-3 col-md-2" value="#{locumController.locumPractitionerSearchCriteria.city}" />

						<!-- Specialty -->
						<mbs:selectOneMenu value="#{locumController.locumPractitionerSearchCriteria.specialty}" id="addSpecialtyDrp"
							label="#{msgs['common.label.specialty']}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
							inputStyleClass="col-xs-12 col-sm-3 col-md-2">
							<f:selectItems value="#{locumController.specialtyDropdownItems.entrySet()}" var="item"
								itemLabel="#{item.value.specialtyDesc}" itemValue="#{item.value.specialtyCode}"
								for="#{locumController.locumPractitionerSearchCriteria.specialty}" />
						</mbs:selectOneMenu>

						<!-- License Number -->
						<mbs:input id="licenseNumberTxt" label="#{msgs['label.locum.liscense.number']}" maxlength="9"
							labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
							value="#{locumController.locumPractitionerSearchCriteria.licenseNumber}" fAttributeName="disableGrouping"
							fAttributeValue="true">
							<f:converter converterId="integerConverter" for="input" />
						</mbs:input>

						<!-- Button bar -->
						<mbs:commandButtonBar id="addPractitionerSearchBtnPanel">
							<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
								action="#{locumController.executePractitionerSearch}" />
							<mbs:commandButton value="#{msgs['button.clear']}" type="danger" size="sm"
								action="#{locumController.locumPractitionerSearchCriteria.resetSearchCriteria}" />
						</mbs:commandButtonBar>
					</div>
				</div>

				<!-- Display either Host Locums or Visitor Locums depending on the select Locum's type -->
				<ace:dataTable id="locumDataTable" value="#{locumController.selectedLocumRecord.locums}" var="row"
					stateMap="#{locumController.locumsInLocumStateMap}" selectionMode="multiple"
					styleClass="table-horizontal-adjustment" emptyMessage="#{msgs['common.label.no.data']}">

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- Locum HOST details col -->
					<ace:column id="locumHostCol" rendered="#{locumController.selectedLocumRecord.locumHost ? false : true}"
						sortBy="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}"
						filterBy="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}"
						filterMatchMode="contains" headerText="#{msgs['label.locum.host.practitioner']}">
						<h:outputText value="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}" />
					</ace:column>
					<!-- Locum VISTIOR details col -->
					<ace:column id="locumVisitorCol" rendered="#{locumController.selectedLocumRecord.locumHost ? true : false}"
						sortBy="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}"
						filterBy="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}"
						filterMatchMode="contains" headerText="#{msgs['label.locum.visitor.practitioner']}">
						<h:outputText value="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}" />
					</ace:column>

					<!-- Effective From col -->
					<ace:column id="locumEffectiveFromCol" headerText="#{msgs['common.label.effective.from']}"
						sortBy="#{row.effectiveFrom}" filterBy="#{row.effectiveFromString}" filterMatchMode="contains">

						<!-- Custom impl of DatePicker -->
						<h:panelGroup id="ctrFrom" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
							<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
								<ace:dateTimeEntry styleClass="form-control" id="effectiveFromInput" value="#{row.effectiveFrom}"
									pattern="#{dateFormat}" renderAsPopup="true" showOn="both" effect="fadeIn">
									<ace:ajax event="dateSelect" listener="#{locumController.editted(row)}" />
									<ace:ajax event="dateTextChange" listener="#{locumController.editted(row)}" />
								</ace:dateTimeEntry>
								<ace:message for="effectiveFromInput" escape="false" />
							</h:panelGroup>
						</h:panelGroup>

					</ace:column>
					<!-- Effective To col -->
					<ace:column id="locumEffectiveToCol" headerText="#{msgs['common.label.effective.to']}" sortBy="#{row.effectiveTo}"
						filterBy="#{row.effectiveToString}" filterMatchMode="contains">

						<!-- Custom impl of DatePicker -->
						<h:panelGroup id="ctrTo" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
							<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
								<ace:dateTimeEntry styleClass="form-control" id="effectiveToInput" value="#{row.effectiveTo}"
									pattern="#{dateFormat}" renderAsPopup="true" showOn="both" effect="fadeIn">
									<ace:ajax event="dateSelect" listener="#{locumController.editted(row)}" />
									<ace:ajax event="dateTextChange" listener="#{locumController.editted(row)}" />
								</ace:dateTimeEntry>
								<ace:message for="effectiveToInput" escape="false" />
							</h:panelGroup>
						</h:panelGroup>

					</ace:column>
					<!-- Modified By col -->
					<ace:column id="locumModifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
						filterBy="#{row.modifiedBy}" filterMatchMode="contains">
						<h:outputText value="#{row.modifiedBy}" />
					</ace:column>
					<!-- Last Modified col -->
					<ace:column id="locumLastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
						sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
						<h:outputText value="#{row.lastModifiedString}" />
					</ace:column>
				</ace:dataTable>

				<!-- Save & Delete selected buttons -->
				<mbs:commandButtonBar>
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="sm"
						action="#{locumController.saveSelectedLocum}"
						rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
					<mbs:commandButton value="#{msgs['button.delete.selected']}" type="danger" size="sm"
						action="#{locumController.deleteLocumsFromSelectedLocum}"
						rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
					<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}" type="danger" size="sm"
						action="#{locumController.executeReturnToLocumSearch}" />
				</mbs:commandButtonBar>
			</h:form>
		</h:panelGroup>
	</mbs:panel>

	<!-- Pop up window that displays invalid locums -->
	<h:form id="InvalidlocumsForm">
		<mbs:popup id="invalidLocumPopup" title="#{msgs['header.locum.fix.invalid.locums']}"
			visible="#{locumController.displayInvalidLocums}" size="lg"
			closeButtonAction="#{locumController.closeInvalidLocumsResultsPopup}">

			<ace:dataTable id="invalidLocumDataTable" value="#{locumController.selectedLocumRecord.invalidLocums}" var="row"
				stateMap="#{locumController.locumsInLocumStateMap}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Locum HOST details col -->
				<ace:column id="locumHostCol" rendered="#{locumController.selectedLocumRecord.locumHost ? false : true}"
					sortBy="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}"
					filterBy="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}"
					filterMatchMode="contains" headerText="#{msgs['label.locum.host.practitioner']}">
					<h:outputText value="#{row.hostPractitionerNumber} #{row.hostPractitionerType} - #{row.practitionerName}" />
				</ace:column>
				<!-- Locum VISTIOR details col -->
				<ace:column id="locumVisitorCol" rendered="#{locumController.selectedLocumRecord.locumHost ? true : false}"
					sortBy="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}"
					filterBy="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}"
					filterMatchMode="contains" headerText="#{msgs['label.locum.visitor.practitioner']}">
					<h:outputText value="#{row.visitingPractitionerNumber} #{row.visitingPractitionerType} - #{row.practitionerName}" />
				</ace:column>

				<!-- Effective From col -->
				<ace:column id="locumEffectiveFromCol" headerText="#{msgs['common.label.effective.from']}"
					sortBy="#{row.effectiveFrom}" filterBy="#{row.effectiveFromString}" filterMatchMode="contains">

					<!-- Custom impl of DatePicker -->
					<h:panelGroup id="ctrFrom" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
						<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
							<ace:dateTimeEntry styleClass="form-control" id="effectiveFromInput" value="#{row.effectiveFrom}"
								pattern="#{dateFormat}" renderAsPopup="true" showOn="both" effect="fadeIn">
								<ace:ajax event="dateSelect" listener="#{locumController.editted(row)}" />
								<ace:ajax event="dateTextChange" listener="#{locumController.editted(row)}" />
							</ace:dateTimeEntry>
							<ace:message for="effectiveFromInput" escape="false" />
						</h:panelGroup>
					</h:panelGroup>

				</ace:column>
				<!-- Effective To col -->
				<ace:column id="locumEffectiveToCol" headerText="#{msgs['common.label.effective.to']}" sortBy="#{row.effectiveTo}"
					filterBy="#{row.effectiveToString}" filterMatchMode="contains">

					<!-- Custom impl of DatePicker -->
					<h:panelGroup id="ctrTo" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
						<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
							<ace:dateTimeEntry styleClass="form-control" id="effectiveToInput" value="#{row.effectiveTo}"
								pattern="#{dateFormat}" renderAsPopup="true" showOn="both" effect="fadeIn">
								<ace:ajax event="dateSelect" listener="#{locumController.editted(row)}" />
								<ace:ajax event="dateTextChange" listener="#{locumController.editted(row)}" />
							</ace:dateTimeEntry>
							<ace:message for="effectiveToInput" escape="false" />
						</h:panelGroup>
					</h:panelGroup>

				</ace:column>
				<!-- Modified By col -->
				<ace:column id="locumModifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
					filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<!-- Last Modified col -->
				<ace:column id="locumLastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
					sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
			<!-- Save fixes-->
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="sm"
					action="#{locumController.saveSelectedLocum}"
					rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
			</mbs:commandButtonBar>
		</mbs:popup>
	</h:form>

	<!-- Pop up windows that displays the Practitioner search results -->
	<h:form id="practitionerSearchResultsForm">
		<mbs:popup id="practitionerSearchResultsPopup" title="#{msgs['header.common.search.results']}"
			visible="#{locumController.displayPractitionerSearchResultsPopup}" size="lg"
			closeButtonAction="#{locumController.closePractitionerSearchResultsPopup}">

			<ace:dataTable rows="10" paginator="true" paginatorPosition="bottom" var="row" selectionMode="multiple"
				stateMap="#{locumController.locumPractitionerSearchResultsStateMap}" styleClass="table-horizontal-adjustment"
				value="#{locumController.locumPractitionerSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Practitioner ID/Type col -->
				<ace:column id="practitionerNumberCol" headerText="#{msgs['common.label.practitioner']}"
					filterBy="#{row.practitionerNumber} - #{row.practitionerType}" filterMatchMode="contains"
					sortBy="#{row.practitionerNumber} - #{row.practitionerType}">
					<h:outputText value="#{row.practitionerNumber} - #{row.practitionerType}" />
				</ace:column>
				<!-- Practitioner Name col -->
				<ace:column id="practitionerNameCol" headerText="#{msgs['common.label.practitioner.name']}"
					filterBy="#{row.practitionerName}" filterMatchMode="contains" sortBy="#{row.practitionerName}">
					<h:outputText value="#{row.practitionerName}" />
				</ace:column>
				<!-- City col -->
				<ace:column id="cityCol" headerText="#{msgs['common.label.city']}" filterBy="#{row.city}" filterMatchMode="contains"
					sortBy="#{row.city}">
					<h:outputText value="#{row.city}" />
				</ace:column>
			</ace:dataTable>

			<!-- Search results button bar. -->
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="xs"
					action="#{locumController.addSelectedPractitionersToLocum}"
					rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
			</mbs:commandButtonBar>
		</mbs:popup>
	</h:form>

	<!-- Delete confirmation pop up -->
	<h:form id="confirmDeletePractitionersFromLocumForm">
		<mbs:popup id="confirmDeletePractitionersFromLocumPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{locumController.displayDeletePractitionersPopup}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{locumController.confirmDeleteLocumsFromSelectedLocum}"
						rendered="#{roleBasedAccessSupport.hasRole('Provider-PractitionerUpdate')}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{locumController.closeDeletePractitionersPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			//Toggle the Practitioner search panel
			$("#editLocumsView\\:searchEditLocumPanel\\:locumEditForm\\:addPractitionerSearchHeader").click(function() {
				toggleLocumPractitionerSearchPanel();
			});

			//Remove the 'select...' option from specified dropdowns
			removeSelectOption("editLocumsView\\:searchEditLocumPanel\\:locumHostsSearchForm\\:locumTypeDrp\\:selectOneMenu");
			// Remove the RX option from the Subcategory search dropdown
			removeRXSubcategoryOption("editLocumsView\\:searchEditLocumPanel\\:locumHostsSearchForm\\:practitionerTypeDrp\\:selectOneMenu");
			// Remove the RX option from the Subcategory edit dropdown
			removeRXSubcategoryOption("editLocumsView\\:searchEditLocumPanel\\:locumEditForm\\:addPractitionerTypeDrp\\:selectOneMenu");

			// Assists in reseting the Locum search form
			$("#editLocumsView\\:searchEditLocumPanel\\:locumHostsSearchForm\\:locumSearchBtnPanel\\:resetLocumSearchBtn\\:commandButton").click(function() {
				resetForm("editLocumsView\\:searchEditLocumPanel\\:locumHostsSearchForm");
			});
		});
	</script>
</ui:composition>