<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:c="http://java.sun.com/jsp/jstl/core">


	<mbs:panel header="#{msgs['header.dss.hsc.maint']}" id="editDssClaimsHistoryTransferPanel">

		<!-- Source Health Card Number search -->
		<h:form id="hcnSearchForm" rendered="#{dssClaimsHistoryTransferController.displayHcnSearch}"
			styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{dssClaimsHistoryTransferController.executeSourceHcnSearch}" key="Enter"/>
			
			<ace:tabSetProxy id="dssClaimsHistoryTransferTab" for="#{dssHistoryTransferProxyTabSet.clientId}" />

			<h4>
				<h:outputText value="#{msgs['header.dss.hsc.search']}" />
			</h4>
			<hr />

			<!-- Health Card Number -->
			<mbs:input id="hcnTxt" label="Source HCN" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
				inputStyleClass="col-xs-12 col-sm-2 col-md-2" maxlength="12"
				value="#{dssClaimsHistoryTransferController.fileDownloadControllerBean.transferRequest.sourceHealthCardNumber}"
				fAttributeName="disableGrouping" fAttributeValue="true" />

			<!-- Effective From -->
			<mbs:calendar id="hcEffectiveDate" label="#{msgs['common.label.effective.from']}" showOn="both"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
				inputStyleClass="col-xs-12 col-sm-2 col-md-12"
				value="#{dssClaimsHistoryTransferController.fileDownloadControllerBean.transferRequest.serviceFromDate}" />

			<!-- Effective To -->
			<mbs:calendar id="hcEffectiveTo" label="#{msgs['common.label.effective.to']}" showOn="both"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
				inputStyleClass="col-xs-12 col-sm-12 col-md-12"
				value="#{dssClaimsHistoryTransferController.fileDownloadControllerBean.transferRequest.serviceToDate}" />

			<!-- Search button panel -->
			<mbs:commandButtonBar id="searchFormButtons">
				<mbs:commandButton value="#{msgs['button.search']}"
					action="#{dssClaimsHistoryTransferController.executeSourceHcnSearch}" type="primary" size="sm" />
				<mbs:commandButton id="resetHcSearchBtn"
					action="#{dssClaimsHistoryTransferController.executeClearSourceHcnSearchForm}" value="#{msgs['button.clear']}"
					type="danger" size="sm" />
			</mbs:commandButtonBar>
		</h:form>

		<!-- Individual Summary -->
		<h:form id="individualSummaryForm" rendered="#{dssClaimsHistoryTransferController.displayHcnSummary}"
			styleClass="form-horizontal #{dssClaimsHistoryTransferController.displayHcnSummary == true ? '': 'hide-elements'}">

			<div class="panel panel-primary" id="individualSummaryPanel">
				<div class="panel-heading expandDiv" id="individualSummaryHeader" onclick="toggleHcnSummaryPanel()">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandIndividualSummary" class="fa fa-minus-circle"></i> #{msgs['header.dss.hist.individual.sum']}
					</div>
				</div>
				<div id="individualSummaryBody" class="panel-body">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">
							<!-- Health Card Number -->
							<mbs:input id="hcnTxt" label="#{msgs['common.label.health.card.number']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.healthCardNumber}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />

							<!-- Surname -->
							<mbs:input id="surenameTxt" label="#{msgs['common.label.surname']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.surname}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />

							<!-- First Name -->
							<mbs:input id="firstNameTxt" label="#{msgs['common.label.first.name']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.firstName}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />

							<!-- Date Of Birth -->
							<mbs:input id="dobTxt" label="#{msgs['common.label.dob']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.dob}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false">
								<f:convertDateTime pattern="#{dateFormat}" for="input" />
							</mbs:input>

							<!-- Old MSI Number -->
							<mbs:input id="oldMsiNumTxt" label="#{msgs['label.dss.hist.old.msi.num']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.oldMsiNumber}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />

							<!-- Renewal Sent Date -->
							<mbs:input id="renewalSentDateTxt" label="#{msgs['label.dss.hist.renewal.sent']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.renewalSentDate}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false">
								<f:convertDateTime pattern="#{dateFormat}" for="input" />
							</mbs:input>

							<!-- Renewal Received Date -->
							<mbs:input id="renewalReceivedDateTxt" label="#{msgs['label.dss.hist.renewal.received']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.renewalRecievedDate}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false">
								<f:convertDateTime pattern="#{dateFormat}" for="input" />
							</mbs:input>

							<!-- Health Card Expiry Date -->
							<mbs:input id="hcExpiryDateTxt" label="#{msgs['label.dss.hist.hcn.exp']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.healthCardExpiryDate}"
								labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false">
								<f:convertDateTime pattern="#{dateFormat}" for="input" />
							</mbs:input>
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6">
							<!-- Gender -->
							<mbs:input id="genderTxt" labelStyleClass="col-xs-12 col-sm-3 col-md-3"
								inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true" displayValidState="false"
								label="#{msgs['common.label.gender']}" value="#{dssClaimsHistoryTransferController.selectedHealthCard.gender}" />
							<!-- Donor -->
							<mbs:input id="donorTxt" labelStyleClass="col-xs-12 col-sm-3 col-md-3"
								inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true" displayValidState="false"
								label="#{msgs['common.label.donor']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.donor == true ? msgs['common.label.yes'] : msgs['common.label.no']}" />

							<!-- Home Phone (Customized implementation of Masked input using Medavie's structure as an example)-->
							<h:panelGroup id="homePhoneWrapper" layout="block" styleClass="form-group">
								<h:outputLabel id="homePhoneLabel" value="#{msgs['common.label.h.phone']}"
									styleClass="control-label col-xs-12 col-sm-3 col-md-3" />
								<h:panelGroup layout="block" styleClass="col-xs-12 col-sm-6 col-md-6">
									<ace:maskedEntry mask="(999) 999-9999" disabled="true" styleClass="form-control"
										value="#{dssClaimsHistoryTransferController.selectedHealthCard.homePhone}" />
								</h:panelGroup>
							</h:panelGroup>

							<!-- Work Phone (Customized implementation of Masked input using Medavie's structure as an example)-->
							<h:panelGroup id="workPhoneWrapper" layout="block" styleClass="form-group">
								<h:outputLabel id="workPhoneLabel" value="#{msgs['common.label.w.phone']}"
									styleClass="control-label col-xs-12 col-sm-3 col-md-3" />
								<h:panelGroup layout="block" styleClass="col-xs-12 col-sm-6 col-md-6">
									<ace:maskedEntry mask="(999) 999-9999" disabled="true" styleClass="form-control"
										value="#{dssClaimsHistoryTransferController.selectedHealthCard.workPhone}" />
								</h:panelGroup>
							</h:panelGroup>

							<!-- Head of Address HCN -->
							<mbs:input id="headOfAdressHcnTxt" label="#{msgs['label.dss.hist.head.hcn']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.headOfAddressHealthCardNumber}"
								labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />
							<!-- Address -->
							<mbs:input id="address1Txt"
								label="#{msgs['common.label.address']} (#{dssClaimsHistoryTransferController.selectedHealthCard.validAddress == true ? 'VALID' : 'INVALID'})"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.addressLine1}"
								labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />
							<mbs:input id="address2Txt" labelStyleClass="col-xs-12 col-sm-3 col-md-3"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.addressLine2}"
								inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true" displayValidState="false" />
							<mbs:input id="address3Txt" labelStyleClass="col-xs-12 col-sm-3 col-md-3"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.city}, #{dssClaimsHistoryTransferController.selectedHealthCard.province}"
								inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true" displayValidState="false" />
							<!-- Province Moved To -->
							<mbs:input id="provinceMovedToTxt" label="#{msgs['label.dss.hist.prov.to']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.provinceMovedTo}"
								labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />
							<!-- Province Moved From -->
							<mbs:input id="provinceMovedFromTxt" label="#{msgs['label.dss.hist.prov.from']}"
								value="#{dssClaimsHistoryTransferController.selectedHealthCard.provinceMovedFrom}"
								labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
								displayValidState="false" />
						</div>
					</div>

					<!-- Main button panel for HCN summary -->
					<mbs:commandButtonBar id="hcnSummaryBtnPanel">
						<mbs:commandButton
							value="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? msgs['button.dss.hist.transfer.claims'] : msgs['button.dss.hist.view.claims']}"
							action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep1}" type="primary" size="sm">
							<ace:ajax event="click" listener="#{dssClaimsHistoryTransferController.resetClaimsSelectionData}" />
						</mbs:commandButton>
						<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}"
							action="#{dssClaimsHistoryTransferController.executeReturnToHcnSearch}" type="danger" size="sm" />
					</mbs:commandButtonBar>
				</div>
			</div>
		</h:form>

		<!-- Wizard panel/forms begin -->
		<mbs:panel header="#{msgs['header.dss.hist.transfer']}" id="claimsHistoryPanel"
			rendered="#{dssClaimsHistoryTransferController.displayTransferWizard}">
			<!-- Medicare Claims table  -->
			<h:form id="medicareClaimsForm" rendered="#{dssClaimsHistoryTransferController.displayMedicareSeClaims}">
				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.medse']}  #{msgs['header.dss.hist.transfter.step1']}" />
				</h4>

				<ace:dataTable id="medicareClaimDataTable" stateMap="#{dssClaimsHistoryTransferController.medicareSeClaimsStateMap}"
					styleClass="table-horizontal-adjustment" rows="10" paginator="true" paginatorPosition="bottom"
					value="#{dssClaimsHistoryTransferController.selectedHealthCard.medicareClaims}" var="row"
					selectionMode="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? 'multiple' : ''}"
					emptyMessage="#{msgs['common.label.no.claims']}">

					<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
					<ace:ajax event="select" />

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- Se Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.se.num']}" sortBy="#{row.seNumber}" filterBy="#{row.seNumber}"
						filterMatchMode="contains">
						<h:outputText value="#{row.seNumber}" />
					</ace:column>

					<!-- SE Sequence number column -->
					<ace:column headerText="#{msgs['label.dss.hist.se.seq.num']}" sortBy="#{row.seSequenceNumber}"
						filterBy="#{row.seSequenceNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.seSequenceNumber}" />
					</ace:column>

					<!-- Response Tag Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.resp.tag.num']}" sortBy="#{row.responseTagNumber}"
						filterBy="#{row.responseTagNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.responseTagNumber}" />
					</ace:column>

					<!-- Action Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.action.code']}" sortBy="#{row.actionCode}"
						filterBy="#{row.actionCode}" filterMatchMode="contains">
						<h:outputText value="#{row.actionCode}" />
					</ace:column>

					<!-- Patient Health Card Number column-->
					<ace:column headerText="#{msgs['label.dss.hist.patient.hcn']}" sortBy="#{row.patientHcn}"
						filterBy="#{row.patientHcn}" filterMatchMode="contains">
						<h:outputText value="#{row.patientHcn}" />
					</ace:column>

					<!-- Patient Postal Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.postal.code']}" sortBy="#{row.patientPostalCode}"
						filterBy="#{row.patientPostalCode}" filterMatchMode="contains">
						<h:outputText value="#{row.patientPostalCode}" />
					</ace:column>

					<!-- Patient Birth Date column -->
					<ace:column headerText="#{msgs['common.label.dob']}" sortBy="#{row.patientBirthDate}"
						filterBy="#{row.patientBirthDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.patientBirthDateString}" />
					</ace:column>

					<!-- Patient Age column -->
					<ace:column headerText="#{msgs['common.label.age']}" sortBy="#{row.patientAgeYears}"
						filterBy="#{row.patientAgeYears}" filterMatchMode="contains">
						<h:outputText value="#{row.patientAgeYears}" />
					</ace:column>

					<!-- Patient Gender column -->
					<ace:column headerText="#{msgs['common.label.gender']}" sortBy="#{row.patientGender}"
						filterBy="#{row.patientGender}" filterMatchMode="contains">
						<h:outputText value="#{row.patientGender}" />
					</ace:column>

					<!-- HealthServiceCode /Qualifier column -->
					<ace:column headerText="#{msgs['common.label.hsc']}" sortBy="#{row.healthServiceCode} #{row.qualifierCode}"
						filterBy="#{row.healthServiceCode} #{row.qualifierCode}" filterMatchMode="contains">
						<h:outputText value="#{row.healthServiceCode} #{row.qualifierCode}" />
					</ace:column>

					<!-- Service Start Date column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.start']}" sortBy="#{row.serviceStartDate}"
						filterBy="#{row.serviceStartDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.serviceStartDateString}" />
					</ace:column>

					<!-- Provider Number/Type column -->
					<ace:column headerText="#{msgs['common.label.practitioner']}" sortBy="#{row.providerType} #{row.providerNumber}"
						filterBy="#{row.providerType} #{row.providerNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.providerType} #{row.providerNumber}" />
					</ace:column>

					<!-- Payment Date column -->
					<ace:column headerText="#{msgs['label.dss.hist.payment.date']}" sortBy="#{row.paymentDate}"
						filterBy="#{row.paymentDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.paymentDateString}" />
					</ace:column>

					<!-- Business Arrangement Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.bus.arr.num']}" sortBy="#{row.businessArrNumber}"
						filterBy="#{row.businessArrNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.businessArrNumber}" />
					</ace:column>

					<!-- Renumeration Method column -->
					<ace:column headerText="#{msgs['label.dss.hist.renum']}" sortBy="#{row.renumerationMethod}"
						filterBy="#{row.renumerationMethod}" filterMatchMode="contains">
						<h:outputText value="#{row.renumerationMethod}" />
					</ace:column>

					<!-- PayToHealthCardNumber column -->
					<ace:column headerText="#{msgs['label.dss.hist.pay.to.hcn']}" sortBy="#{row.payToHealthCardNumber}"
						filterBy="#{row.payToHealthCardNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.payToHealthCardNumber}" />
					</ace:column>

					<!-- Payment Responsibility column -->
					<ace:column headerText="#{msgs['label.dss.hist.pay.resp']}" sortBy="#{row.paymentResponsibility}"
						filterBy="#{row.paymentResponsibility}" filterMatchMode="contains">
						<h:outputText value="#{row.paymentResponsibility}" />
					</ace:column>

					<!-- Base Units column -->
					<ace:column headerText="#{msgs['label.dss.hist.base.units']}" sortBy="#{row.baseUnits}" filterBy="#{row.baseUnits}"
						filterMatchMode="contains">
						<h:outputText value="#{row.baseUnits}" />
					</ace:column>

					<!-- Amount Paid column -->
					<ace:column headerText="#{msgs['label.dss.hist.amt.paid']}" sortBy="#{row.amountPaid}" filterBy="#{row.amountPaid}"
						filterMatchMode="contains">
						<h:outputText value="#{row.amountPaid}" />
					</ace:column>

					<!-- Shadow Units column -->
					<ace:column headerText="#{msgs['label.dss.hist.shadow.unit']}" sortBy="#{row.shadowUnits}"
						filterBy="#{row.shadowUnits}" filterMatchMode="contains">
						<h:outputText value="#{row.shadowUnits}" />
					</ace:column>

					<!-- Shadow Earnings column -->
					<ace:column headerText="#{msgs['label.dss.hist.shadow.earn']}" sortBy="#{row.shadowEarnings}"
						filterBy="#{row.shadowEarnings}" filterMatchMode="contains">
						<h:outputText value="#{row.shadowEarnings}" />
					</ace:column>
				</ace:dataTable>

				<mbs:commandButtonBar id="medicareSeClaimsBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.next']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep2}" type="primary" size="sm" />

					<!-- Selection tool buttons -->
					<mbs:commandButton value="#{msgs['button.select.all']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeSelectAllMedicareSe}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeDeselectAllMedicareSe}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:form>

			<!-- Medicare Mainframe Claims table  -->
			<h:form id="medicareMainframeClaimsForm" rendered="#{dssClaimsHistoryTransferController.displayMedicareMainClaims}">
				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.medmain']}  #{msgs['header.dss.hist.transfter.step2']}" />
				</h4>

				<ace:dataTable id="medicareMainframeClaimDataTable" styleClass="table-horizontal-adjustment"
					stateMap="#{dssClaimsHistoryTransferController.medicareMainClaimsStateMap}" rows="10" paginator="true"
					paginatorPosition="bottom" value="#{dssClaimsHistoryTransferController.selectedHealthCard.medicareMainframeClaims}"
					var="row"
					selectionMode="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? 'multiple' : ''}"
					emptyMessage="#{msgs['common.label.no.claims']}">

					<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
					<ace:ajax event="select" />F

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- HCN column -->
					<ace:column headerText="#{msgs['label.dss.hist.hcn']}" sortBy="#{row.mainHealthCardNumber}"
						filterBy="#{row.mainHealthCardNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainHealthCardNumber}" />
					</ace:column>

					<!-- Old MSI Billing Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.old.msi.bill']}" sortBy="#{row.mainOldMsiBillingNumber}"
						filterBy="#{row.mainOldMsiBillingNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainOldMsiBillingNumber}" />
					</ace:column>

					<!-- Service Date column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.date']}" sortBy="#{row.mainServiceDate}"
						filterBy="#{row.mainServiceDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.mainServiceDateString}" />
					</ace:column>

					<!-- Number Of Services column -->
					<ace:column headerText="#{msgs['label.dss.hist.services']}" sortBy="#{row.mainNumberOfServices}"
						filterBy="#{row.mainNumberOfServices}" filterMatchMode="contains">
						<h:outputText value="#{row.mainNumberOfServices}" />
					</ace:column>

					<!-- Fee Specialty column -->
					<ace:column headerText="#{msgs['label.dss.hist.fee.spec']}" sortBy="#{row.mainFeeSpecialty}"
						filterBy="#{row.mainFeeSpecialty}" filterMatchMode="contains">
						<h:outputText value="#{row.mainFeeSpecialty}" />
					</ace:column>

					<!-- Service Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.code']}" sortBy="#{row.mainFeeServiceCode}"
						filterBy="#{row.mainFeeServiceCode}" filterMatchMode="contains">
						<h:outputText value="#{row.mainFeeServiceCode}" />
					</ace:column>

					<!-- Amount Paid column -->
					<ace:column headerText="#{msgs['label.dss.hist.amt.paid']}" sortBy="#{row.mainAmountPaid}"
						filterBy="#{row.mainAmountPaid}" filterMatchMode="contains">
						<h:outputText value="#{row.mainAmountPaid}" />
					</ace:column>

					<!-- Gender column -->
					<ace:column headerText="#{msgs['common.label.gender']}" sortBy="#{row.mainGender}" filterBy="#{row.mainGender}"
						filterMatchMode="contains">
						<h:outputText value="#{row.mainGender}" />
					</ace:column>

					<!-- Birth Date column -->
					<ace:column headerText="#{msgs['common.label.dob']}" sortBy="#{row.mainDateOfBirth}"
						filterBy="#{row.mainDateOfBirthString}" filterMatchMode="contains">
						<h:outputText value="#{row.mainDateOfBirthString}" />
					</ace:column>

					<!-- Patient County column -->
					<ace:column headerText="#{msgs['label.dss.hist.county']}" sortBy="#{row.mainPatientCounty}"
						filterBy="#{row.mainPatientCounty}" filterMatchMode="contains">
						<h:outputText value="#{row.mainPatientCounty}" />
					</ace:column>

					<!-- Run Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.run.num']}" sortBy="#{row.mainRunNumber}"
						filterBy="#{row.mainRunNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRunNumber}" />
					</ace:column>

					<!-- Province Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.prov.code']}" sortBy="#{row.mainProvinceCode}"
						filterBy="#{row.mainProvinceCode}" filterMatchMode="contains">
						<h:outputText value="#{row.mainProvinceCode}" />
					</ace:column>

					<!-- Physician Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.phy.num']}" sortBy="#{row.mainPhysicianMainNumber}"
						filterBy="#{row.mainPhysicianMainNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainPhysicianMainNumber}" />
					</ace:column>
				</ace:dataTable>

				<mbs:commandButtonBar id="medicareMainClaimsBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.back']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep1}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.next']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep3}" type="primary" size="sm" />

					<!-- Selection tool buttons -->
					<mbs:commandButton value="#{msgs['button.select.all']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeSelectAllMedicareMain}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeDeselectAllMedicareMain}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:form>

			<!-- Pharmacare Claims table  -->
			<h:form id="pharmClaimsForm" rendered="#{dssClaimsHistoryTransferController.displayPharmSeClaims}">
				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.pharmse']}  #{msgs['header.dss.hist.transfter.step3']}" />
				</h4>

				<ace:dataTable id="pharmacareClaimDataTable" stateMap="#{dssClaimsHistoryTransferController.pharmSeClaimsStateMap}"
					rows="10" paginator="true" paginatorPosition="bottom" styleClass="table-horizontal-adjustment"
					value="#{dssClaimsHistoryTransferController.selectedHealthCard.pharmacareClaims}" var="row"
					selectionMode="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? 'multiple' : ''}"
					emptyMessage="#{msgs['common.label.no.claims']}">

					<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
					<ace:ajax event="select" />

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- Se Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.se.num']}" sortBy="#{row.seNumber}" filterBy="#{row.seNumber}"
						filterMatchMode="contains">
						<h:outputText value="#{row.seNumber}" />
					</ace:column>

					<!-- SE Type column -->
					<ace:column headerText="#{msgs['label.dss.hist.se.type']}" sortBy="#{row.seType}" filterBy="#{row.seType}"
						filterMatchMode="contains">
						<h:outputText value="#{row.seType}" />
					</ace:column>

					<!-- Se Cross Reference Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.se.ref.num']}" sortBy="#{row.seCrossReferenceNumber}"
						filterBy="#{row.seCrossReferenceNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.seCrossReferenceNumber}" />
					</ace:column>

					<!-- Date Of Service column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.date']}" sortBy="#{row.dateOfService}"
						filterBy="#{row.dateOfServiceString}" filterMatchMode="contains">
						<h:outputText value="#{row.dateOfServiceString}" />
					</ace:column>

					<!-- Date Processed column -->
					<ace:column headerText="#{msgs['label.dss.hist.date.process']}" sortBy="#{row.dateProcessed}"
						filterBy="#{row.dateProcessedString}" filterMatchMode="contains">
						<h:outputText value="#{row.dateProcessedString}" />
					</ace:column>

					<!-- Prescriber Provider Number/Type column -->
					<ace:column headerText="#{msgs['label.dss.hist.prescriber']}"
						sortBy="#{row.prescriberProviderNumber} #{row.prescriberProviderType}"
						filterBy="#{row.prescriberProviderNumber} #{row.prescriberProviderType}" filterMatchMode="contains">
						<h:outputText value="#{row.prescriberProviderNumber} #{row.prescriberProviderType}" />
					</ace:column>

					<!-- Program Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.prog.code']}" sortBy="#{row.programCode}"
						filterBy="#{row.programCode}" filterMatchMode="contains">
						<h:outputText value="#{row.programCode}" />
					</ace:column>

					<!-- Provider Number/Type column -->
					<ace:column headerText="#{msgs['common.label.practitioner']}" sortBy="#{row.providerNumber} #{row.providerType}"
						filterBy="#{row.providerNumber} #{row.providerType}" filterMatchMode="contains">
						<h:outputText value="#{row.providerNumber} #{row.providerType}" />
					</ace:column>

					<!-- Recipient HCN column -->
					<ace:column headerText="#{msgs['label.dss.hist.recipient.hcn']}" sortBy="#{row.recipientHealthCardNumber}"
						filterBy="#{row.recipientHealthCardNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.recipientHealthCardNumber}" />
					</ace:column>

					<!-- Recipient Age column -->
					<ace:column headerText="#{msgs['label.dss.hist.recipient.age']}" sortBy="#{row.recipientAge}"
						filterBy="#{row.recipientAge}" filterMatchMode="contains">
						<h:outputText value="#{row.recipientAge}" />
					</ace:column>

					<!-- Recipient Postal Code -->
					<ace:column headerText="#{msgs['label.dss.hist.recipient.postal.code']}" sortBy="#{row.recipientPostalCode}"
						filterBy="#{row.recipientPostalCode}" filterMatchMode="contains">
						<h:outputText value="#{row.recipientPostalCode}" />
					</ace:column>

					<!-- DIN column -->
					<ace:column headerText="#{msgs['label.dss.hist.din']}" sortBy="#{row.din}" filterBy="#{row.din}"
						filterMatchMode="contains">
						<h:outputText value="#{row.din}" />
					</ace:column>

					<!-- Amount Paid column -->
					<ace:column headerText="#{msgs['label.dss.hist.amt.paid']}" sortBy="#{row.amountPaid}" filterBy="#{row.amountPaid}"
						filterMatchMode="contains">
						<h:outputText value="#{row.amountPaid}" />
					</ace:column>
				</ace:dataTable>

				<mbs:commandButtonBar id="pharmSeClaimsBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.back']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep2}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.next']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep4}" type="primary" size="sm" />

					<!-- Selection tool buttons -->
					<mbs:commandButton value="#{msgs['button.select.all']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeSelectAllPharmacareSe}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeDeselectAllPharmacareSe}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:form>

			<!-- Pharmacare Mainframe Claims table  -->
			<h:form id="pharmMainframeClaimsForm" rendered="#{dssClaimsHistoryTransferController.displayPharmMainClaims}">
				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.pharmmain']} #{msgs['header.dss.hist.transfter.step4']}" />
				</h4>

				<ace:dataTable id="pharmacareMainframeClaimDataTable" rows="10" paginator="true" paginatorPosition="bottom"
					stateMap="#{dssClaimsHistoryTransferController.pharmMainClaimsStateMap}" styleClass="table-horizontal-adjustment"
					value="#{dssClaimsHistoryTransferController.selectedHealthCard.pharmacareMainframeClaims}" var="row"
					selectionMode="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? 'multiple' : ''}"
					emptyMessage="#{msgs['common.label.no.claims']}">

					<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
					<ace:ajax event="select" />

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- Provider Number column -->
					<ace:column headerText="#{msgs['common.label.practitioner']}" sortBy="#{row.mainProviderNumber}"
						filterBy="#{row.mainProviderNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainProviderNumber}" />
					</ace:column>

					<!-- Claim Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.claim.num']}" sortBy="#{row.mainClaimNumber}"
						filterBy="#{row.mainClaimNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainClaimNumber}" />
					</ace:column>

					<!-- HCN column -->
					<ace:column headerText="#{msgs['label.dss.hist.hcn']}" sortBy="#{row.mainRecipientHealthCardNumber}"
						filterBy="#{row.mainRecipientHealthCardNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRecipientHealthCardNumber}" />
					</ace:column>

					<!-- Gender column -->
					<ace:column headerText="#{msgs['common.label.gender']}" sortBy="#{row.mainRecipientGender}"
						filterBy="#{row.mainRecipientGender}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRecipientGender}" />
					</ace:column>

					<!-- Birth Date column -->
					<ace:column headerText="#{msgs['common.label.dob']}" sortBy="#{row.mainRecipientBirthYear}"
						filterBy="#{row.mainRecipientBirthYear}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRecipientBirthYear}" />
					</ace:column>

					<!-- Prescriber Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.prescriber']}" sortBy="#{row.mainPrescriberNumber}"
						filterBy="#{row.mainPrescriberNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.mainPrescriberNumber}" />
					</ace:column>

					<!-- Date Of Service column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.date']}" sortBy="#{row.mainDateOfService}"
						filterBy="#{row.mainDateOfServiceString}" filterMatchMode="contains">
						<h:outputText value="#{row.mainDateOfServiceString}" />
					</ace:column>

					<!-- DIN column -->
					<ace:column headerText="#{msgs['label.dss.hist.din']}" sortBy="#{row.mainDin}" filterBy="#{row.mainDin}"
						filterMatchMode="contains">
						<h:outputText value="#{row.mainDin}" />
					</ace:column>

					<!-- Approved column -->
					<ace:column headerText="#{msgs['label.dss.hist.approved']}" sortBy="#{row.mainApproved}"
						filterBy="#{row.mainApproved}" filterMatchMode="contains">
						<h:outputText value="#{row.mainApproved}" />
					</ace:column>

					<!-- County Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.county']}" sortBy="#{row.mainRecipientCountyCode}"
						filterBy="#{row.mainRecipientCountyCode}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRecipientCountyCode}" />
					</ace:column>

					<!-- Name column -->
					<ace:column headerText="#{msgs['common.label.name']}" sortBy="#{row.mainRecipientName}"
						filterBy="#{row.mainRecipientName}" filterMatchMode="contains">
						<h:outputText value="#{row.mainRecipientName}" />
					</ace:column>
				</ace:dataTable>

				<mbs:commandButtonBar id="pharmMainClaimsBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.back']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep3}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.next']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep5}" type="primary" size="sm" />

					<!-- Selection tool buttons -->
					<mbs:commandButton value="#{msgs['button.select.all']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeSelectAllPharmacareMain}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeDeselectAllPharmacareMain}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:form>

			<!-- Denticare Claims table -->
			<h:form id="denticareClaimsForm" rendered="#{dssClaimsHistoryTransferController.displayDentalClaims}">
				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.dental']} #{msgs['header.dss.hist.transfter.step5']}" />
				</h4>

				<ace:dataTable id="dentalClaimDataTable" stateMap="#{dssClaimsHistoryTransferController.dentalClaimsStateMap}"
					rows="10" paginator="true" paginatorPosition="bottom" styleClass="table-horizontal-adjustment"
					value="#{dssClaimsHistoryTransferController.selectedHealthCard.denticareClaims}" var="row"
					selectionMode="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate') == true ? 'multiple' : ''}"
					emptyMessage="#{msgs['common.label.no.claims']}">

					<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
					<ace:ajax event="select" />

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- HCN column -->
					<ace:column headerText="#{msgs['label.dss.hist.hcn']}" sortBy="#{row.healthCardNumber}"
						filterBy="#{row.healthCardNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.healthCardNumber}" />
					</ace:column>

					<!-- Birth Date column -->
					<ace:column headerText="#{msgs['common.label.dob']}" sortBy="#{row.birthDateString}"
						filterBy="#{row.birthDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.birthDateString}" />
					</ace:column>

					<!-- Gender column -->
					<ace:column headerText="#{msgs['common.label.gender']}" sortBy="#{row.gender}" filterBy="#{row.gender}"
						filterMatchMode="contains">
						<h:outputText value="#{row.gender}" />
					</ace:column>

					<!-- Program Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.prog.code']}" sortBy="#{row.programCode}"
						filterBy="#{row.programCode}" filterMatchMode="contains">
						<h:outputText value="#{row.programCode}" />
					</ace:column>

					<!-- Provider Number/Type column -->
					<ace:column headerText="#{msgs['common.label.practitioner']}" sortBy="#{row.providerNumber} #{row.providerType}"
						filterBy="#{row.providerNumber} #{row.providerType}" filterMatchMode="contains">
						<h:outputText value="#{row.providerNumber} #{row.providerType}" />
					</ace:column>

					<!-- Claim Number column -->
					<ace:column headerText="#{msgs['label.dss.hist.claim.num']}" sortBy="#{row.claimNumber}"
						filterBy="#{row.claimNumber}" filterMatchMode="contains">
						<h:outputText value="#{row.claimNumber}" />
					</ace:column>

					<!-- Item Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.item.code']}" sortBy="#{row.itemCode}" filterBy="#{row.itemCode}"
						filterMatchMode="contains">
						<h:outputText value="#{row.itemCode}" />
					</ace:column>

					<!-- Payment Date column -->
					<ace:column headerText="#{msgs['label.dss.hist.payment.date']}" sortBy="#{row.paymentDate}"
						filterBy="#{row.paymentDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.paymentDateString}" />
					</ace:column>

					<!-- Service Date column -->
					<ace:column headerText="#{msgs['label.dss.hist.service.date']}" sortBy="#{row.serviceDate}"
						filterBy="#{row.serviceDateString}" filterMatchMode="contains">
						<h:outputText value="#{row.serviceDateString}" />
					</ace:column>

					<!-- Paid Amount column -->
					<ace:column headerText="#{msgs['label.dss.hist.amt.paid']}" sortBy="#{row.paidAmount}" filterBy="#{row.paidAmount}"
						filterMatchMode="contains">
						<h:outputText value="#{row.paidAmount}" />
					</ace:column>

					<!-- Procedure Code column -->
					<ace:column headerText="#{msgs['label.dss.hist.procedure.code']}" sortBy="#{row.procedureCode}"
						filterBy="#{row.procedureCode}" filterMatchMode="contains">
						<h:outputText value="#{row.procedureCode}" />
					</ace:column>
				</ace:dataTable>
				<mbs:commandButtonBar id="dentalClaimsBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.back']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep4}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.next']}"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep6}" type="primary" size="sm" />

					<!-- Selection tool buttons -->
					<mbs:commandButton value="#{msgs['button.select.all']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeSelectAllDenticare}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" styleClass="right-floating-button"
						rendered="#{roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}"
						action="#{dssClaimsHistoryTransferController.executeDeselectAllDenticare}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:form>

			<!-- Claims Transfer Summary panel -->
			<h:form id="claimsSummaryForm" styleClass="form-horizontal"
				rendered="#{dssClaimsHistoryTransferController.displayClaimsTransferSummary and roleBasedAccessSupport.hasRole('Claims-ClaimHistorySummaryTransferUpdate')}">

				<h4>
					<h:outputText value="#{msgs['header.dss.hist.transfer.summary']} #{msgs['header.dss.hist.transfter.step6']}" />
				</h4>
				<hr />

				<!-- Target Health Card Number input -->
				<mbs:input id="targetHcnTxt"
					value="#{dssClaimsHistoryTransferController.fileDownloadControllerBean.transferRequest.targetHealthCardNumber}"
					disabled="#{!dssClaimsHistoryTransferController.anyClaimsSelected}" label="#{msgs['label.dss.hist.target.hcn']}"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" maxlength="12" inputStyleClass="col-xs-12 col-sm-2 col-md-2"
					displayValidState="false" />

				<!-- Transfer Notes input -->
				<mbs:inputTextarea id="noteTextareafield" label="#{msgs['label.dss.hist.transfer.note']}"
					disabled="#{!dssClaimsHistoryTransferController.anyClaimsSelected}"
					value="#{dssClaimsHistoryTransferController.fileDownloadControllerBean.transferRequest.transferNote}"
					labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-2 col-md-2"
					displayValidState="false" rows="6" onkeyup="limitTextArea( this, event, 500 );">
				</mbs:inputTextarea>

				<mbs:commandButtonBar id="transferConfirmationBtnPanel">
					<mbs:commandButton value="#{msgs['button.cancel']}"
						action="#{dssClaimsHistoryTransferController.executeCancelClaimsTransfer}" type="danger" size="sm" />
					<mbs:commandButton value="#{msgs['button.back']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransferStep5}" type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dss.hist.confirm.transfer']}"
						action="#{dssClaimsHistoryTransferController.executeClaimsTransfer}"
						rendered="#{dssClaimsHistoryTransferController.anyClaimsSelected}" type="primary" size="sm" />
				</mbs:commandButtonBar>

				<!-- Summary tables begin -->
				<!-- Message displayed when no claims are selected. Cannot continue with transfer -->
				<h:outputText rendered="#{!dssClaimsHistoryTransferController.anyClaimsSelected}"
					value="#{msgs['label.dss.hist.no.claims']}" />

				<h:panelGroup rendered="#{dssClaimsHistoryTransferController.anyClaimsSelected}">

					<div class="row">
						<div class="col-xs-12 col-sm-6 col-md-6">

							<!-- Selected Medicare SE claims table -->
							<h4>
								<h:outputText value="#{msgs['header.dss.hist.transfer.medse']}" />
							</h4>
							<ace:dataTable id="selectedMedicareSeClaimsTable" rows="10" paginator="true" paginatorPosition="bottom"
								value="#{dssClaimsHistoryTransferController.medicareSeClaimsStateMap.getSelected()}" var="row"
								emptyMessage="#{msgs['common.label.no.claims.selected']}">

								<!-- Claim Number column -->
								<ace:column headerText="#{msgs['label.dss.hist.claim.num']}">
									<h:outputText value="#{row.seNumber}" />
								</ace:column>
								<!-- Remove item btn column -->
								<ace:column>
									<mbs:commandButtonBar id="removeSelectedBtnPanel" align="center">
										<mbs:commandButton value="#{msgs['button.remove']}"
											action="#{dssClaimsHistoryTransferController.removeSelectedMedicareSEClaim(row)}" type="danger" size="xs" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>

							<!-- Selected Medicare Mainframe claims table -->
							<h4>
								<h:outputText value="#{msgs['header.dss.hist.transfer.medmain']}" />
							</h4>
							<ace:dataTable id="selectedMedicareMainClaimsTable" rows="10" paginator="true" paginatorPosition="bottom"
								value="#{dssClaimsHistoryTransferController.medicareMainClaimsStateMap.getSelected()}" var="row"
								emptyMessage="#{msgs['common.label.no.claims.selected']}">

								<!-- Claim Number column -->
								<ace:column headerText="#{msgs['label.dss.hist.claim.num']}">
									<h:outputText value="#{row.mainSeqNumber}" />
								</ace:column>
								<!-- Remove item btn column -->
								<ace:column>
									<mbs:commandButtonBar id="removeSelectedBtnPanel" align="center">
										<mbs:commandButton value="#{msgs['button.remove']}"
											action="#{dssClaimsHistoryTransferController.removeSelectedMedicareMainClaim(row)}" type="danger" size="xs" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>

							<!-- Selected Dental claims table -->
							<h4>
								<h:outputText value="#{msgs['header.dss.hist.transfer.dental']}" />
							</h4>
							<ace:dataTable id="selectedDentalClaimsTable" rows="10" paginator="true" paginatorPosition="bottom"
								value="#{dssClaimsHistoryTransferController.dentalClaimsStateMap.getSelected()}" var="row"
								emptyMessage="#{msgs['common.label.no.claims.selected']}">

								<!-- Claim Number column -->
								<ace:column headerText="#{msgs['label.dss.hist.claim.num']}">
									<h:outputText value="#{row.claimNumber}" />
								</ace:column>
								<!-- Item Code column -->
								<ace:column headerText="#{msgs['label.dss.hist.item.code']}">
									<h:outputText value="#{row.itemCode}" />
								</ace:column>
								<!-- Remove item btn column -->
								<ace:column>
									<mbs:commandButtonBar id="removeSelectedBtnPanel" align="center">
										<mbs:commandButton value="#{msgs['button.remove']}"
											action="#{dssClaimsHistoryTransferController.removeSelectedDentalClaim(row)}" type="danger" size="xs" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>

						<div class="col-xs-12 col-sm-6 col-md-6">
							<!-- Selected Pharmacare SE Claims table -->
							<h4>
								<h:outputText value="#{msgs['header.dss.hist.transfer.pharmse']}" />
							</h4>
							<ace:dataTable id="selectedPharmSeClaimsTable" rows="10" paginator="true" paginatorPosition="bottom"
								value="#{dssClaimsHistoryTransferController.pharmSeClaimsStateMap.getSelected()}" var="row"
								emptyMessage="#{msgs['common.label.no.claims.selected']}">

								<!-- Claim Number column -->
								<ace:column headerText="#{msgs['label.dss.hist.claim.num']}">
									<h:outputText value="#{row.seNumber}" />
								</ace:column>
								<!-- Remove item btn column -->
								<ace:column>
									<mbs:commandButtonBar id="removeSelectedBtnPanel" align="center">
										<mbs:commandButton value="#{msgs['button.remove']}"
											action="#{dssClaimsHistoryTransferController.removeSelectedPharmSEClaim(row)}" type="danger" size="xs" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>

							<!-- Selected Pharmacare Mainframe Claims table -->
							<h4>
								<h:outputText value="#{msgs['header.dss.hist.transfer.pharmmain']}" />
							</h4>
							<ace:dataTable id="selectedPharmMainClaimsTable" rows="10" paginator="true" paginatorPosition="bottom"
								value="#{dssClaimsHistoryTransferController.pharmMainClaimsStateMap.getSelected()}" var="row"
								emptyMessage="#{msgs['common.label.no.claims.selected']}">

								<!-- Claim Number column -->
								<ace:column headerText="#{msgs['label.dss.hist.claim.num']}">
									<h:outputText value="#{row.mainSeqNumber}" />
								</ace:column>
								<!-- Remove item btn column -->
								<ace:column>
									<mbs:commandButtonBar id="removeSelectedBtnPanel" align="center">
										<mbs:commandButton value="#{msgs['button.remove']}"
											action="#{dssClaimsHistoryTransferController.removeSelectedPharmMainClaim(row)}" type="danger" size="xs" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</h:panelGroup>
			</h:form>
		</mbs:panel>

		<!-- Transfer completed display screen. Also displays results export options -->
		<mbs:panel header="#{msgs['header.dss.hist.transfer.complete']}" id="claimsHistoryCompletePanel"
			rendered="#{dssClaimsHistoryTransferController.displayExportPanel}">
			<h:form id="transferSummaryForm">

				<!-- Summary instructions -->
				<h:outputText value="#{msgs['label.dss.hist.transfer.complete.msg']}" />

				<!-- Summary button panel -->
				<mbs:commandButtonBar id="transferSummaryBtnPanel">

					<!-- Download link for transfer summary if data is available. -->
					<h:outputLink styleClass="mbs-btn btn btn-primary btn-inline btn-sm link-button"
						onclick="window.open('#{facesContext.externalContext.requestContextPath}/pages/dss/DssClaimsHistoryTransfer/DssClaimsHistoryTransferDownload.html')"
						value="#">
						<h:outputText value="#{msgs['button.download.summary']}" />
					</h:outputLink>
					<mbs:commandButton value="#{msgs['common.label.return.to.search']}"
						action="#{dssClaimsHistoryTransferController.executeReturnToHcnSearch()}" type="danger" size="sm" />
				</mbs:commandButtonBar>
			</h:form>
		</mbs:panel>
	</mbs:panel>
</ui:composition>