<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Page styling class for labels and fields in the main forum -->
	<ui:param name="labelStyle" value="col-xs-5" />
	<ui:param name="inputStyle" value="col-sm-5" />

	<!-- Page styling class for labels and fields for expandable forums -->
	<ui:param name="altFormLabelStyle" value="col-xs-3" />
	<ui:param name="altFormInputStyle" value="col-sm-4" />

	<div class="row">
		<div class="col-xs-11 col-sm-5">
			<mbs:fieldset id="editPeerGroupCriteriaFieldSet">
				<h:form id="editPeerGroupCriteriaForm" styleClass="form-horizontal">
					<ace:tabSetProxy id="peerGroupEditTab" for="#{peerGroupProxySet.clientId}" />

					<h4>#{msgs['header.audit.peergroup.practitioner.info']}</h4>

					<!-- PeerGroup ID (Read only field. Displayed in edit mode) -->
					<mbs:input id="peerGroupId" label="#{msgs['common.label.peer.group.id']}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{peerGroupController.selectedPeerGroup.peerGroupID}" disabled="true"
						rendered="#{peerGroupController.editingRecord}" displayValidState="false" />

					<!-- Peer Group Name field -->
					<mbs:input id="peerGroupNameTxt" label="#{msgs['common.label.peer.group.name']}" required="true"
						title="#{peerGroupController.selectedPeerGroup.peerGroupName}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{peerGroupController.selectedPeerGroup.peerGroupName}" />

					<!-- Year End Date field (Read only if in edit mode) -->
					<mbs:input id="yearEndDate" label="#{msgs['common.label.year.end.date']}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{peerGroupController.selectedPeerGroup.yearEndDate}" disabled="true"
						rendered="#{peerGroupController.editingRecord}" displayValidState="false">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
					<!-- Year End Date dropdown (Only enabled when adding a new PeerGroup) -->
					<mbs:selectOneMenu id="yearEndDateDrp" label="#{msgs['common.label.year.end.date']}"
						value="#{peerGroupController.selectedPeerGroup.yearEndDateStr}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" rendered="#{!peerGroupController.editingRecord}" required="true">
						<f:selectItems value="#{peerGroupController.profilePeriodYearEndDates.entrySet()}" var="item"
							itemLabel="#{item.key}" itemValue="#{item.value}" for="#{peerGroupController.selectedPeerGroup.yearEndDateStr}" />
					</mbs:selectOneMenu>

					<!-- Modified meta data -->
					<mbs:input id="peerGroupModifiedByTxt" label="#{msgs['common.label.modified.by']}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{peerGroupController.selectedPeerGroup.modifiedBy}"
						rendered="#{peerGroupController.editingRecord}" disabled="true" displayValidState="false" />
					<mbs:input id="peerGroupLastModifiedTxt" label="#{msgs['common.label.last.modified']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.lastModified}" rendered="#{peerGroupController.editingRecord}"
						disabled="true" displayValidState="false">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>

					<h4>#{msgs['header.audit.peergroup.drop.average']}</h4>
					<!-- Minimum Earnings field -->
					<mbs:input id="dropMinEarningsTxt" label="#{msgs['label.peergroup.edit.act.minimum.earnings']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.actMinimumEarnings}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<!-- Minimum Shadow Earnings field -->
					<mbs:input id="minShadowEarningsTxt" label="#{msgs['label.peergroup.edit.minimum.shadow']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.minimumShadowEarnings}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<h4>#{msgs['header.audit.peergroup.criteria']}</h4>
					<!-- Minimum Town Population field -->
					<mbs:input id="minTownPopTxt" label="#{msgs['label.peergroup.edit.minimum.population']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.minimumTownPopulation}">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Maximum Town Population field -->
					<mbs:input id="maxTownPopTxt" label="#{msgs['label.peergroup.edit.maximum.population']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.maximumTownPopulation}">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Minimum Earnings field -->
					<mbs:input id="minEarningsTxt" label="#{msgs['label.peergroup.edit.minimum.earnings']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.minimumEarnings}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<!-- Maximum Earnings field -->
					<mbs:input id="maxEarningsTxt" label="#{msgs['label.peergroup.edit.maximum.earnings']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.maximumEarnings}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>

					<!-- Percentage SE Earnings field -->
					<mbs:input id="pecentSeEarningTxt" label="#{msgs['label.peergroup.edit.se.earnings']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.percentageSeEarnings}" maxlength="7">
						<f:converter converterId="percentageConverter" for="input" />
					</mbs:input>

					<!-- Town Code Inclusive dropdown -->
					<mbs:selectOneMenu id="townInclusiveDrp" label="#{msgs['label.peergroup.edit.towncode.inclusivedrp']}"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{peerGroupController.selectedPeerGroup.townCodeInclusive}">
						<f:selectItems value="#{peerGroupController.booleanAnswerTypes}" />
					</mbs:selectOneMenu>

					<!-- Navigation for editing a PeerGroup Criteria record -->
					<mbs:commandButtonBar align="left" id="peerGroupNavBar">
						<!-- Save button -->
						<mbs:commandButton id="savePeerGroupBtn" value="#{msgs['button.audit.peergroup.save.peergroup']}"
							action="#{peerGroupController.executeSaveOrUpdatePeerGroup}"
							rendered="#{roleBasedAccessSupport.hasRole('Admin-OutlierUpdate')}" type="primary" size="sm" />
						<!-- Return to search button -->
						<mbs:commandButton id="returnToSearchBtn" value="#{msgs['common.label.cancel.back.to.search']}"
							action="#{peerGroupController.returnToPeerGroupSearch}" rendered="#{peerGroupController.editingRecord}"
							type="danger" size="sm" immediate="true" />
					</mbs:commandButtonBar>
				</h:form>
			</mbs:fieldset>
		</div>

		<!-- Expanding secondary forms -->
		<div class="col-xs-11 col-sm-7">
			<mbs:fieldset id="expandColFieldset">
				<!-- Subcategory Type panel -->
				<h:form id="subcategoryTypeForm" styleClass="form-horizontal">
					<div class="panel panel-primary" id="subcategoryTypePanel">
						<div class="panel-heading expandDiv" id="subcategoryTypeHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandSubcategoryType" class="fa fa-plus-circle"></i> #{msgs['common.label.subcategory']}
							</div>
						</div>
						<div id="subcategoryTypeBody" class="panel-body hide-elements">
							<!-- Subcategory Type Criteria dropdown -->
							<mbs:selectOneMenu id="subTypeCriteriaDrp" label="#{msgs['common.label.subcategory']}"
								value="#{peerGroupController.selectedSubCategoryType}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.subCategorySelectItems.entrySet()}" var="item"
									itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
									for="#{peerGroupController.selectedSubCategoryType}" />
								<f:ajax event="change" execute="@this" render=" @form"
									listener="#{peerGroupController.selectSubCategoryDropDown(peerGroupController.selectedSubCategoryType)}" />
							</mbs:selectOneMenu>

							<!-- Table displaying current subcategory for the New Peer Group Criteria record -->
							<ace:dataTable id="subCatTbl" rows="25" paginator="true" paginatorPosition="bottom" var="row"
								styleClass="table-horizontal-adjustment" value="#{peerGroupController.selectedPeerGroup.subcategoryTypes}"
								emptyMessage="#{msgs['common.label.no.data']}">

								<!-- Sets the filter delay -->
								<ace:ajax event="filter"
									onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

								<ace:column id="subcatColType" headerText="#{msgs['common.label.type']}" filterBy="#{row.typeDesc}"
									filterMatchMode="contains" sortBy="#{row.typeDesc}">
									<h:outputText value="#{row.typeDesc}" />
								</ace:column>
								<ace:column id="subcatColModifiedBy" headerText="#{msgs['common.label.modified.by']}"
									filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}">
									<h:outputText value="#{row.modifiedBy}" />
								</ace:column>
								<ace:column id="subcatColLastModified" headerText="#{msgs['common.label.last.modified']}"
									filterBy="#{row.lastModifiedString}" filterMatchMode="contains" sortBy="#{row.lastModified}">
									<h:outputText value="#{row.lastModified}">
										<f:convertDateTime pattern="#{dateTimeFormat}" />
									</h:outputText>
								</ace:column>
								<ace:column id="subCatRemoveCol">
									<mbs:commandButtonBar id="subcatRvBtnBar" align="center" styleClass="removeBtnPanelMargin">
										<mbs:commandButton id="subcatRvBtn" value="#{msgs['button.remove']}" type="primary"
											action="#{peerGroupController.removeSubcategoryTypes(row)}" size="xs" immediate="true" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</h:form>

				<!-- Specialty Criteria panel -->
				<h:form id="specialtyCriteriaForm" styleClass="form-horizontal">
					<div class="panel panel-primary" id="specialtyCriteriaPanel">
						<div class="panel-heading expandDiv" id="specialtyCriteriaHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandSpecialtyCriteria" class="fa fa-plus-circle"></i>
								#{msgs['header.audit.peergroup.specialty.criteria']}

							</div>
						</div>
						<div id="specialtyCriteriaBody" class="panel-body hide-elements">
							<!-- Specialty dropdown -->
							<mbs:selectOneMenu id="specialtyDrp" label="#{msgs['common.label.specialty']}"
								value="#{peerGroupController.selectedSpecialty}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.specialtySelectItems.entrySet()}" var="item"
									itemLabel="#{item.value.specialtyDesc}" itemValue="#{item.key}" for="#{peerGroupController.selectedSpecialty}" />
								<f:ajax event="change" execute="@this" render=" @form"
									listener="#{peerGroupController.selectSpecialtyDropDown(peerGroupController.selectedSpecialty)}" />
							</mbs:selectOneMenu>

							<br />

							<!-- Table displaying current Specialties for the New Peer Group Criteria record -->
							<ace:dataTable id="specicaltyGrpTbl" rows="25" paginator="true" paginatorPosition="bottom" var="row"
								styleClass="table-horizontal-adjustment" value="#{peerGroupController.selectedPeerGroup.specialtyCriterias}"
								emptyMessage="#{msgs['common.label.no.data']}">

								<!-- Sets the filter delay -->
								<ace:ajax event="filter"
									onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

								<!-- Specialty column -->
								<ace:column id="specialtyColSpecialty" headerText="#{msgs['common.label.specialty']}"
									filterBy="#{row.specialtyDesc}" filterMatchMode="contains" sortBy="#{row.specialtyDesc}">
									<h:outputText value="#{row.specialtyDesc}" />
								</ace:column>
								<!-- Modified By column -->
								<ace:column id="specialtyColmodifiedByl" headerText="#{msgs['common.label.modified.by']}"
									filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}">
									<h:outputText value="#{row.modifiedBy}" />
								</ace:column>
								<!-- Last Modified column -->
								<ace:column id="lastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
									filterBy="#{row.lastModifiedString}" filterMatchMode="contains" sortBy="#{row.lastModified}">
									<h:outputText value="#{row.lastModified}">
										<f:convertDateTime pattern="#{dateTimeFormat}" />
									</h:outputText>
								</ace:column>
								<!-- Remove column -->
								<ace:column id="removeCol">
									<mbs:commandButtonBar id="spectyRvBtnBar" align="center" styleClass="removeBtnPanelMargin">
										<mbs:commandButton id="spectyRvBtn" value="#{msgs['button.remove']}" type="primary"
											action="#{peerGroupController.removeSpecialtyCriteria(row)}" size="xs" immediate="true" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</h:form>

				<!-- Town Criteria panel -->
				<h:form id="townCriteriaForm" styleClass="form-horizontal">
					<!-- JTRAX-62 07-MAR-18 BCAINNE -->
					<icecore:defaultAction action="#{peerGroupController.executeTownSearch}" key="Enter"/>				
					<div class="panel panel-primary" id="townCriteriaPanel">
						<div class="panel-heading expandDiv" id="townCriteriaHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandTownCriteria" class="fa fa-plus-circle"></i> #{msgs['header.audit.peergroup.town.criteria']}
							</div>
						</div>

						<!-- Panel body -->
						<div id="townCriteriaBody" class="panel-body hide-elements">
							<!-- Search Form -->
							<h4>#{msgs['common.label.search']}</h4>
							
							<!-- County Code Name field -->
							<mbs:selectOneMenu id="countyCodeTxt" label="#{msgs['label.peergroup.edit.county.code']}"
								value="#{peerGroupController.townSearchCriteria.countyCodeName}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.townCriteriaCCSelectItems.entrySet()}" var="entry"
									itemLabel="#{entry.key}" itemValue="#{entry.key}" for="#{peerGroupController.townSearchCriteria.countyCodeName}" />
								<f:ajax event="change" execute="@this"
									listener="#{peerGroupController.selectCountyCodeDropDownMenu(peerGroupController.townSearchCriteria.countyCodeName)}"
									render="@form" />
							</mbs:selectOneMenu>
							
							<!-- Search on Town Code drop down field -->
							<mbs:selectOneMenu id="searchTownCodeDrpDwn" label="#{msgs['label.peergroup.edit.towncode']}"
								value="#{peerGroupController.townSearchCriteria.townCodeName}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.townCriteriaTCSelectItems.entrySet()}" var="entry"
									itemLabel="#{entry.key}" itemValue="#{entry.key}" for="#{peerGroupController.townSearchCriteria.townCodeName}" />
								<f:ajax event="change" execute="@this"
									listener="#{peerGroupController.selectTownCodeDropDownMenu(peerGroupController.townSearchCriteria.townCodeName)}"
									render="@form" />
							</mbs:selectOneMenu>

							<!-- Municipality Code Name field -->
							<mbs:selectOneMenu id="municipalityCodeTxt" label="#{msgs['label.peergroup.edit.municipality.code']}"
								value="#{peerGroupController.townSearchCriteria.municipalityCodeName}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.municipalityCriteriaSelectItems.entrySet()}" var="entry"
									itemLabel="#{entry.key}" itemValue="#{entry.key}"
									for="#{peerGroupController.townSearchCriteria.municipalityCodeName}" />
								<f:ajax event="change" execute="@this"
									listener="#{peerGroupController.selectMunicipalityCodeDropDown(peerGroupController.townSearchCriteria.municipalityCodeName)}"
									render="@form" />
							</mbs:selectOneMenu>

							<!-- Health Region Code Name dropdown -->
							<mbs:selectOneMenu id="healthRegionDrp" label="#{msgs['label.peergroup.edit.health.region']}"
								value="#{peerGroupController.townSearchCriteria.healthRegionCodeName}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.healthRegionSelectItems.entrySet()}" var="entry"
									itemLabel="#{entry.key}" itemValue="#{entry.key}"
									for="#{peerGroupController.townSearchCriteria.healthRegionCodeName}" />
								<f:ajax event="change" execute="@this"
									listener="#{peerGroupController.selectHealthRegionCodeDropDown(peerGroupController.townSearchCriteria.healthRegionCodeName)}"
									render="@form" />
							</mbs:selectOneMenu>
							
							<!-- Button panel for Town Criteria Search -->
							<mbs:commandButtonBar id="townCriteriaSearchBtnPanel" align="left">
								<mbs:commandButton id="searchTownBtn" value="#{msgs['button.search']}" type="primary" immediate="false"
									size="sm" action="#{peerGroupController.executeTownSearch}" />
								<mbs:commandButton id="clearTownBtn" value="#{msgs['button.clear']}" type="danger" immediate="false"
									action="#{peerGroupController.executeTownSearchCriteriaClear}" size="sm" />
							</mbs:commandButtonBar>

							<!-- Table displaying the current Town Criteria records linked to 
										this peer Group Criteria -->
							<h4>#{msgs['header.audit.peergroup.town.select.criteria']}</h4>
							<ace:dataTable rows="25" paginator="true" paginatorPosition="bottom" var="row"
								styleClass="table-horizontal-adjustment" value="#{peerGroupController.selectedPeerGroup.townCriterias}"
								emptyMessage="#{msgs['common.label.no.data']}">

								<!-- Sets the filter delay -->
								<ace:ajax event="filter"
									onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

								<!-- Town Code/Name column -->
								<ace:column id="townCodeCol" filterBy="#{row.townCode}" filterMatchMode="contains" sortBy="#{row.townCode}"
									headerText="#{msgs['label.peergroup.edit.town.code.col.header']}">
									<h:outputText value="#{row.townCode}" />
								</ace:column>
								<ace:column id="townNameCol" filterBy="#{row.townName}" filterMatchMode="contains" sortBy="#{row.townName}"
									headerText="#{msgs['label.peergroup.edit.town.col.header']}" stacked="true">
									<h:outputText value="#{row.townName}" />
								</ace:column>

								<!-- County Code/Name column -->
								<ace:column id="CountyCodeCol" filterBy="#{row.countyCode}" filterMatchMode="contains"
									sortBy="#{row.countyCode}" headerText="#{msgs['label.peergroup.edit.town.county.code.col.header']}">
									<h:outputText value="#{row.countyCode}" />
								</ace:column>
								<ace:column id="CountyNameCol" filterBy="#{row.countyName}" filterMatchMode="contains"
									sortBy="#{row.countyName}" headerText="#{msgs['label.peergroup.edit.town.county.col.header']}" stacked="true">
									<h:outputText value="#{row.countyName}" />
								</ace:column>

								<!-- Municipality Code/Name column -->
								<ace:column id="municipalityCodeCol" filterBy="#{row.municipalityCode}" filterMatchMode="contains"
									sortBy="#{row.municipalityCode}" headerText="#{msgs['label.peergroup.edit.town.municipality.code.col.header']}">
									<h:outputText value="#{row.municipalityCode}" />
								</ace:column>
								<ace:column id="municipalityNameCol" filterBy="#{row.municipalityName}" filterMatchMode="contains"
									sortBy="#{row.municipalityName}" headerText="#{msgs['label.peergroup.edit.town.municipality.col.header']}"
									stacked="true">
									<h:outputText value="#{row.municipalityName}" />
								</ace:column>

								<!-- Modifed By/Last column -->
								<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains"
									sortBy="#{row.modifiedBy}" headerText="#{msgs['common.label.modified.by']}">
									<h:outputText value="#{row.modifiedBy}" />
								</ace:column>
								<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
									sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}" stacked="true">
									<h:outputText value="#{row.lastModified}">
										<f:convertDateTime pattern="#{dateTimeFormat}" />
									</h:outputText>
								</ace:column>

								<!-- Delete column -->
								<ace:column id="removeTownCol">
									<mbs:commandButtonBar align="center" styleClass="removeBtnPanelMargin">
										<mbs:commandButton value="#{msgs['button.remove']}" type="primary"
											action="#{peerGroupController.removeTown(row)}" size="xs" immediate="true" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</h:form>

				<!-- Health Service Criteria panel -->
				<h:form id="healthServiceCriteriaForm" styleClass="form-horizontal">
					<!-- JTRAX-62 07-MAR-18 BCAINNE -->
					<icecore:defaultAction action="#{peerGroupController.executeHealthServiceCriteriaSearch}" key="Enter"/>				
					<div class="panel panel-primary" id="healthServiceCriteriaPanel">
						<div class="panel-heading expandDiv" id="healthServiceCriteriaHeader">
							<h3 class="panel-title"></h3>
							<div>
								<i id="expandHealthServiceCriteria" class="fa fa-plus-circle"></i>
								#{msgs['header.common.health.service.criteria']}
							</div>
						</div>
						<div id="healthServiceCriteriaBody" class="panel-body hide-elements">

							<!-- Program Dropdown -->
							<mbs:selectOneMenu id="hsgDrp" label="#{msgs['common.label.program']}"
								value="#{peerGroupController.hscSearchCriteria.programCode}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.programs.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{peerGroupController.hscSearchCriteria.programCode}" />
							</mbs:selectOneMenu>

							<!--Health Service Group Dropdown-->
							<mbs:selectOneMenu id="healthServiceGroupdrpdwn" label="#{msgs['label.peergroup.edit.hsc.group']}"
								value="#{peerGroupController.hscSearchCriteria.healthServiceGroup}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.hsGroups.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{peerGroupController.hscSearchCriteria.healthServiceGroup}" />
							</mbs:selectOneMenu>

							<!-- Effective from date -->
							<mbs:calendar id="hscEffectiveDate" label="#{msgs['label.peergroup.edit.hsc.effective.date']}" showOn="both"
								value="#{peerGroupController.hscSearchCriteria.effectiveFrom}" labelStyleClass="#{altFormLabelStyle}"
								placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{altFormInputStyle}" />

							<!-- Health Service Code field -->
							<mbs:input id="hscTxt" label="#{msgs['label.peergroup.edit.hsc']}" labelStyleClass="#{altFormLabelStyle}"
								maxlength="5" inputStyleClass="#{altFormInputStyle}"
								value="#{peerGroupController.hscSearchCriteria.healthServiceCode}" />

							<!-- Qualifier field -->
							<mbs:selectOneMenu id="qualifierTxt" label="#{msgs['common.label.qualifier']}"
								value="#{peerGroupController.hscSearchCriteria.qualifier}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.hsQualifiers.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{peerGroupController.hscSearchCriteria.qualifier}" />
							</mbs:selectOneMenu>

							<!-- MSI Fee Code field -->
							<mbs:input id="msiFeeCodeTxt" label="#{msgs['label.peergroup.edit.hsc.msi.feecode']}"
								labelStyleClass="#{altFormLabelStyle}" maxlength="5" inputStyleClass="#{altFormInputStyle}"
								value="#{peerGroupController.hscSearchCriteria.msiFeeCode}" />

							<!-- Health Service Code Description field -->
							<mbs:input id="hscDescriptionTxt" label="#{msgs['label.peergroup.edit.hsc.description']}"
								labelStyleClass="#{altFormLabelStyle}" inputStyleClass="#{altFormInputStyle}"
								value="#{peerGroupController.hscSearchCriteria.healthServiceCodeDescription}" maxlength="255" />

							<!-- Modifiers Dropdown-->
							<mbs:richSelectManyMenu id="hscModifiersDrp" label="#{msgs['common.label.modifiers']}"
								value="#{peerGroupController.hscSearchCriteria.modifier}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.hsModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
									itemValue="#{entry.value}" for="#{peerGroupController.hscSearchCriteria.modifier}" />
							</mbs:richSelectManyMenu>

							<!-- Implicit Modifiers Dropdown -->
							<mbs:richSelectManyMenu id="hscImplicitModifiersDrp" label="#{msgs['common.label.implicit.modifiers']}"
								value="#{peerGroupController.hscSearchCriteria.implicitModifier}" labelStyleClass="#{altFormLabelStyle}"
								inputStyleClass="#{altFormInputStyle}">
								<f:selectItems value="#{peerGroupController.hsImplicitModifiers.entrySet()}" var="entry"
									itemLabel="#{entry.key}" itemValue="#{entry.value}"
									for="#{peerGroupController.hscSearchCriteria.implicitModifier}" />
							</mbs:richSelectManyMenu>

							<!-- Button panel for HSC Search -->
							<mbs:commandButtonBar id="healthServiceCriteriaSearchBtnPanel" align="left">
								<mbs:commandButton id="searchHSCBtn" action="#{peerGroupController.executeHealthServiceCriteriaSearch}"
									value="#{msgs['button.search']}" type="primary" immediate="false" size="sm" />
								<mbs:commandButton action="#{peerGroupController.hscSearchCriteria.resetSearchCriteria}" id="clearHSCBtn"
									value="#{msgs['button.clear']}" type="danger" size="sm" />
							</mbs:commandButtonBar>

							<!-- Table displaying the current HSC records linked to 
										this peer Group Criteria -->
							<h4>#{msgs['header.audit.peergroup.health.service.selected.criteria']}</h4>
							<ace:dataTable rows="25" paginator="true" paginatorPosition="bottom" var="row"
								styleClass="table-horizontal-adjustment" value="#{peerGroupController.selectedPeerGroup.healthServiceCriterias}"
								emptyMessage="#{msgs['common.label.no.data']}">

								<!-- Sets the filter delay -->
								<ace:ajax event="filter"
									onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

								<!-- Health Service Code column -->
								<ace:column id="hscCol" filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
									sortBy="#{row.healthServiceCode}#{row.qualifier}" headerText="#{msgs['label.peergroup.edit.hsc.col.header']}">
									<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
								</ace:column>

								<!-- Modifiers column -->
								<ace:column id="modifiersCol" filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}"
									headerText="#{msgs['common.label.modifiers']}">
									<h:outputText value="#{row.modifiers}" />
								</ace:column>
								<ace:column id="impModifiersCol" filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
									sortBy="#{row.implicitModifiers}" headerText="#{msgs['common.label.implicit.modifiers']}" stacked="true">
									<h:outputText value="#{row.implicitModifiers}" />
								</ace:column>

								<!-- Effective From column -->
								<ace:column id="effectiveDateCol" filterBy="#{row.effectiveFromDateString}" filterMatchMode="contains"
									sortBy="#{row.effectiveFromDate}" headerText="#{msgs['common.label.effective.from']}">
									<h:outputText value="#{row.effectiveFromDate}">
										<f:convertDateTime pattern="#{dateFormat}" />
									</h:outputText>
								</ace:column>

								<!-- Qualifier code column -->
								<ace:column id="qualifierCodeCol" filterBy="#{row.qualifier}" filterMatchMode="contains"
									sortBy="#{row.qualifier}" headerText="#{msgs['common.label.qualifier']}" stacked="true">
									<h:outputText value="#{row.qualifier}" />
								</ace:column>

								<!-- Description column -->
								<ace:column id="hscDescriptionCol" filterBy="#{row.healthServiceCodeDesc}" filterMatchMode="contains"
									sortBy="#{row.healthServiceCodeDesc}" headerText="#{msgs['common.label.description']}">
									<h:outputText value="#{row.healthServiceCodeDesc}" />
								</ace:column>

								<!-- Modifed By/Last column -->
								<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains"
									sortBy="#{row.modifiedBy}" headerText="#{msgs['common.label.modified.by']}">
									<h:outputText value="#{row.modifiedBy}" />
								</ace:column>
								<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
									sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}" stacked="true">
									<h:outputText value="#{row.lastModified}">
										<f:convertDateTime pattern="#{dateTimeFormat}" />
									</h:outputText>
								</ace:column>

								<!-- Delete column -->
								<ace:column id="removeHscCol">
									<mbs:commandButtonBar align="center" styleClass="removeBtnPanelMargin">
										<mbs:commandButton value="#{msgs['button.remove']}" type="primary"
											action="#{peerGroupController.removeHsc(row)}" size="xs" immediate="true" />
									</mbs:commandButtonBar>
								</ace:column>
							</ace:dataTable>
						</div>
					</div>
				</h:form>
			</mbs:fieldset>
		</div>
	</div>

	<!-- Pop up panels below! -->
	<!-- Search results for TownCriteria.. Displayed when results are available to be displayed. -->
	<h:form id="townSearchResultPopupForm">
		<mbs:popup id="townCriteriaSearchResultPopup" title="#{msgs['header.audit.peergroup.town.criteria.search.title']}"
			size="lg" visible="#{peerGroupController.displayTownSearchResults}" customFooter="true">

			<ace:dataTable rows="15" paginator="true" paginatorPosition="bottom" var="row" id="tsTable"
				value="#{peerGroupController.townSearchResults}" selectionMode="multiple" styleClass="table-horizontal-adjustment"
				stateMap="#{peerGroupController.townsTableStateMap}" emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Town Code -->
				<ace:column filterBy="#{row.townCode}" filterMatchMode="contains" sortBy="#{row.townCode}"
					headerText="#{msgs['label.peergroup.edit.town.popup.town.code.col.header']}">
					<h:outputText value="#{row.townCode}" />
				</ace:column>
				<!-- Town Name -->
				<ace:column filterBy="#{row.townName}" filterMatchMode="contains" sortBy="#{row.townName}"
					headerText="#{msgs['label.peergroup.edit.town.popup.town.col.header']}">
					<h:outputText value="#{row.townName}" />
				</ace:column>
				<!-- county Code -->
				<ace:column filterBy="#{row.countyCode}" filterMatchMode="contains" sortBy="#{row.countyCode}"
					headerText="#{msgs['label.peergroup.edit.town.popup.county.code.col.header']}">
					<h:outputText value="#{row.countyCode}" />
				</ace:column>
				<!-- county Name -->
				<ace:column filterBy="#{row.countyName}" filterMatchMode="contains" sortBy="#{row.countyName}"
					headerText="#{msgs['label.peergroup.edit.town.popup.county.col.header']}">
					<h:outputText value="#{row.countyName}" />
				</ace:column>
				<!-- Municipality Code -->
				<ace:column filterBy="#{row.municipalityCode}" filterMatchMode="contains" sortBy="#{row.municipalityCode}"
					headerText="#{msgs['label.peergroup.edit.town.popup.municipality.code.col.header']}">
					<h:outputText value="#{row.municipalityCode}" />
				</ace:column>
				<!-- Municipality Name -->
				<ace:column filterBy="#{row.municipalityName}" filterMatchMode="contains" sortBy="#{row.municipalityName}"
					headerText="#{msgs['label.peergroup.edit.town.popup.municipality.col.header']}">
					<h:outputText value="#{row.municipalityName}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{peerGroupController.executeSelectAllTownCriteria}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{peerGroupController.executeDeselectAllTownCriteria}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{peerGroupController.addSelectedTowns}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{peerGroupController.hideTownCriteriaSearchResultsPopup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<!-- Search results for HSC.. Displayed when results are available to be displayed. -->
	<h:form id="hscResultPopupForm">
		<mbs:popup id="hscSearchResultPopup" title="#{msgs['header.common.hsc.search.title']}"
			closeButtonAction="#{peerGroupController.hideHSCSearchResultsPoup}" size="lg"
			visible="#{peerGroupController.displayHSCResults}" customFooter="true">

			<ace:dataTable rows="15" paginator="true" paginatorPosition="bottom" var="row" id="hscDataTable"
				value="#{peerGroupController.healthServiceSearchResults}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" stateMap="#{peerGroupController.hscTableStateMap}"
				emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Health Service Code column -->
				<ace:column id="hscCodeCol" filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCode}#{row.qualifier}"
					headerText="#{msgs['label.peergroup.edit.hsc.popup.hsc.col.header']}">
					<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
				</ace:column>
				<!-- From Date column -->
				<ace:column id="effectiveDateCol" filterBy="#{row.effectiveFromDateString}" filterMatchMode="contains"
					sortBy="#{row.effectiveFromDate}" headerText="#{msgs['label.peergroup.edit.hsc.popup.formdate.col.header']}">
					<h:outputText value="#{row.effectiveFromDate}">
						<f:convertDateTime pattern="dd-MMM-yyyy" />
					</h:outputText>
				</ace:column>
				<!-- Description column -->
				<ace:column id="hscDescriptionCol" filterBy="#{row.healthServiceCodeDesc}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCodeDesc}" headerText="#{msgs['common.label.description']}">
					<h:outputText value="#{row.healthServiceCodeDesc}" />
				</ace:column>

				<!-- Modified column -->
				<ace:column id="hscModCol" filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}"
					headerText="#{msgs['common.label.modifiers']}">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<!-- Implicit Modifiers column -->
				<ace:column id="hscImpModCol" filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
					sortBy="#{row.implicitModifiers}" headerText="#{msgs['common.label.implicit.modifiers']}">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>
			</ace:dataTable>

			<!-- Select tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{peerGroupController.executeSelectAllHsc}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{peerGroupController.executeDeselectAllHsc}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{peerGroupController.addSelectedHSC}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{peerGroupController.hideHSCSearchResultsPoup}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<!-- PeerGroup save results form/pop up -->
	<h:form id="peerGroupSaveResultsForm" styleClass="form-horizontal">
		<mbs:popup id="peerGroupSaveResultsPopup" title="#{msgs['header.audit.peergroup.save.successful']}" size="sm"
			customFooter="true" visible="#{peerGroupController.displayPeerGroupSaveResults}">

			<!-- PeerGroup ID -->
			<mbs:input id="pgID" label="#{msgs['common.label.peer.group.id']}" labelStyleClass="#{labelStyle}"
				displayValidState="false" inputStyleClass="#{inputStyle}"
				value="#{peerGroupController.selectedPeerGroup.peerGroupID}" disabled="true" />

			<!-- PeerGroup Name -->
			<mbs:input id="pgName" label="#{msgs['common.label.peer.group.name']}" labelStyleClass="#{labelStyle}"
				displayValidState="false" inputStyleClass="#{inputStyle}"
				value="#{peerGroupController.selectedPeerGroup.peerGroupName}" disabled="true" />

			<!-- PeerGroup Year End Date -->
			<mbs:input id="pgYearEndDate" label="#{msgs['common.label.year.end.date']}" labelStyleClass="#{labelStyle}"
				displayValidState="false" inputStyleClass="#{inputStyle}"
				value="#{peerGroupController.selectedPeerGroup.yearEndDate}" disabled="true">
				<f:convertDateTime pattern="dd-MMM-yyyy" for="input" />
			</mbs:input>

			<!-- Modified By -->
			<mbs:input id="pgModifiedBy" label="#{msgs['common.label.modified.by']}" labelStyleClass="#{labelStyle}"
				displayValidState="false" inputStyleClass="#{inputStyle}"
				value="#{peerGroupController.selectedPeerGroup.modifiedBy}" disabled="true" />

			<!-- Last Modified -->
			<mbs:input id="pgLastModified" label="#{msgs['common.label.last.modified']}" labelStyleClass="#{labelStyle}"
				displayValidState="false" inputStyleClass="#{inputStyle}"
				value="#{peerGroupController.selectedPeerGroup.lastModified}" disabled="true">
				<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
			</mbs:input>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['common.label.continue']}" type="primary" size="md"
						action="#{peerGroupController.hidePeerGroupSaveResultsPopup}"
						onclick="resetForm('searchEditPeerGroupPanel\\:expandColFieldset\\:healthServiceCriteriaForm');" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>

	<script>
		$(document).ready(function() {
			/** 
			 * Handles expanding panels on Edit page
			 */
			//Expand the Subcategory Type panel
			$("#peerGroupEditView\\:searchEditPeerGroupPanel\\:expandColFieldset\\:subcategoryTypeForm\\:subcategoryTypeHeader").click(function() {
				removeRXSubcategoryOption('peerGroupEditView\\:searchEditPeerGroupPanel\\:expandColFieldset\\:subcategoryTypeForm\\:subTypeCriteriaDrp\\:selectOneMenu');
				expandSubcategoryPanel("peerGroupEditView\\:searchEditPeerGroupPanel")
			});
			//Expand the specialty Criteria panel
			$("#peerGroupEditView\\:searchEditPeerGroupPanel\\:expandColFieldset\\:specialtyCriteriaForm\\:specialtyCriteriaHeader").click(function() {
				expandSpecialtyCriteriaPanel("peerGroupEditView\\:searchEditPeerGroupPanel")
			});
			//Expand the Town Criteria panel
			$("#peerGroupEditView\\:searchEditPeerGroupPanel\\:expandColFieldset\\:townCriteriaForm\\:townCriteriaHeader").click(function() {
				expandTownCriteriaPanel("peerGroupEditView\\:searchEditPeerGroupPanel")
			});
			//Expand the Health Service Criteria panel
			$("#peerGroupEditView\\:searchEditPeerGroupPanel\\:expandColFieldset\\:healthServiceCriteriaForm\\:healthServiceCriteriaHeader").click(function() {
				expandHSCPanel("peerGroupEditView\\:searchEditPeerGroupPanel")
			});

			/** 
			 * Handles expanding panels on Add new page
			 */
			//Expand the Subcategory Type panel
			$("#editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:subcategoryTypeForm\\:subcategoryTypeHeader").click(function() {
				expandSubcategoryPanel("editPeerGroupCriteriaPanel\\:peerGroupAddView")
			});
			//Expand the specialty Criteria panel
			$("#editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:specialtyCriteriaForm\\:specialtyCriteriaHeader").click(function() {
				expandSpecialtyCriteriaPanel("editPeerGroupCriteriaPanel\\:peerGroupAddView")
			});
			//Expand the Town Criteria panel
			$("#editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:townCriteriaForm\\:townCriteriaHeader").click(function() {
				expandTownCriteriaPanel("editPeerGroupCriteriaPanel\\:peerGroupAddView")
			});
			//Expand the Health Service Criteria panel
			$("#editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:healthServiceCriteriaForm\\:healthServiceCriteriaHeader").click(function() {
				expandHSCPanel("editPeerGroupCriteriaPanel\\:peerGroupAddView")
			});

			// Assists in reseting the HSC search form
			$("#editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:healthServiceCriteriaForm\\:healthServiceCriteriaSearchBtnPanel\\:clearHSCBtn\\:commandButton").click(function() {
				resetForm("editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:healthServiceCriteriaForm");
			});

			// Remove the select... option from the Year End and Town Inclusive Add dropdowns
			removeSelectOptionFromDropdown("editPeerGroupCriteriaPanel\\:peerGroupAddView\\:editPeerGroupCriteriaFieldSet\\:editPeerGroupCriteriaForm\\:yearEndDateDrp\\:selectOneMenu");
			removeSelectOptionFromDropdown("editPeerGroupCriteriaPanel\\:peerGroupAddView\\:editPeerGroupCriteriaFieldSet\\:editPeerGroupCriteriaForm\\:townInclusiveDrp\\:selectOneMenu");

			// Remove RX option from practitioner Subcategory new dropdown
			removeRXSubcategoryOption("editPeerGroupCriteriaPanel\\:peerGroupAddView\\:expandColFieldset\\:subcategoryTypeForm\\:subTypeCriteriaDrp\\:selectOneMenu");
		});
	</script>
</ui:composition>