<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html" xmlns:f="http://java.sun.com/jsf/core"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.audit.peergroup.bulk.copy']}" id="bulkCopyPanel">
		<h:form id="bulkCopyForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="bulkCopyTab" for="#{peerGroupProxySet.clientId}" />

			<!-- New Year End Date field -->
			<mbs:selectOneMenu id="newPeerGroupYearEndDate" label="#{msgs['label.peergroup.bulk.copy.yearend']}"
				value="#{bulkCopyController.selectedBulkCopyDate}" labelStyleClass="col-xs-12 col-sm-3 col-md-2"
				inputStyleClass="col-xs-12 col-sm-3 col-md-2">
				<f:selectItems value="#{bulkCopyController.profilePeriodYearEndDates.entrySet()}" var="item" itemLabel="#{item.key}"
					itemValue="#{item.value}" for="#{bulkCopyController.selectedBulkCopyDate}" />
				<ace:ajax event="change" listener="#{bulkCopyController.targetYearEndDateChangeScan}" render="@all" />
			</mbs:selectOneMenu>

			<!-- Peer Group control buttons -->
			<h:panelGroup id="bulkCopyControlWrapper" rendered="#{bulkCopyController.selectedBulkCopyDate != null}">
				<mbs:commandButtonBar id="bulkCopyFormButtons">
					<mbs:commandButton value="#{msgs['button.select.all']}" action="#{bulkCopyController.selectAllPeerGroups}"
						type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.dselect']}" action="#{bulkCopyController.deselectAllPeerGroups}"
						type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.audit.peergroup.bulk.copy']}"
						action="#{bulkCopyController.executePeerGroupCopy}" type="primary" size="sm" />
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Data table displaying all Peer Groups
				 No duplicates will be displayed
				 ( Only the most recent year end date of a Peer Group is displayed ) -->
			<ace:dataTable id="bulkCopyPeerGroupTable" rows="25" value="#{bulkCopyController.peerGroupsAvailableForCopy}"
				styleClass="table-horizontal-adjustment" var="row" paginator="true" paginatorPosition="bottom"
				emptyMessage="#{msgs['common.label.no.data']}">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Copy select column -->
				<ace:column id="peerGroupCopyCol" headerText="#{msgs['label.peergroup.bulk.copy.col.header']}" style="width: 100px;">
					<ace:checkboxButton styleClass="checkbox #{row.copyDisabled == true ? 'disabled-checkbox' : ''}"
						id="peerGroupCopyChk" disabled="#{row.copyDisabled}" value="#{row.selectedForCopy}">
						<ace:ajax />
					</ace:checkboxButton>
				</ace:column>

				<!-- PeerGroup ID column -->
				<ace:column id="peerGroupIdCol" style="width: 150px;" headerText="#{msgs['common.label.peer.group.id']}"
					sortBy="#{row.peerGroupID}" filterBy="#{row.peerGroupID}" filterMatchMode="contains">
					<h:outputText value="#{row.peerGroupID}" />
				</ace:column>

				<!-- PeerGroup Name column -->
				<ace:column id="peerGroupNameCol" headerText="#{msgs['common.label.peer.group.name']}" sortBy="#{row.peerGroupName}"
					filterBy="#{row.peerGroupName}" filterMatchMode="contains">
					<h:outputText value="#{row.peerGroupName}" />
				</ace:column>

				<!-- Year End Date column -->
				<ace:column id="peerGroupYearEndCol" style="width: 150px;" headerText="#{msgs['common.label.year.end.date']}"
					sortBy="#{row.yearEndDate}" filterBy="#{row.yearEndDateString}" filterMatchMode="contains">
					<h:outputText value="#{row.yearEndDateString}" />
				</ace:column>

				<!-- Modified By & Last column -->
				<ace:column id="modifiedByCol" style="width: 150px;" headerText="#{msgs['common.label.modified.by']}"
					sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}" filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>
				<ace:column id="lastModifiedCol" style="width: 150px;" headerText="#{msgs['common.label.last.modified']}"
					sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>
</ui:composition>