<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-OutlierInquiry,Admin-OutlierUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.peer']}" />
	<ui:param name="page" value="PeerGroupsIndex" />
	<ui:param name="menuId" value="title.audit.peer" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.peer']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>

			<!-- Tab navigation -->
			<ace:tabSet id="peerGroupTabSet" tabChangeListener="#{peerGroupController.peerGroupTabChangeListener}"
				binding="#{peerGroupProxySet}" immediate="true">
				<ace:tabPane label="#{msgs['button.audit.peergroup.tab.edit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="peerGroupEditView">
						<ui:include src="PeerGroupSearch.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.peergroup.tab.add']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<mbs:panel id="editPeerGroupCriteriaPanel"
						header="#{peerGroupController.editingRecord == true ? msgs['header.audit.peergroup.edit'] : msgs['header.audit.peergroup.new']} #{peerGroupController.editingRecord == true ? peerGroupController.selectedPeerGroup.peerGroupName : ''}">
						<f:subview id="peerGroupAddView">
							<ui:include src="EditPeerGroupCriteria.xhtml" />
						</f:subview>
					</mbs:panel>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.peergroup.tab.bulk']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="peerGroupBulkCopyView">
						<ui:include src="PeerGroupBulkCopy.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.audit.peergroup.tab.manage.groups']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="managePractitionerInGroupView">
						<ui:include src="ManagePractitionersInGroups.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>