<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.medicare.audit.ind.exclusions.maint']}" id="editIndividualExclusionsPanel">

		<!-- Form for adding new Individual exclusions -->
		<h:form id="addIndividualExclusionsForm" styleClass="form-horizontal"
			rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{pharmacareController.addNewIndividualExclusion}" key="Enter"/>

			<div class="panel panel-primary" id="addNewIndividualExclusionPanel">
				<div class="panel-heading expandDiv" id="addNewIndividualExclusionHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandAddNewIndividualExclusion" class="fa fa-plus-circle"></i>
						#{msgs['header.medicare.audit.ind.exclusions.add']}
					</div>
				</div>
				<div id="addNewIndividualExclusionBody" class="panel-body hide-elements">

					<!-- Health Card Number input -->
					<mbs:input id="healthCardNumberTxt" label="#{msgs['common.label.health.card.number']}"
						labelStyleClass="col-xs-12 col-sm-5 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-2" required="true"
						displayValidState="false" value="#{pharmacareController.newIndividualExclusion.healthCardNumber}" maxlength="10" />

					<mbs:commandButtonBar id="newIndividualExclusionBtnPanel" align="left">
						<mbs:commandButton id="addNewIndividualExclusionBtn" value="#{msgs['button.add']}"
							action="#{pharmacareController.addNewIndividualExclusion}" type="primary" size="sm" />
					</mbs:commandButtonBar>
				</div>
			</div>

		</h:form>

		<h:form id="individualExclusionsEditForm">
			<ace:tabSetProxy id="editIndExclusionsTab" for="#{pharmacareProxyTabSet.clientId}" />

			<h4>
				<h:outputText value="#{msgs['header.medicare.audit.ind.exclusions']}" />
			</h4>
			<hr />

			<!-- Button bar holding primary functions for Individual exclusion maintenance -->
			<mbs:commandButtonBar id="individualExclusionBtnPanel" align="left"
				rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
				<mbs:commandButton id="saveIndividualExcChangesBtn" value="#{msgs['button.save']}"
					action="#{pharmacareController.executeIndividualExclusionsSave}" type="primary" size="sm" />
			</mbs:commandButtonBar>

			<ace:dataTable id="individualExclusionsTable" value="#{pharmacareController.individualExclusions}" var="row"
				styleClass="table-horizontal-adjustment" paginator="true" paginatorPosition="bottom" rows="25">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Health Card Number column -->
				<ace:column headerText="#{msgs['common.label.health.card.number']}" sortBy="#{row.healthCardNumber}"
					filterBy="#{row.healthCardNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.healthCardNumber}" />
				</ace:column>

				<!-- Name column -->
				<ace:column headerText="#{msgs['common.label.name']}" sortBy="#{row.name}" filterBy="#{row.name}"
					filterMatchMode="contains">
					<h:outputText value="#{row.name}" />
				</ace:column>

				<!-- Effective From Date column -->
				<ace:column headerText="#{msgs['common.label.effective.from']}" sortBy="#{row.effectiveFrom}"
					filterBy="#{row.effectiveFromString}" filterMatchMode="contains">

					<!-- Custom impl of DatePicker -->
					<h:panelGroup id="ctrFrom" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
						<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
							<ace:dateTimeEntry styleClass="form-control" id="effectiveFromInput" value="#{row.effectiveFrom}"
								disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" pattern="#{dateFormat}"
								renderAsPopup="true" showOn="both" effect="fadeIn" />
							<ace:message for="effectiveFromInput" escape="false" />
						</h:panelGroup>
					</h:panelGroup>

				</ace:column>

				<!-- Effective To column -->
				<ace:column headerText="#{msgs['common.label.effective.to']}" sortBy="#{row.effectiveTo}"
					filterBy="#{row.effectiveToString}" filterMatchMode="contains">

					<!-- Custom impl of DatePicker -->
					<h:panelGroup id="ctrTo" styleClass="form-group mbs-calendar in-row-calendar-picker" layout="block">
						<h:panelGroup layout="block" styleClass="in-row-calendar-picker">
							<ace:dateTimeEntry styleClass="form-control" id="effectiveToInput" value="#{row.effectiveTo}"
								disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" pattern="#{dateFormat}"
								renderAsPopup="true" showOn="both" effect="fadeIn" />
							<ace:message for="effectiveToInput" escape="false" />
						</h:panelGroup>
					</h:panelGroup>

				</ace:column>

				<!-- Modified By column -->
				<ace:column headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

				<!-- Last Modified column -->
				<ace:column headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
			</ace:dataTable>
		</h:form>
	</mbs:panel>
	<script>
		$(document).ready(function() {
			//Handles toggling of Add New Individual Exclusion panel
			$("#editGlobalIndExclusionsView\\:editIndividualExclusionsPanel\\:addIndividualExclusionsForm\\:addNewIndividualExclusionHeader").click(function() {
				toggleAddNewIndividualExclusionPanel();
			});
		});
	</script>
</ui:composition>