<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Style parameters -->
	<ui:param name="tableLayoutLabelStyle" value="col-xs-6 col-sm-6 col-md-5" />
	<ui:param name="tableLayoutInputStyle" value="col-xs-6 col-sm-6 col-md-6" />

	<!-- Add new Audit.. Basic information entry for new Audit Criteria (Step 1 of add) -->
	<h:form id="auditTypeSelection" styleClass="form-horizontal">
		<ace:tabSetProxy id="editAuditCriteriaTab" for="#{pharmacareProxyTabSet.clientId}" />

		<h4>
			<h:outputText value="#{msgs['header.medicare.audit.criteria.pharm.new']}" />
		</h4>
		<hr />

		<!-- Audit Type dropdown -->
		<mbs:selectOneMenu id="auditTypeDrpdwn" label="#{msgs['common.label.auditType']}"
			value="#{pharmacareController.selectedAuditCriteria.auditType}" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
			inputStyleClass="col-xs-12 col-sm-5 col-md-3">
			<f:selectItems value="#{pharmacareController.pharmacareAuditTypes.entrySet()}" var="entry" itemLabel="#{entry.value}"
				itemValue="#{entry.key}" for="#{pharmacareController.selectedAuditCriteria.auditType}" />
		</mbs:selectOneMenu>
		<!-- Pharmacy ID -->
		<mbs:input id="pharmacyIdTxt" label="#{msgs['common.label.pharm.id']}" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
			inputStyleClass="col-xs-12 col-sm-5 col-md-3" value="#{pharmacareController.selectedAuditCriteria.providerNumber}" />
		<!-- Practitioner Type -->
		<mbs:input id="practitionerTypeDrp" label="#{msgs['common.label.subcategory']}" disabled="true"
			labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-3"
			value="#{pharmacareController.selectedAuditCriteria.providerType}" />

		<mbs:commandButtonBar id="addNewAuditCriteriaBtnPanel">
			<mbs:commandButton value="#{msgs['button.next']}" action="#{pharmacareController.displayAddNewAuditCriteriaForm}"
				type="primary" size="sm" />
		</mbs:commandButtonBar>
	</h:form>

	<!-- Audit edit form begins -->
	<h:form id="auditCriteriaEditForm" styleClass="form-horizontal hide-elements">
		<!-- JTRAX-62 07-MAR-18 BCAINNE -->
		<icecore:defaultAction action="#{pharmacareController.executeReturnToAuditCriteriaSearch}" key="Enter"/>
		
		<div class="row">
			<!-- Column 1 (Audit Criteria Information section, Service Information, Inclusive/Exclusive) -->
			<div class="col-xs-12 col-sm-5 col-md-5">
				<h4>
					<h:outputText value="#{msgs['header.medicare.audit.info']}" />
				</h4>
				<hr />
				<!-- Audit Criteria ID field -->
				<mbs:input id="auditCriteriaIdTxt" label="#{msgs['label.audit.crit.audit.criteria.id']}"
					rendered="#{pharmacareController.editMode}" displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}"
					disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{pharmacareController.selectedAuditCriteria.auditCriteriaId}" />

				<!-- Audit Typ -->
				<mbs:input id="auditTypeTxt" label="#{msgs['label.audit.crit.audit.type']}"
					labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
					inputStyleClass="#{tableLayoutInputStyle}" value="#{pharmacareController.selectedAuditCriteria.auditType}" />

				<!-- Cexp From Code -->
				<mbs:input id="cexpFromCode" label="#{msgs['label.audit.crit.cexp.from']}"
					labelStyleClass="#{tableLayoutLabelStyle}" displayValidState="false" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{pharmacareController.selectedAuditCriteria.fromCexpCode}" maxlength="7" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Cexp To Code -->
				<mbs:input id="cexpToCode" label="#{msgs['label.audit.crit.cexp.to']}" labelStyleClass="#{tableLayoutLabelStyle}"
					displayValidState="false" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{pharmacareController.selectedAuditCriteria.toCexpCode}" maxlength="7" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Audit From Date -->
				<h:panelGroup id="auditFromDateCal" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.from']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditFromDateInput"
							value="#{pharmacareController.selectedAuditCriteria.auditFrom}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>
				<!-- Audit To Date -->
				<h:panelGroup id="auditToDateCal" styleClass="form-group mbs-calendar" layout="block">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.to']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditToDateInput"
							value="#{pharmacareController.selectedAuditCriteria.auditTo}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>

				<!-- Audit Latest Payment Date checkbox -->
				<h:panelGroup id="ctrLatestPaymentDate" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.last.payment.run.num']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="latestPaymentDateChk"
								value="#{pharmacareController.selectedAuditCriteria.auditFromLastIndicator}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Only displayed on edit -->
				<h:panelGroup rendered="#{pharmacareController.editMode}">
					<!-- Modified By -->
					<mbs:input id="modifiedByTxt" label="#{msgs['common.label.modified.by']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{pharmacareController.selectedAuditCriteria.modifiedBy}" />
					<!-- Last Modified -->
					<mbs:input id="lastModifiedTxt" label="#{msgs['common.label.last.modified']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{pharmacareController.selectedAuditCriteria.lastModified}">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>

				<!-- Inclusive/Exclusive section -->
				<h4>#{msgs['header.medicare.audit.inc']}</h4>
				<hr />
				<!-- Health Service checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrHs" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.din']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="dinChk" value="#{pharmacareController.selectedAuditCriteria.dinInclusive}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Service Information section -->
				<h4>#{msgs['header.medicare.audit.service.info']}</h4>
				<hr />
				<!-- Number of Services to Audit -->
				<mbs:input id="numOfServicesToAuditTxt" label="#{msgs['label.audit.crit.audit.services.audit']}"
					displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{pharmacareController.selectedAuditCriteria.numberOfServicesToAudit}">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Last Audit Information section (only displayed on edit) -->
				<h:panelGroup rendered="#{pharmacareController.editMode}">
					<h4>
						<h:outputText value="#{msgs['header.medicare.audit.criteria.last']}" />
					</h4>
					<hr />
					<!-- Last Audit Payment Date -->
					<mbs:input id="lastAuditPaymentDate" label="#{msgs['label.audit.crit.audit.last.payment']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{pharmacareController.selectedAuditCriteria.lastPaymentDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
					<!-- Last Audit Run number -->
					<mbs:input id="lastAuditRunNumber" label="#{msgs['label.audit.crit.audit.last.run.num']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{pharmacareController.selectedAuditCriteria.lastAuditRunNumber}" />
					<!-- Last Audit Date -->
					<mbs:input id="lastAuditDate" label="#{msgs['label.audit.crit.audit.last.date']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
						inputStyleClass="#{tableLayoutInputStyle}" value="#{pharmacareController.selectedAuditCriteria.lastAuditDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>

				<!-- Edit form button bar -->
				<mbs:commandButtonBar id="auditCriteriaEditBtnPanel">
					<mbs:commandButton value="#{msgs['button.save']}" action="#{pharmacareController.executeAuditCriteriaSave}"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" type="primary" size="sm" />

					<!-- Back button for editing existing -->
					<mbs:commandButton rendered="#{pharmacareController.editMode}"
						value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{pharmacareController.executeReturnToAuditCriteriaSearch}" type="danger" size="sm" />

					<!-- Back button for adding new -->
					<mbs:commandButton rendered="#{!pharmacareController.editMode}"
						value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{pharmacareController.returnToAddNewAuditTypeSelection}" type="danger" size="sm" />
				</mbs:commandButtonBar>
			</div>
			<div class="col-xs-12 col-sm-7 col-md-7">
				<!-- DIN panel -->
				<div class="panel panel-primary" id="dinPanel">
					<div class="panel-heading expandDiv" id="dinHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandDin" class="fa fa-plus-circle"></i> #{msgs['label.audit.crit.din']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="dinWrapper">

						<h:panelGroup rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
							<h4>
								<h:outputText value="#{msgs['label.audit.crit.din.search']}" />
							</h4>
							<hr />
							<mbs:input id="dinSearch" label="#{msgs['label.audit.crit.din']}"
								value="#{pharmacareController.dinSearchCriteria.din}" labelStyleClass="col-xs-3 col-sm-3 col-md-3" maxlength="8"
								inputStyleClass="col-xs-3 col-sm-3 col-md-3" displayValidState="false" />

							<mbs:input id="dinWordSearch" label="#{msgs['label.aduit.crit.drug.name']}"
								value="#{pharmacareController.dinSearchCriteria.drugName}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								maxlength="50" inputStyleClass="col-xs-3 col-sm-3 col-md-3" displayValidState="false" />

							<mbs:commandButtonBar id="dinSearchBtnPanel" align="left">
								<mbs:commandButton value="#{msgs['button.search']}" action="#{pharmacareController.executeDinSearch}"
									type="primary" size="sm" />
								<mbs:commandButton value="#{msgs['button.clear']}"
									action="#{pharmacareController.dinSearchCriteria.resetSearchCriteria}" type="danger" size="sm" />
							</mbs:commandButtonBar>
						</h:panelGroup>

						<ace:dataTable id="dinTable" var="row" paginator="true" paginatorPosition="bottom"
							value="#{pharmacareController.selectedAuditCriteria.dins}" rows="25" styleClass="table-horizontal-adjustment"
							emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- DIN column -->
							<ace:column id="dinHeader" filterBy="#{row.drugIdentificationNumber}" filterMatchMode="contains"
								sortBy="#{row.drugIdentificationNumber}" headerText="#{msgs['label.audit.crit.din']}">
								<h:outputText value="#{row.drugIdentificationNumber}" />
							</ace:column>

							<!-- Drug name column -->
							<ace:column id="drugNameHeader" filterBy="#{row.drugName}" filterMatchMode="contains" sortBy="#{row.drugName}"
								headerText="#{msgs['label.aduit.crit.drug.name']}" stacked="true">
								<h:outputText value="#{row.drugName}" />
							</ace:column>

							<!-- Age Restriction column -->
							<ace:column id="ageRestrictionCol" filterBy="#{row.ageRestriction}" filterMatchMode="contains"
								sortBy="#{row.ageRestriction}" headerText="#{msgs['common.label.age.restrict']}" rowspan="2">
								<mbs:input id="dinAgeRestriction" value="#{row.ageRestriction}" maxlength="3" displayValidState="false"
									disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" displayLabel="false"
									inputStyleClass="col-xs-12 col-sm-12 col-md-12" fAttributeName="disableGrouping" fAttributeValue="true">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>
							</ace:column>

							<!-- Gender Restriction column -->
							<ace:column id="genderRestrictionCol" filterBy="#{row.genderRestriction}" filterMatchMode="contains"
								sortBy="#{row.genderRestriction}" headerText="#{msgs['common.label.gender.restrict']}" rowspan="2">
								<mbs:selectOneMenu id="genderRestrictionDrp" displayLabel="false" value="#{row.genderRestriction}"
									inputStyleClass="col-xs-12 col-sm-12 col-md-12">
									<f:selectItems value="#{pharmacareController.genderRestrictions}" var="option"
										itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										itemLabel="#{msgs[option.genderLabel]}" itemValue="#{option.genderValue}" />
								</mbs:selectOneMenu>
							</ace:column>

							<!-- Modified By column -->
							<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}"
								headerText="#{msgs['common.label.modified.by']}" rowspan="2">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>

							<!-- Last Modified column -->
							<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}" rowspan="2">
								<h:outputText value="#{row.lastModified}">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Delete column -->
							<ace:column id="deleteCol" headerText="" rowspan="2"
								rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
								<mbs:commandButtonBar id="dinDeletePanel" align="center">
									<mbs:commandButton value="#{msgs['button.delete']}"
										action="#{pharmacareController.removeDinFromAuditCriteria(row)}" type="danger" size="sm" />
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
			</div>
		</div>
	</h:form>

	<h:form id="dinResultPopupForm">
		<mbs:popup id="dinSearchResultPopup" title="#{msgs['header.common.search.results']}" size="sm"
			visible="#{pharmacareController.displayDinSearchResults}" customFooter="true">

			<ace:dataTable id="dinResultsTable" var="row" paginator="true" paginatorPosition="bottom"
				styleClass="table-horizontal-adjustment" value="#{pharmacareController.dinSearchResults}" rows="20"
				emptyMessage="#{msgs['common.label.no.data']}" selectionMode="multiple"
				stateMap="#{pharmacareController.dinSearchResultsStateMap}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- DIN column -->
				<ace:column id="dinHeader" filterBy="#{row.drugIdentificationNumber}" filterMatchMode="contains"
					sortBy="#{row.drugIdentificationNumber}" headerText="#{msgs['label.audit.crit.din']}">
					<h:outputText value="#{row.drugIdentificationNumber}" />
				</ace:column>

				<!-- Drug name column -->
				<ace:column id="drugNameHeader" filterBy="#{row.drugName}" filterMatchMode="contains" sortBy="#{row.drugName}"
					headerText="#{msgs['label.aduit.crit.drug.name']}">
					<h:outputText value="#{row.drugName}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{pharmacareController.executeSelectAllDins}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{pharmacareController.executeDeselectAllDins}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{pharmacareController.addSelectedDinsToAuditCriteria}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md"
						action="#{pharmacareController.closeDinSearchResults}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<!-- Page javascript -->
	<script>
		$(document).ready(function() {
			$("#searchEditAuditCriteriaView\\:searchAuditCriteriaPanel\\:auditCriteriaEditForm\\:dinHeader").click(function() {
				toggleDinPanel("searchEditAuditCriteriaView\\:searchAuditCriteriaPanel");
			});
			$("#editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditCriteriaEditForm\\:dinHeader").click(function() {
				toggleDinPanel("editAuditCriteriaPanel\\:addNewAuditCriteriaView");
			});
		});
	</script>
</ui:composition>