<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-4" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-5" />

	<mbs:panel header="#{msgs['header.pharmcare.audit.letter.response.search']}" id="searchEditPharmacareALRPanel">
		<!-- Search panel/form -->
		<h:form id="pharmacareALRSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{pharmacareController.executePharmCareALRSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="maintainPharmCareAuditResTab" for="#{pharmacareProxyTabSet.clientId}" />

			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- Audit run number -->
				<mbs:input id="auditRunNumberinputTxt" label="#{msgs['label.audit.letter.response.audit.run.number']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{pharmacareController.pharmacareALRSearchCriteria.auditRunNumber}" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Claim Ref number -->
				<mbs:input id="claimRefNumberinputTxt" label="#{msgs['label.audit.letter.response.claim.number']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{pharmacareController.pharmacareALRSearchCriteria.claimRefNum}" />

				<!-- Pharmacy ID -->
				<mbs:input id="practitionerIDTxt" label="#{msgs['common.label.pharm.id']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}" value="#{pharmacareController.pharmacareALRSearchCriteria.practitionerNumber}"
					fAttributeName="disableGrouping" fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Subcategory -->
				<mbs:input id="practitionerTypeTxt" label="#{msgs['common.label.subcategory']}" disabled="true"
					value="#{pharmacareController.pharmacareALRSearchCriteria.practitionerType}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}" />

				<!-- Pharmacy Name -->
				<mbs:input id="phamacyNameInputTxt" label="#{msgs['common.label.pharm.name']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}" value="#{pharmacareController.pharmacareALRSearchCriteria.practitionerName}" />


			</h:panelGroup>

			<h:panelGroup class="col-xs-12 col-sm-6">
				<!-- HCN/Client ID -->
				<mbs:input id="hcnClientIDTxt" label="#{msgs['label.audit.letter.response.client.id']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{pharmacareController.pharmacareALRSearchCriteria.hcnClientID}" />

				<!-- Audit Type -->
				<mbs:selectOneMenu id="auditTypeInputTxt" value="#{pharmacareController.pharmacareALRSearchCriteria.auditType}"
					label="#{msgs['label.audit.letter.response.type']}" labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{pharmacareController.pharmacareAuditTypes.entrySet()}" var="item" itemLabel="#{item.value}"
						itemValue="#{item.key}" for="#{pharmacareController.pharmacareALRSearchCriteria.auditType}" />
				</mbs:selectOneMenu>

				<!-- Response Status -->
				<mbs:selectOneMenu id="responseStatusInputTxt"
					value="#{pharmacareController.pharmacareALRSearchCriteria.responseStatus}"
					label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{labelStyle}"
					inputStyleClass="#{inputStyle}">
					<f:selectItems value="#{pharmacareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
						itemValue="#{item.key}" for="#{pharmacareController.pharmacareALRSearchCriteria.responseStatus}" />
				</mbs:selectOneMenu>

				<!-- Audit from date -->
				<mbs:calendar id="auditFromDate" label="#{msgs['label.audit.letter.response.audit.from.date']}" showOn="both"
					value="#{pharmacareController.pharmacareALRSearchCriteria.auditFromDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />

				<!-- Audit to date -->
				<mbs:calendar id="auditToDate" label="#{msgs['label.audit.letter.response.audit.to.date']}" showOn="both"
					value="#{pharmacareController.pharmacareALRSearchCriteria.auditToDate}" labelStyleClass="#{labelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" />
			</h:panelGroup>

			<!-- Button bar -->
			<mbs:commandButtonBar id="pharmcareauditRepSearchBtnPanel">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary" size="sm"
					action="#{pharmacareController.executePharmCareALRSearch}" />
				<mbs:commandButton id="resetSearchBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
					action="#{pharmacareController.resetPharmacareALRSearchCriteria}">
					<f:ajax event="click" immediate="true" listener="#{pharmacareController.resetPharmacareALRSearchCriteria}"
						render="@form" />
				</mbs:commandButton>
			</mbs:commandButtonBar>

			<!-- Pharmacare Audit Letter Responses search results -->
			<h:panelGroup id="pharmCareALRSearchResults"
				styleClass="#{pharmacareController.displayAuditLetterResponsesSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{pharmacareController.totalAuditLetterResponses}" />
				</h4>
				<!-- Number of Letters created -->
				<h4>
					<h:outputText rendered="#{pharmacareController.displayNumberOfLettersCreated}"
						value="#{msgs['label.audit.number.of.letters']} #{pharmacareController.pharmacareALRSearchCriteria.auditRunNumber} : #{pharmacareController.numberOfLettersCreated}" />
				</h4>

				<ace:dataTable id="auditResponseResultTable" rows="20" lazy="true" paginator="true" paginatorPosition="bottom"
					var="row" styleClass="table-horizontal-adjustment" value="#{pharmacareController.pharmacareAuditLetterResponses}"
					emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Pharmacy Number -->
					<ace:column id="searchPractitionerNumberCol" headerText="#{msgs['common.label.pharm.id']}"
						sortBy="#{row.provider_number}">
						<h:outputText value="#{row.provider_number}" />
					</ace:column>
					<!-- provider type -->
					<ace:column id="searchPractitionerTypeCol" headerText="#{msgs['common.label.type']}" sortBy="#{row.provider_type}">
						<h:outputText value="#{row.provider_type}" />
					</ace:column>

					<!-- Claim Ref Number -->
					<ace:column id="searchClaimRefNumCol" headerText="#{msgs['label.audit.letter.response.claim.number']}"
						sortBy="#{row.claim_ref_num}">
						<h:outputText value="#{row.claim_ref_num}" />
					</ace:column>
					<!-- audit Run Number -->
					<ace:column id="searchAuditRunNumCol" headerText="#{msgs['label.audit.letter.response.audit.run.number']}"
						sortBy="#{row.audit_run_number}">
						<h:outputText value="#{row.audit_run_number}" />
					</ace:column>

					<!-- HCN Client ID -->
					<ace:column id="searchClientId" headerText="#{msgs['label.audit.letter.response.client.id']}"
						sortBy="#{row.client_id}">
						<h:outputText value="#{row.client_id}" />
					</ace:column>
					<!-- Audit Type -->
					<ace:column id="searchAuditTypeCol" headerText="#{msgs['label.audit.letter.response.type']}"
						sortBy="#{row.audit_type}">
						<h:outputText value="#{row.audit_type}" />
					</ace:column>
					<!-- Audit Date -->
					<ace:column id="searchAuditDateCol" headerText="#{msgs['label.audit.letter.response.audit.date']}"
						sortBy="#{row.audit_letter_creation_date}">
						<h:outputText value="#{row.audit_letter_creation_date}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>
					<!-- Response Status -->
					<ace:column id="searchRespondStatusCol" headerText="#{msgs['label.audit.letter.response.response.status']}"
						sortBy="#{row.response_status_code}">
						<h:outputText value="#{row.response_status_code}" />
					</ace:column>
					<!-- Pharmacy Name col -->
					<ace:column id="searchProviderNameCol" headerText="#{msgs['common.label.pharm.name']}"
						sortBy="#{row.provider_name}">
						<h:outputText value="#{row.provider_name}" />
					</ace:column>

					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
								type="primary" size="xs" action="#{pharmacareController.executeEditSelectedPCALR(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Edit selected Pharmacare audit letter responds record panel -->
		<h:form id="pharmacareALREditForm">
			<h:panelGroup id="pharmacareALREditWrapper" styleClass="hide-elements">
				<!-- Row 1 for Audit information-->
				<div class="row">
					<div class="col-xs-7 col-sm-12">

						<div class="panel panel-primary" id="auditInfoPanel">
							<div class="panel-heading" id="auditInfoHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.pharmcare.audit.letter.response.edit']}</div>
							</div>
							<div class="panel-body" id="auditInfoWrapper">
								<h5>#{msgs['header.pharmcare.audit.letter.response.edit.details']}</h5>
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Run Number -->
									<mbs:input label="#{msgs['label.audit.letter.response.audit.run.number']}" id="editAuditRunNumber"
										value="#{pharmacareController.selectedFCALR.audit_run_number}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Pharmacy number -->
									<mbs:input label="#{msgs['common.label.pharm.id']}" id="editProviderNumber"
										value="#{pharmacareController.selectedFCALR.provider_number}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Provider Type -->
									<mbs:input label="#{msgs['common.label.subcategory']}" id="editProviderType"
										value="#{pharmacareController.selectedFCALR.provider_type}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Pharmacy Name -->
									<mbs:input label="#{msgs['common.label.pharm.name']}" id="editProviderName"
										value="#{pharmacareController.selectedFCALR.provider_name}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- second column Information -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Audit Type -->
									<mbs:input label="#{msgs['label.audit.letter.response.type']}" id="editAuditType"
										value="#{pharmacareController.selectedFCALR.audit_type}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									<!-- Claim Selection Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.claim.selection.date']}" id="editClaimSelectionDate"
										value="#{pharmacareController.selectedFCALR.se_selection_date}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Response Status -->
									<mbs:selectOneMenu id="editRespondsStatus" value="#{pharmacareController.selectedFCALR.response_status_code}"
										label="#{msgs['label.audit.letter.response.response.status']}" labelStyleClass="#{subFormLabelStyle}"
										inputStyleClass="#{subFormInputStyle}">
										<f:selectItems value="#{pharmacareController.responseStatus.entrySet()}" var="item" itemLabel="#{item.value}"
											itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" itemValue="#{item.key}"
											for="#{pharmacareController.selectedFCALR.response_status_code}" />
									</mbs:selectOneMenu>
									<!-- Audit Letter Creation Date -->
									<mbs:input label="#{msgs['label.audit.letter.response.creation.date']}" id="editCreationDate"
										value="#{pharmacareController.selectedFCALR.audit_letter_creation_date}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" disabled="true">
										<f:convertDateTime pattern="#{dateFormat}" for="input" />
									</mbs:input>

									<!-- Audit Letter Note -->
									<mbs:input label="#{msgs['label.audit.letter.response.note']}" id="editNote" maxlength="80"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{pharmacareController.selectedFCALR.audit_note}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
								</div>
								<!-- Additional Information Part 2 -->
								<div class="col-xs-12 col-sm-4">
									<hr />
									<!-- Chargeback Amount -->
									<mbs:input label="#{msgs['label.audit.letter.response.charge.back.amount']}" id="editChargeBackDate"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{pharmacareController.selectedFCALR.chargeback_amount}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="currencyConverter" for="input" />
									</mbs:input>

									<!-- nunmber of Times Sent -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.sent']}" id="editNumberOfTimesSent"
										value="#{pharmacareController.selectedFCALR.number_of_times_sent}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # Claims Affected -->
									<mbs:input label="#{msgs['label.audit.letter.response.number.claims.affected']}" id="editClaimsAffected"
										disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										value="#{pharmacareController.selectedFCALR.number_of_claims_affected}" displayValidState="false"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:converter converterId="integerConverter" for="input" />
									</mbs:input>

									<!-- # Modified by -->
									<mbs:input label="#{msgs['common.label.modified.by']}" id="editModifiedBy"
										value="#{pharmacareController.selectedFCALR.modified_by}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									<!-- # Last Modifed -->
									<mbs:input label="#{msgs['common.label.last.modified']}" id="editLastModified"
										value="#{pharmacareController.selectedFCALR.last_modified}" displayValidState="false" disabled="true"
										labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
										<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
									</mbs:input>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Row 2 for claim information -->
				<div class="row">
					<div class="col-xs-7 col-sm-12">
						<div class="panel panel-primary" id="claimInformationPanel">
							<div class="panel-heading" id="claimInformationHeader">
								<h3 class="panel-title"></h3>
								<div>#{msgs['header.pharmcare.audit.letter.response.claim.information']}</div>
							</div>
							<div class="panel-body" id="claimInformationWrapper">
								<div class="row">
									<div class="col-xs-3 col-sm-4">
										<hr />
										<!-- Claim Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.number']}" id="editClaimNumber"
											value="#{pharmacareController.selectedFCALR.claim_ref_num}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Healther Card Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.health.card.number']}" id="editHCN"
											value="#{pharmacareController.selectedFCALR.client_id}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

									</div>
									<div class="col-xs-3 col-sm-4">
										<hr />
										<!-- Din -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.din']}" id="editDin"
											value="#{pharmacareController.selectedFCALR.din}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Drug Name-->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.din.name']}" id="editProductName"
											value="#{pharmacareController.selectedFCALR.prod_e}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Date Dispensed-->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.date.dispensed']}" id="editDateDispensed"
											value="#{pharmacareController.selectedFCALR.claim_date}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}">
											<f:convertDateTime pattern="#{dateFormat}" for="input" />
										</mbs:input>
									</div>
									<div class="col-xs-3 col-sm-4">

										<hr />
										<!-- Prescription Number -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.perescription.number']}" id="editPrescription"
											value="#{pharmacareController.selectedFCALR.original_rx_numb}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Quantity -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.Quantity']}" id="editQuantity"
											value="#{pharmacareController.selectedFCALR.mqty_paid}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />

										<!-- Insurance Paid -->
										<mbs:input label="#{msgs['label.audit.letter.response.claim.insurance.paid']}" id="editInsurancePaid"
											value="#{pharmacareController.selectedFCALR.mqty_paid}" displayValidState="false" disabled="true"
											labelStyleClass="#{subFormLabelStyle}" inputStyleClass="#{subFormInputStyle}" />
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<mbs:commandButtonBar>
					<mbs:commandButton id="saveBtnID" value="#{msgs['button.save']}" type="primary" size="sm"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
						action="#{pharmacareController.executeSavepharmacareALR}" />
					<mbs:commandButton id="backBtnID" value="#{msgs['common.label.cancel.back.to.search']}" type="danger" size="sm"
						action="#{pharmacareController.executeReturnToALRSearch}" />
				</mbs:commandButtonBar>
			</h:panelGroup>
		</h:form>
	</mbs:panel>
</ui:composition>