<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<ui:param name="labelStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-4" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-6 col-md-6 col-lg-5" />

	<mbs:panel header="#{msgs['header.pharmcare.audit.maintain.din.exclusions']}" id="searchDINPanel">
		<!-- Search panel/form -->
		<h:form id="dinSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{dssPharmAuditDinExclController.executeAddDin}" key="Enter"/>
		
			<ace:tabSetProxy id="maintainPharmCareAuditResTab" for="#{pharmacareProxyTabSet.clientId}" />
	
			<table><tr><td width="75%">
			<h:panelGroup class="col-xs-12 col-sm-12">
				<!-- Audit run number -->
				<mbs:input id="dinNumber" label="#{msgs['label.audit.crit.din']}"
					labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
					value="#{dssPharmAuditDinExclController.newDin}"  maxlength="8"/>					

				<!-- Button bar -->
				<mbs:commandButtonBar id="dinAddBtnPanel">
					<mbs:commandButton value="#{msgs['button.add']}" type="primary" size="sm"
						action="#{dssPharmAuditDinExclController.executeAddDin}" rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
					</mbs:commandButton>
				</mbs:commandButtonBar>
				<br/>
			</h:panelGroup>
			</td></tr></table>			
		</h:form>
		<h:form>
			<h:panelGroup class="col-xs-12 col-sm-12">
				<h4>
					<h:outputText value="#{msgs['header.pharmcare.audit.din.exclusions']}"/>
				</h4>
				<hr />
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="sm" rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
						action="#{dssPharmAuditDinExclController.executeSaveDinExcls}" >
					</mbs:commandButton>
					<div style="height: 15px;"></div>
			</h:panelGroup>
			<h:panelGroup class="col-xs-12 col-sm-12">
				<ace:dataTable id="dinExclsResultTable" var="row" styleClass="table-horizontal-adjustment" paginator="true" paginatorPosition="bottom" rows="15" 
					value="#{dssPharmAuditDinExclController.pharmAuditDinExclResults}" emptyMessage="#{msgs['common.label.no.results']}" 
					stateMap="#{dssPharmAuditDinExclController.dinExclStateMap}" selectionMode="multiple">
					
					<!-- Sets the filter delay -->
					<ace:ajax event="filter" onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />
										
					<!-- DIN -->
					<ace:column id="dinCol" headerText="#{msgs['label.audit.crit.din']}" sortBy="#{row.din}" filterBy="#{row.din}" filterMatchMode="contains">
						<h:outputText value="#{row.din}" />
					</ace:column>                    	
					<!-- Drug Name -->
					<ace:column id="drugNameCol" headerText="#{msgs['label.aduit.crit.drug.name']}"	sortBy="#{row.name}" filterBy="#{row.name}" filterMatchMode="contains">
						<h:outputText value="#{row.name}" />
					</ace:column>										
					<!-- Age Restriction column -->
					<ace:column id="ageRestrictionCol" sortBy="#{row.ageRestriction}" headerText="#{msgs['common.label.age.restrict']}" rowspan="2" filterBy="#{row.ageRestriction}" filterMatchMode="contains">
						<mbs:input id="dinAgeRestriction" value="#{row.ageRestriction}" maxlength="3" displayValidState="false"
							disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" displayLabel="false"
							inputStyleClass="col-xs-12 col-sm-12 col-md-12" fAttributeName="disableGrouping" fAttributeValue="true">
							<f:converter converterId="integerConverter" for="input" />
							<f:ajax event="blur" listener="#{dssPharmAuditDinExclController.recordChange(row.din)}" render="@this" />
						</mbs:input>
					</ace:column>
					<!-- Gender Restriction column -->
					<ace:column id="genderRestrictionCol" sortBy="#{row.genderRestriction}" headerText="#{msgs['common.label.gender.restrict']}" rowspan="2" filterBy="#{row.genderRestriction}" filterOptions="#{pharmacareController.genderFilterOptions}" filterMatchMode="contains">
						<mbs:selectOneMenu id="genderRestrictionDrp" displayLabel="false" value="#{row.genderRestriction}"
							inputStyleClass="col-xs-12 col-sm-12 col-md-12">
							<f:selectItems value="#{pharmacareController.genderRestrictions}" var="option"
								itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
								itemLabel="#{msgs[option.genderLabel]}" itemValue="#{option.genderValue}" />
							<f:ajax event="change" listener="#{dssPharmAuditDinExclController.recordChange(row.din)}" render="@this" />
						</mbs:selectOneMenu>
					</ace:column>				
					<!-- Modified By -->
					<ace:column id="modifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}" filterMatchMode="contains">
						<h:outputText value="#{row.modifiedBy}"/>
					</ace:column>
					<!-- Last Modified -->
					<ace:column id="lastModifiedCol" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModifiedString}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
						<h:outputText value="#{row.lastModifiedString}" />
					</ace:column>
				</ace:dataTable>
						<mbs:commandButtonBar>
							<mbs:commandButton value="#{msgs['button.delete.selected']}" type="danger" size="xs"
								action="#{dssPharmAuditDinExclController.selectDinExclusionsToDelete}">
							</mbs:commandButton>
						</mbs:commandButtonBar>
			</h:panelGroup>
		</h:form>			
	</mbs:panel>
	
	<h:form id="confirmDeleteDinExclusionForm">
		<mbs:popup id="confirmDeleteDinExclusionPopup" title="#{msgs['header.common.confirm.delete']}"
			rendered="#{dssPharmAuditDinExclController.displayConfirmDeleteDinExclusion}" customFooter="true">

			<!--  Delete confirmation message -->
			#{msgs['din.delete.confirmation']}
			
			<f:facet name="footer">
				<mbs:commandButtonBar>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{dssPharmAuditDinExclController.confirmDeleteDinExclusion}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{dssPharmAuditDinExclController.closeConfirmDeleteDinExclusionPopup}" />
				</mbs:commandButtonBar>
			</f:facet>
		</mbs:popup>
	</h:form>
	
</ui:composition>