<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel
		header="#{pharmacareController.selectedAuditCriteria.providerNumber == null ? msgs['header.medicare.audit.criteria.maintain'] : msgs['header.medicare.audit.criteria.edit']} #{pharmacareController.selectedAuditCriteria.providerNumber} #{pharmacareController.selectedAuditCriteria.providerType} #{pharmacareController.selectedAuditCriteria.providerName}"
		id="searchAuditCriteriaPanel">

		<!-- Audit Panel begins -->
		<h:form id="auditCriteriaSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{pharmacareController.executeAuditCriteriaSearch}" key="Enter"/>
			
			<ace:tabSetProxy id="searchAuditCriteriaTab" for="#{pharmacareProxyTabSet.clientId}" />

			<!-- Step 1: User specifies what type of Audit criteria to search/edit -->
			<h:panelGroup id="auditCriteriaSearchStep1Wrapper">
				<!-- Type of Audit Criteria dropdown -->
				<h4>#{msgs['header.medicare.audit.criteria.type']}</h4>
				<mbs:selectOneMenu id="auditCriteriaTypeDrp" label="" labelStyleClass="col-xs-12 col-sm-1 col-md-1"
					inputStyleClass="col-xs-12 col-sm-5 col-md-3"
					value="#{pharmacareController.auditCriteriaSearchCriteria.auditCriteriaType}">
					<f:selectItems value="#{pharmacareController.pharmacareAuditCriteriaTypes}" var="option"
						itemLabel="#{option.value}" itemValue="#{option.key}" />
					<f:ajax event="change" listener="#{pharmacareController.displayAuditCriteriaSearchForm}"
						render=":searchEditAuditCriteriaView:searchAuditCriteriaPanel:auditCriteriaSearchForm" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<!-- Step 2: Search form allowing user to specify search criteria -->
			<h:panelGroup id="auditCriteriaSearchStep2Wrapper" styleClass="hide-elements">
				<!-- Conditional headers for search form. Changes depending on search style -->
				<h:panelGroup rendered="#{!pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<h4>#{msgs['header.medicare.audit.default']}</h4>
				</h:panelGroup>
				<h:panelGroup rendered="#{pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<h4>#{msgs['header.pharmcare.audit.pharmacy']}</h4>
				</h:panelGroup>
				<!-- Fields always shown in search form regardless of Audit Type selection -->
				<!-- Audit Type selection -->
				<mbs:selectOneMenu id="auditTypeDrp" label="#{msgs['label.audit.crit.audit.type']}"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
					value="#{pharmacareController.auditCriteriaSearchCriteria.auditType}">
					<f:selectItems value="#{pharmacareController.pharmacareAuditTypes.entrySet()}" var="entry"
						itemLabel="#{entry.value}" itemValue="#{entry.key}"
						for="#{pharmacareController.auditCriteriaSearchCriteria.auditType}" />
				</mbs:selectOneMenu>

				<!-- Fields only shown if Audit Type selection is Practitioner -->
				<h:panelGroup rendered="#{pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<!-- Audit Criteria ID input -->
					<mbs:input id="auditCriteriaIdTxt" label="#{msgs['label.audit.crit.audit.criteria.id']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{pharmacareController.auditCriteriaSearchCriteria.auditCriteriaId}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
					<!-- Pharmacy ID input -->
					<mbs:input id="pharmacyIdTxt" label="#{msgs['common.label.pharm.id']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{pharmacareController.auditCriteriaSearchCriteria.practitionerId}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
					<!-- Subcategory (Disabled) -->
					<mbs:input id="subcateogryTxt" label="#{msgs['common.label.subcategory']}" disabled="true"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{pharmacareController.auditCriteriaSearchCriteria.subcategory}" />
					<!-- Pharmacy Name input -->
					<mbs:input id="pharmacyNameTxt" label="#{msgs['common.label.pharm.name']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{pharmacareController.auditCriteriaSearchCriteria.practitionerName}" />
				</h:panelGroup>

				<!-- Search form buttons -->
				<mbs:commandButtonBar id="auditCriteriSearchBtnPanel">
					<!-- Edit Practitioner Audit button -->
					<mbs:commandButton value="#{msgs['button.search']}" action="#{pharmacareController.executeAuditCriteriaSearch}"
						rendered="#{pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}" type="primary" size="sm" />
					<!-- Edit default Audit button -->
					<mbs:commandButton
						value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
						action="#{pharmacareController.executeEditDefaultAuditCriteria}"
						rendered="#{!pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}" type="primary" size="sm" />
					<!-- Clear search button -->
					<mbs:commandButton value="#{msgs['button.clear']}"
						rendered="#{pharmacareController.auditCriteriaSearchCriteria.practitionerSearch}"
						action="#{pharmacareController.executeClearAuditSearch}" type="danger" size="sm" immediate="true" />
					<!-- Search back button -->
					<mbs:commandButton value="#{msgs['button.back']}" type="danger" size="sm">
						<f:ajax event="click" immediate="true" listener="#{pharmacareController.returnToAuditCriteriaTypeSelection}"
							render="@form" />
					</mbs:commandButton>
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Audit Criteria search results -->
			<h:panelGroup id="auditCriteriaSearchResults"
				styleClass="#{pharmacareController.displayAuditCriteriaSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{pharmacareController.totalAuditCriterias}" />
				</h4>

				<ace:dataTable id="auditCriteriaSearchResultsTable" rows="20" lazy="true" var="row" paginator="true"
					paginatorPosition="bottom" styleClass="table-horizontal-adjustment"
					value="#{pharmacareController.auditCriteriaSearchResults}" emptyMessage="#{msgs['common.label.no.data']}">

					<!-- Pharmacy column. -->
					<ace:column id="pharmacyCol" sortBy="#{row.providerNumber} #{row.providerType} - #{row.providerName}"
						headerText="#{msgs['common.label.pharm']}">
						<h:outputText value="#{row.providerNumber} #{row.providerType} - #{row.providerName}" />
					</ace:column>

					<!-- Audit Criteria ID -->
					<ace:column id="criteriaIdCol" sortBy="#{row.auditCriteriaId}"
						headerText="#{msgs['label.audit.crit.audit.criteria.id']}">
						<h:outputText value="#{row.auditCriteriaId}" />
					</ace:column>

					<!-- Audit Type column -->
					<ace:column id="auditTypeCol" sortBy="#{row.auditType}" headerText="#{msgs['label.audit.crit.audit.type']}">
						<h:outputText value="#{row.auditType}" />
					</ace:column>

					<!-- Audit Payment From column -->
					<ace:column id="auditPayFromCol" sortBy="#{row.fromCexpCode}"
						headerText="#{msgs['label.audit.crit.audit.payment.to']}">
						<h:outputText value="#{row.fromCexpCode}" />
					</ace:column>

					<!-- Audit Payment To column -->
					<ace:column id="auditPayToCol" sortBy="#{row.toCexpCode}"
						headerText="#{msgs['label.audit.crit.audit.payment.from']}">
						<h:outputText value="#{row.toCexpCode}" />
					</ace:column>

					<!-- Audit From column -->
					<ace:column id="auditFromCol" sortBy="#{row.auditFrom}" headerText="#{msgs['label.audit.crit.audit.from']}">
						<h:outputText value="#{row.auditFrom}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Audit To column -->
					<ace:column id="auditToCol" sortBy="#{row.auditTo}" headerText="#{msgs['label.audit.crit.audit.to']}">
						<h:outputText value="#{row.auditTo}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<ace:column id="editCol" headerText="">
						<mbs:commandButtonBar id="editAuditCriteriaBtn" align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
								action="#{pharmacareController.editSelectedPractitionerAuditCriteria(row)}" type="primary" size="xs" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Import the edit screen (Same HTML as Add New) -->
		<h:panelGroup styleClass="hide-elements" id="searchEditAuditCriteriaPanel">
			<ui:include src="EditAuditCriteria.xhtml" />
		</h:panelGroup>
	</mbs:panel>
</ui:composition>