<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="nspp-audit-ear-0.0.1-SNAPSHOT">
        <wb-resource deploy-path="/" source-path="/target/m2e-wtp/ear-resources"/>
        <wb-resource deploy-path="/" source-path="/src/main/application" tag="defaultRootSource"/>
        <dependent-module archiveName="nspp-audit-ejbClient.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/ca/medavie/nspp/audit/nspp-audit-ejbClient/1.0.0-SNAPSHOT/nspp-audit-ejbClient-1.0.0-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="nspp-audit-web.war" deploy-path="/" handle="module:/resource/nspp-audit-web/nspp-audit-web">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="nspp-audit-ejb.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/ca/medavie/nspp/audit/nspp-audit-ejb/1.0.0-SNAPSHOT/nspp-audit-ejb-1.0.0-SNAPSHOT.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="woodstox-core-asl-4.1.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/woodstox/woodstox-core-asl/4.1.1/woodstox-core-asl-4.1.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="stax2-api-3.0.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/codehaus/woodstox/stax2-api/3.0.2/stax2-api-3.0.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-log4j12-1.7.12.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-log4j12/1.7.12/slf4j-log4j12-1.7.12.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="slf4j-api-1.7.12.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/slf4j/slf4j-api/1.7.12/slf4j-api-1.7.12.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ojdbc6-11.1.0.7.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/oracle/ojdbc6/11.1.0.7.0/ojdbc6-11.1.0.7.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dozer-5.5.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/net/sf/dozer/dozer/5.5.1/dozer-5.5.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="dom4j-1.6.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/dom4j/dom4j/1.6.1/dom4j-1.6.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-lang3-3.4.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-lang3/3.4/commons-lang3-3.4.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-collections4-4.1.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/org/apache/commons/commons-collections4/4.1/commons-collections4-4.1.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="commons-beanutils-1.9.2.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/commons-beanutils/commons-beanutils/1.9.2/commons-beanutils-1.9.2.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="log4j-1.2.16.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/log4j/log4j/1.2.16/log4j-1.2.16.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="aspose-cells-7.1.0.jar" deploy-path="/" handle="module:/classpath/var/M2_REPO/com/aspose/aspose-cells/7.1.0/aspose-cells-7.1.0.jar">
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>