<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:o="http://omnifaces.org/ui" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:c="http://java.sun.com/jsp/jstl/core">

	<mbs:panel
		header="#{dssChequeReconiliationController.editGLNumberMode == true ? msgs['header.dss.cheque.edit'] : msgs['header.dss.cheque.recon']}"
		id="editDssChequeReconciliationPanel">

		<!-- Search form -->
		<h:form id="searchChequeReconciliationForm" styleClass="form-horizontal"
			style="#{dssChequeReconiliationController.editGLNumberMode == true ? 'display: none;' : 'display: block;'}">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{dssChequeReconiliationController.executeChequeReconSearch}" key="Enter"/>
			
			<h4>#{msgs['header.dss.cheque.search']}</h4>

			<!-- Cheque number input -->
			<mbs:input id="chequeNumberTxt" label="#{msgs['label.dss.ck.recon.ck.number']}"
				value="#{dssChequeReconiliationController.chequeReconSearchCriteria.chequeNumber}" maxlength="7"
				title="#{peerGroupController.selectedPeerGroup.peerGroupName}" inputStyleClass="col-xs-12 col-sm-2 col-md-2"
				labelStyleClass="col-xs-12 col-sm-2 col-md-2" fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Search form button panel -->
			<mbs:commandButtonBar id="manageDssGLNsumbersFormButtons">
				<mbs:commandButton value="#{msgs['button.search']}"
					action="#{dssChequeReconiliationController.executeChequeReconSearch}" type="primary" size="sm" />
				<mbs:commandButton value="#{msgs['button.clear']}"
					action="#{dssChequeReconiliationController.executeClearChequeReconSearch}" type="danger" size="sm" />
			</mbs:commandButtonBar>

			<!-- Cheque Reconciliation search results -->
			<h:panelGroup id="chequeSearchResults"
				styleClass="#{dssChequeReconiliationController.displayChequeReconSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText
						value="#{msgs['header.common.search.results']}: #{dssChequeReconiliationController.totalChequeReconciliations}" />
				</h4>

				<ace:dataTable id="chequeReconSearchResultsDatatable" rows="20" paginator="true" lazy="true"
					paginatorPosition="bottom" var="row" styleClass="table-horizontal-adjustment"
					value="#{dssChequeReconiliationController.chequeReconciliationSearchResults}"
					emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Summary Number column -->
					<ace:column id="summaryNumberCol" headerText="#{msgs['label.dss.ck.recon.summary.num']}"
						sortBy="#{row.summaryNumber}">
						<h:outputText value="#{row.summaryNumber}" />
					</ace:column>

					<!-- Cheque Number column -->
					<ace:column id="chequeNumberCol" headerText="#{msgs['label.dss.ck.recon.ck.number']}" sortBy="#{row.chequeNumber}">
						<h:outputText value="#{row.chequeNumber}" />
					</ace:column>

					<!-- GL Number column -->
					<ace:column id="glNumberCol" headerText="#{msgs['label.manualDeposits.glNumber']}" sortBy="#{row.glNumber}">
						<h:outputText value="#{row.glNumber}" />
					</ace:column>

					<!-- Cheque Number column -->
					<ace:column id="chequeAmountCol" headerText="#{msgs['label.dss.ck.recon.ck.amount']}" sortBy="#{row.chequeAmount}">
						<h:outputText value="#{row.chequeAmount}">
							<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
						</h:outputText>
					</ace:column>

					<!-- Payment Date column -->
					<ace:column id="paymentDateCol" headerText="#{msgs['label.dss.ck.recon.pmt.date']}" sortBy="#{row.paymentDate}">
						<h:outputText value="#{row.paymentDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Date Cashed column -->
					<ace:column id="cashedDateCol" headerText="#{msgs['label.dss.ck.recon.date.cashed']}" sortBy="#{row.dateCashed}">
						<h:outputText value="#{row.dateCashed}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Edit column -->
					<ace:column id="editCol" headerText="">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
								rendered="#{roleBasedAccessSupport.hasRole('Claims-DSSUnitValueUpdate')}"
								action="#{dssChequeReconiliationController.executeEditChequeReconciliation(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Edit form -->
		<h:form id="editChequeReconciliationForm" styleClass="form-horizontal"
			style="#{dssChequeReconiliationController.editGLNumberMode == true ? 'display: block;' : 'display: none;'}">

			<mbs:fieldset header="#{msgs['header.dss.cheque.info']}">
				<div class="col-xs-12 col-sm-4 col-md-4">

					<!-- Cheque Number (Read Only) -->
					<mbs:input id="chequeNumberTxt" label="#{msgs['label.dss.ck.recon.ck.number']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.chequeNumber}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Payee Type (Read Only) -->
					<mbs:input id="payeeTypeTxt" label="#{msgs['label.dss.ck.recon.payee.type']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.payeeType}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Amount -->
					<mbs:input id="amountTxt" label="#{msgs['label.dss.ck.recon.amount']}" displayValidState="false"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.chequeAmount}" disabled="true"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6">
						<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
					</mbs:input>
				</div>

				<div class="col-xs-12 col-sm-8 col-md-8">

					<!-- Payee Line (If Agency ID is available) -->
					<mbs:input id="payeeTxt" label="#{msgs['label.dss.ck.recon.payee']}"
						rendered="#{dssChequeReconiliationController.selectedChequeReconciliation.agencyId != null}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.agencyId} - #{dssChequeReconiliationController.selectedChequeReconciliation.payeeName}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Payee Line (If Agency ID is not available) -->
					<mbs:input id="payeeNoIdTxt" label="#{msgs['label.dss.ck.recon.payee']}"
						rendered="#{dssChequeReconiliationController.selectedChequeReconciliation.agencyId == null}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.payeeName}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-3" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

				</div>
			</mbs:fieldset>

			<!-- Payment Information -->
			<mbs:fieldset header="#{msgs['header.dss.payment.info']}">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<!-- Payment Run Number (Read Only) -->
					<mbs:input id="paymentRunNumTxt" label="#{msgs['label.dss.ck.recon.pmt.run.num']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.paymentRunNumber}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Summary Number (Read Only) -->
					<mbs:input id="summaryNumTxt" label="#{msgs['label.dss.ck.recon.summary.num']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.summaryNumber}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Stubs Voided (Read Only) -->
					<mbs:input id="stubsVoidTxt" label="#{msgs['label.dss.ck.recon.stubs.voided']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.stubsVoided}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />

					<!-- Date Cashed (Read Only) -->
					<mbs:input id="dateCashedTxt" label="#{msgs['label.dss.ck.recon.date.cashed']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.dateCashed}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>

					<!-- Paid Status (Read Only) -->
					<mbs:input id="paidStatusTxt" label="#{msgs['label.dss.ck.recon.paid.status']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.paidStatus == 'P' ? msgs['common.label.paid'] : ''}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false" />
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<!-- Payment Date (Read Only) -->
					<mbs:input id="paymentDateTxt" label="#{msgs['label.dss.ck.recon.pmt.date']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.paymentDate}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>

					<!-- Claimed Amount (Read Only) -->
					<mbs:input id="claimedAmountTxt" label="#{msgs['label.dss.ck.recon.claimed.amt']}" displayValidState="false"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.claimedAmount}" disabled="true"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6">
						<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" for="input" />
					</mbs:input>

					<!-- GL Number -->
					<mbs:selectOneMenu label="#{msgs['label.manualDeposits.glNumber']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.glNumber}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6">
						<f:selectItems value="#{manualDepositsController.glNumbers.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Cheque Note -->
					<mbs:inputTextarea id="noteTextareafield" label="#{msgs['label.dss.ck.recon.ck.note']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.chequeNote}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6"
						displayValidState="false" rows="6" onkeyup="limitTextArea( this, event, 80 );">
					</mbs:inputTextarea>

					<!-- Last Modified (Read Only) -->
					<mbs:input id="lastModifiedTxt" label="#{msgs['common.label.last.modified']}"
						value="#{dssChequeReconiliationController.selectedChequeReconciliation.lastModified}"
						labelStyleClass="col-xs-12 col-sm-6 col-md-6" inputStyleClass="col-xs-12 col-sm-6 col-md-6" disabled="true"
						displayValidState="false">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>
				</div>

				<div class="col-xs-12 col-sm-4 col-md-4">
					<mbs:fieldset type="default" header="#{msgs['header.dss.reconciliation.status']}">
						<!-- Reconciliation Radio button selection (Read Only) -->
						<mbs:selectOneRadio value="#{dssChequeReconiliationController.selectedChequeReconciliation.reconciliationStatus}"
							layout="pageDirection" offsetStyleClass="col-xs-12 col-sm-8 col-md-12" id="groupFilterSelectOne">
							<f:selectItems value="#{dssChequeReconiliationController.reconciliationStatusTypes}" var="option"
								itemDisabled="true" itemLabel="#{msgs[option.statusLabel]}" itemValue="#{option.statusCode}" />
						</mbs:selectOneRadio>
					</mbs:fieldset>
				</div>
			</mbs:fieldset>

			<!-- Edit form button panel -->
			<mbs:commandButtonBar id="manageDssGLNumbersFormButtons">
				<mbs:commandButton value="#{msgs['button.save']}"
					action="#{dssChequeReconiliationController.executeSaveChequeReconciliation}" type="primary" size="sm" />
				<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}"
					action="#{dssChequeReconiliationController.executeReturnToChequeSearch}" immediate="true" type="danger" size="sm" />
			</mbs:commandButtonBar>
		</h:form>
	</mbs:panel>
</ui:composition>
