<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Claims-DSSUnitValueInquiry,Claims-DSSUnitValueUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['menu.dss.unit.value']}" />
	<ui:param name="page" value="DssUnitValueIndex" />
	<ui:param name="menuId" value="title.dss.unit.value" />

	<ui:define name="content">

		<div id="mainContent">
			<h1>#{msgs['title.dss.unit.value']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="dssUnitValTabSet" binding="#{dssUnitValProxyTabSet}" immediate="true">
				<ace:tabPane label="#{msgs['button.dss.unit.value.add.edit']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Claims-DSSUnitValueInquiry,Claims-DSSUnitValueUpdate')}">
					<f:subview id="editDssUnitValueView">
						<ui:include src="EditDssUnitValue.xhtml" />
					</f:subview>
				</ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>