<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel header="#{msgs['header.medicare.audit.ba.exclusions.maint']}" id="editBAExclusionsPanel">

		<!-- Add new Business Arrangement Exclusion form -->
		<h:form id="addBAExclusionForm" styleClass="form-horizontal"
			rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">

			<div class="panel panel-primary" id="addNewBAExclusionPanel">
				<div class="panel-heading expandDiv" id="addNewBAExclusionHeader">
					<h3 class="panel-title"></h3>
					<div>
						<i id="expandAddNewBAExclusion" class="fa fa-plus-circle"></i> #{msgs['header.medicare.audit.ba.exclusions.add']}
					</div>
				</div>
				<div id="addNewBAExclusionBody" class="panel-body hide-elements">

					<!-- Input of BA Number for new exclusion -->
					<mbs:input id="baTxt" label="#{msgs['common.label.ba.number']}" labelStyleClass="col-xs-12 col-sm-5 col-md-2"
						inputStyleClass="col-xs-12 col-sm-5 col-md-2" required="true" displayValidState="false"
						value="#{medicareController.businessArrangementNumber}" maxlength="7" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<mbs:commandButtonBar id="addBAExclusionsBtnPanel">
						<mbs:commandButton value="#{msgs['button.add']}"
							action="#{medicareController.executeAddNewBusinessArrangementExclusion}" type="primary" size="sm" />
					</mbs:commandButtonBar>
				</div>
			</div>
		</h:form>

		<!-- Existing Business Arrangement Exclusions form -->
		<h:form id="editBusinessArrangmentExclusionForm" styleClass="form-horizontal">
			<ace:tabSetProxy id="editBAExclusionsTab" for="#{medicareProxyTabSet.clientId}" />

			<h4>
				<h:outputText value="#{msgs['header.medicare.audit.ba.exclusions']}" />
			</h4>
			<h5>
				<h:outputText
					value="#{msgs['header.medicare.audit.ba.num.of.exclusions']} #{medicareController.baExclusions.size()}" />
			</h5>
			<hr />
			<!-- Data modification button panel -->
			<mbs:commandButtonBar id="editBAExclusionsBtnPanel">
				<mbs:commandButton value="#{msgs['button.delete.selected']}"
					rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
					action="#{medicareController.executeDeleteSelectedBusinessArrangementExclusions}" type="danger" size="sm" />
			</mbs:commandButtonBar>

			<ace:dataTable id="baExclusionsTable" value="#{medicareController.baExclusions}"
				stateMap="#{medicareController.baExclusionsStateMap}" var="row"
				selectionMode="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? 'multiple' : ''}"
				styleClass="table-horizontal-adjustment" paginator="true" paginatorPosition="bottom" rows="25">

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Business Arrangement Number column -->
				<ace:column headerText="#{msgs['common.label.ba.number']}" sortBy="#{row.busArrNumber}"
					filterBy="#{row.busArrNumber}" filterMatchMode="contains">
					<h:outputText value="#{row.busArrNumber}" />
				</ace:column>

				<!-- Business Arrangement Description column -->
				<ace:column headerText="#{msgs['common.label.business.arr.desc']}" sortBy="#{row.busArrDescription}"
					filterBy="#{row.busArrDescription}" filterMatchMode="contains">
					<h:outputText value="#{row.busArrDescription}" />
				</ace:column>

				<!-- Provider Name column -->
				<ace:column headerText="#{msgs['label.audit.crit.ba.exclusion.pract.group.name']}" sortBy="#{row.providerName}"
					filterBy="#{row.providerName}" filterMatchMode="contains">
					<h:outputText value="#{row.providerName}" />
				</ace:column>
				<!-- Provider Number/ Group ID column -->
				<ace:column headerText="#{msgs['label.audit.crit.ba.exclusion.pract.group.id']}" sortBy="#{row.baName}"
					filterBy="#{row.baName}" filterMatchMode="contains">
					<h:outputText value="#{row.baName}" />
				</ace:column>

				<!-- Last Modified column -->
				<ace:column headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModifiedString}"
					filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
					<h:outputText value="#{row.lastModifiedString}" />
				</ace:column>
				<!-- Modified By column -->
				<ace:column headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}"
					filterMatchMode="contains">
					<h:outputText value="#{row.modifiedBy}" />
				</ace:column>

			</ace:dataTable>
		</h:form>
	</mbs:panel>

	<!-- Delete confirmation popup -->
	<h:form id="confirmDeleteBAExclusionsForm">
		<mbs:popup id="confirmDeleteBAExclusionsPopup" title="#{msgs['header.common.confirm.delete']}"
			visible="#{medicareController.displayBAExclusionDeleteConfirm}" customFooter="true">

			<!-- Delete confirmation message -->
			#{msgs['common.label.confirm.delete.message']}
			
			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{medicareController.confirmDeleteSelectedBusinessArrangementExclusions}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{medicareController.closeBusinessArrangementDeleteConfirmation}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<script>
		$(document).ready(function() {
			// Toggles the Add new HS exclusions panel
			$("#editBAExclusionsView\\:editBAExclusionsPanel\\:addBAExclusionForm\\:addNewBAExclusionHeader").click(function() {
				toggleAddBaExclusionPanel();
			});
		});
	</script>
</ui:composition>