<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Style parameters -->
	<ui:param name="tableLayoutLabelStyle" value="col-xs-6 col-sm-6 col-md-5" />
	<ui:param name="tableLayoutInputStyle" value="col-xs-6 col-sm-6 col-md-6" />

	<!-- Add new Audit.. Basic information entry for new Audit Criteria (Step 1 of add) -->
	<h:form id="auditTypeSelection" styleClass="form-horizontal">
		<ace:tabSetProxy id="editAuditCriteriaTab" for="#{medicareProxyTabSet.clientId}" />

		<h4>
			<h:outputText value="#{msgs['header.medicare.audit.criteria.pract.new']}" />
		</h4>
		<hr />

		<!-- Audit Type dropdown -->
		<mbs:selectOneMenu id="auditTypeDrpdwn" label="#{msgs['common.label.auditType']}"
			value="#{medicareController.selectedAuditCriteria.auditType}" labelStyleClass="col-xs-12 col-sm-2 col-md-2"
			inputStyleClass="col-xs-12 col-sm-5 col-md-3">
			<f:selectItems value="#{medicareController.medicareAuditTypes.entrySet()}" var="entry" itemLabel="#{entry.value}"
				itemValue="#{entry.key}" for="#{medicareController.selectedAuditCriteria.auditType}" />
		</mbs:selectOneMenu>
		<!-- Practitioner ID -->
		<mbs:input id="practitionerIdTxt" label="#{msgs['common.label.practitioner.id']}" maxlength="6"
			labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-3"
			value="#{medicareController.selectedAuditCriteria.providerNumber}" />
		<!-- Practitioner Type -->
		<mbs:selectOneMenu id="practitionerTypeDrp" label="#{msgs['common.label.subcategory']}"
			labelStyleClass="col-xs-12 col-sm-2 col-md-2" inputStyleClass="col-xs-12 col-sm-5 col-md-3"
			value="#{medicareController.selectedAuditCriteria.providerType}">
			<f:selectItems value="#{medicareController.subcategoryDropdownItems.entrySet()}" var="item"
				itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
				for="#{medicareController.selectedAuditCriteria.providerType}" />
		</mbs:selectOneMenu>

		<mbs:commandButtonBar id="addNewAuditCriteriaBtnPanel">
			<mbs:commandButton value="#{msgs['button.next']}" action="#{medicareController.displayAddNewAuditCriteriaForm}"
				type="primary" size="sm" />
		</mbs:commandButtonBar>
	</h:form>

	<!-- Audit edit form begins -->
	<h:form id="auditCriteriaEditForm" styleClass="form-horizontal hide-elements">
		<!-- JTRAX-62 07-MAR-18 BCAINNE -->
		<icecore:defaultAction action="#{medicareController.executeHealthServiceCriteriaSearch}" key="Enter"/>
		<div class="row">
			<!-- Column 1 (Audit Criteria Information section, Service Information, Inclusive/Exclusive) -->
			<div class="col-xs-12 col-sm-5 col-md-5">
				<h4>
					<h:outputText value="#{msgs['header.medicare.audit.info']}" />
				</h4>
				<hr />
				<!-- Audit Criteria ID field (Displayed on both views) -->
				<mbs:input id="auditCriteriaIdTxt" label="#{msgs['label.audit.crit.audit.criteria.id']}"
					rendered="#{medicareController.editMode}" displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}"
					disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{medicareController.selectedAuditCriteria.auditCriteriaId}" />

				<!-- Audit Type (Displayed on both views on edit as read only) -->
				<mbs:input id="auditTypeTxt" label="#{msgs['label.audit.crit.audit.type']}"
					labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
					inputStyleClass="#{tableLayoutInputStyle}" value="#{medicareController.selectedAuditCriteria.auditType}" />

				<!-- Payment Date (Displayed on Default Audit view only) -->
				<h:panelGroup id="paymentDate" styleClass="form-group mbs-calendar" layout="block"
					rendered="#{!medicareController.editingPractitionerAuditCriteria}">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.date']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="paymentDateInput"
							value="#{medicareController.selectedAuditCriteria.auditFromPaymentDate}" pattern="#{dateFormat}"
							renderAsPopup="true" showOn="both" effect="fadeIn" />
					</h:panelGroup>
				</h:panelGroup>

				<!-- Payment From Date (Displayed on Practitioner Audit view only) -->
				<h:panelGroup id="paymentFromDate" styleClass="form-group mbs-calendar" layout="block"
					rendered="#{medicareController.editingPractitionerAuditCriteria}">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.from.date']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="paymentFromDateInput"
							value="#{medicareController.selectedAuditCriteria.auditFromPaymentDate}" pattern="#{dateFormat}"
							renderAsPopup="true" showOn="both" effect="fadeIn" converter="dateConverter">
						</ace:dateTimeEntry>
					</h:panelGroup>
					<h:message for="paymentFromDateInput" errorClass="hmsgserror" style="display: inline-block; margin-left: 100px;" />
				</h:panelGroup>


				<!-- Payment To Date (Displayed on Practitioner view only) -->
				<h:panelGroup id="paymentToDate" styleClass="form-group mbs-calendar" layout="block"
					rendered="#{medicareController.editingPractitionerAuditCriteria}">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.to.date']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="paymentToDateInput"
							value="#{medicareController.selectedAuditCriteria.auditToPaymentDate}" pattern="#{dateFormat}"
							renderAsPopup="true" showOn="both" effect="fadeIn" converter="dateConverter" />
					</h:panelGroup>
					<h:message for="paymentToDateInput" errorClass="hmsgserror" style="display: inline-block; margin-left: 100px;" />
				</h:panelGroup>

				<!-- Audit From Date (Displayed on Practitioner Audit view only) -->
				<h:panelGroup id="auditFromDateCal" styleClass="form-group mbs-calendar" layout="block"
					rendered="#{medicareController.editingPractitionerAuditCriteria}">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.from']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditFromDateInput"
							value="#{medicareController.selectedAuditCriteria.auditFrom}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" converter="dateConverter" />
					</h:panelGroup>
					<h:message for="auditFromDateInput" errorClass="hmsgserror" style="display: inline-block; margin-left: 100px;" />
				</h:panelGroup>
				<!-- Audit To Date (Displayed on Practitioner Audit view only) -->
				<h:panelGroup id="auditToDateCal" styleClass="form-group mbs-calendar" layout="block"
					rendered="#{medicareController.editingPractitionerAuditCriteria}">
					<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.to']}</label>
					<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle}">
						<ace:dateTimeEntry styleClass="form-control" id="auditToDateInput"
							value="#{medicareController.selectedAuditCriteria.auditTo}" pattern="#{dateFormat}" renderAsPopup="true"
							showOn="both" effect="fadeIn" converter="dateConverter" />
					</h:panelGroup>
					<h:message for="auditToDateInput" errorClass="hmsgserror" style="display: inline-block; margin-left: 100px;" />
				</h:panelGroup>

				<!-- Business Arrangement Number (Displayed on Practitioner Audit view only) -->
				<mbs:input id="bussArrNumberTxt" label="#{msgs['common.label.business.arr.number']}"
					rendered="#{medicareController.editingPractitionerAuditCriteria}" displayValidState="false" maxlength="7"
					labelStyleClass="#{tableLayoutLabelStyle}" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{medicareController.selectedAuditCriteria.businessArrNumber}" fAttributeName="disableGrouping"
					fAttributeValue="true">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>

				<!-- Audit Latest Payment Date checkbox (Displayed on Both views) -->
				<h:panelGroup id="ctrLatestPaymentDate" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.latest.payment.date']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="latestPaymentDateChk"
								value="#{medicareController.selectedAuditCriteria.auditFromLastIndicator}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Include Non Fee For Service checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrIncldFFS" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.incl.non.ffs']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="includeNonFfsChk"
								value="#{medicareController.selectedAuditCriteria.includeNonFFSIndicator}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Exclude Diagnostic Code checkbox (Displayed on both views)-->
				<h:panelGroup id="ctrExcludeDiagCode" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.excl.diag.code']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="excludeDiagCodeChk"
								value="#{medicareController.selectedAuditCriteria.excludeDiagnosticCodeIndicator}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Only displayed on edit (Displayed on both views) -->
				<h:panelGroup rendered="#{medicareController.editMode}">
					<!-- Modified By -->
					<mbs:input id="modifiedByTxt" label="#{msgs['common.label.modified.by']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{medicareController.selectedAuditCriteria.modifiedBy}" />
					<!-- Last Modified -->
					<mbs:input id="lastModifiedTxt" label="#{msgs['common.label.last.modified']}" displayValidState="false"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						value="#{medicareController.selectedAuditCriteria.lastModified}">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>

				<!-- Service Information section -->
				<h4>#{msgs['header.medicare.audit.service.info']}</h4>
				<hr />
				<!-- Number of Services to Audit (Displayed on both views) -->
				<mbs:input id="numOfServicesToAuditTxt" label="#{msgs['label.audit.crit.audit.services.audit']}"
					displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{medicareController.selectedAuditCriteria.numberOfServicesToAudit}">
					<f:converter converterId="integerConverter" for="input" />
				</mbs:input>
				<!-- Default Health Service Description -->
				<mbs:inputTextarea id="DefaultHsDescriptionTxt" label="#{msgs['label.audit.crit.audit.hs.desc']}"
					displayValidState="false" labelStyleClass="#{tableLayoutLabelStyle}" inputStyleClass="#{tableLayoutInputStyle}"
					value="#{medicareController.selectedAuditCriteria.defaultHealthServiceDesc}"
					onkeyup="limitTextArea( this, event, 50 );" />

				<!-- Inclusive/Exclusive section -->
				<h4>#{msgs['header.medicare.audit.inc']}</h4>
				<hr />
				<!-- Health Service checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrHs" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.hs']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="healthServiceChk"
								value="#{medicareController.selectedAuditCriteria.healthServiceInclusive}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
				<!-- Payment Responsibility checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrPaymentResponsiblity" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.payment.respon']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="paymentResponsiblityChk"
								value="#{medicareController.selectedAuditCriteria.paymentRespInclusive}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
				<!-- Pay to Code checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrPayToCode" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.pay.to.code']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="payToCodeChk" value="#{medicareController.selectedAuditCriteria.payToCodeInclusive}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>
				<!-- Facility checkbox (Displayed on both views) -->
				<h:panelGroup id="ctrFacility" styleClass="form-group" layout="block">
					<h:panelGroup layout="block">
						<label class="control-label #{tableLayoutLabelStyle}">#{msgs['label.audit.crit.audit.facility']}</label>
						<h:panelGroup layout="block" styleClass="#{tableLayoutInputStyle} checkbox-alignment">
							<h:selectBooleanCheckbox id="facilityChk" value="#{medicareController.selectedAuditCriteria.facilityInclusive}" />
						</h:panelGroup>
					</h:panelGroup>
				</h:panelGroup>

				<!-- Last Audit Information section (Only rendered on edit) -->
				<h:panelGroup rendered="#{medicareController.editMode}">
					<h4>
						<h:outputText value="#{msgs['header.medicare.audit.criteria.last']}" />
					</h4>
					<hr />
					<!-- Last Audit Payment Date -->
					<mbs:input id="lastAuditPaymentDate" label="#{msgs['label.audit.crit.audit.last.payment']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{medicareController.selectedAuditCriteria.lastPaymentDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
					<!-- Last Audit Run number -->
					<mbs:input id="lastAuditRunNumber" label="#{msgs['label.audit.crit.audit.last.run.num']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" inputStyleClass="#{tableLayoutInputStyle}"
						displayValidState="false" value="#{medicareController.selectedAuditCriteria.lastAuditRunNumber}" />
					<!-- Last Audit Date -->
					<mbs:input id="lastAuditDate" label="#{msgs['label.audit.crit.audit.last.date']}"
						labelStyleClass="#{tableLayoutLabelStyle}" disabled="true" displayValidState="false"
						inputStyleClass="#{tableLayoutInputStyle}" value="#{medicareController.selectedAuditCriteria.lastAuditDate}">
						<f:convertDateTime pattern="#{dateFormat}" for="input" />
					</mbs:input>
				</h:panelGroup>

				<!-- Edit form button bar -->
				<mbs:commandButtonBar id="auditCriteriaEditBtnPanel">
					<mbs:commandButton value="#{msgs['button.save']}" action="#{medicareController.executeAuditCriteriaSave}"
						type="primary" size="sm" rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" />

					<!-- Back button for editing existing -->
					<mbs:commandButton rendered="#{medicareController.editMode}" value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{medicareController.executeReturnToAuditCriteriaSearch}" type="danger" size="sm" />

					<!-- Back button for adding new -->
					<mbs:commandButton rendered="#{!medicareController.editMode}" value="#{msgs['common.label.cancel.back.to.search']}"
						action="#{medicareController.returnToAddNewAuditTypeSelection}" type="danger" size="sm" />
				</mbs:commandButtonBar>
			</div>

			<!-- Column 2 (HS Criteria, Payment Responsibility, Pay To) -->
			<div class="col-xs-12 col-sm-7 col-md-7">
				<!-- Health Service Criteria panel -->
				<div class="panel panel-primary" id="healthServiceCriteriaPanel">
					<div class="panel-heading expandDiv" id="healthServiceCriteriaHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandHealthServiceCriteria" class="fa fa-plus-circle"></i>
							#{msgs['header.common.health.service.criteria']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="healthServiceCriteriaWrapper">

						<h:panelGroup rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
							<!-- Program Dropdown -->
							<mbs:selectOneMenu id="hsgDrp" label="#{msgs['common.label.program']}"
								value="#{medicareController.hscSearchCriteria.programCode}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								inputStyleClass="col-xs-5 col-sm-5 col-md-5">
								<f:selectItems value="#{medicareController.programs.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.programCode}" />
							</mbs:selectOneMenu>

							<!--Health Service Group Dropdown-->
							<mbs:selectOneMenu id="healthServiceGroupdrpdwn" label="#{msgs['label.peergroup.edit.hsc.group']}"
								value="#{medicareController.hscSearchCriteria.healthServiceGroup}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								inputStyleClass="col-xs-5 col-sm-5 col-md-5">
								<f:selectItems value="#{medicareController.hsGroups.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.healthServiceGroup}" />
							</mbs:selectOneMenu>

							<!-- Effective from date -->
							<mbs:calendar id="hscEffectiveDate" label="#{msgs['label.peergroup.edit.hsc.effective.date']}" showOn="both"
								value="#{medicareController.hscSearchCriteria.effectiveFrom}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="col-xs-5 col-sm-5 col-md-5" />

							<!-- Health Service Code field -->
							<mbs:input id="hscTxt" label="#{msgs['label.peergroup.edit.hsc']}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								maxlength="5" inputStyleClass="col-xs-5 col-sm-5 col-md-5"
								value="#{medicareController.hscSearchCriteria.healthServiceCode}" />

							<!-- Qualifier field -->
							<mbs:selectOneMenu id="qualifierTxt" label="#{msgs['common.label.qualifier']}"
								value="#{medicareController.hscSearchCriteria.qualifier}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								inputStyleClass="col-xs-5 col-sm-5 col-md-5">
								<f:selectItems value="#{medicareController.hsQualifiers.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" for="#{medicareController.hscSearchCriteria.qualifier}" />
							</mbs:selectOneMenu>

							<!-- MSI Fee Code field -->
							<mbs:input id="msiFeeCodeTxt" label="#{msgs['label.peergroup.edit.hsc.msi.feecode']}"
								labelStyleClass="col-xs-3 col-sm-3 col-md-3" maxlength="5" inputStyleClass="col-xs-5 col-sm-5 col-md-5"
								value="#{medicareController.hscSearchCriteria.msiFeeCode}" />

							<!-- Health Service Code Description field -->
							<mbs:input id="hscDescriptionTxt" label="#{msgs['label.peergroup.edit.hsc.description']}"
								labelStyleClass="col-xs-3 col-sm-3 col-md-3" inputStyleClass="col-xs-5 col-sm-5 col-md-5"
								value="#{medicareController.hscSearchCriteria.healthServiceCodeDescription}" maxlength="255" />

							<!-- Modifiers Dropdown-->
							<mbs:richSelectManyMenu id="hscModifiersDrp" label="#{msgs['common.label.modifiers']}"
								value="#{medicareController.hscSearchCriteria.modifier}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								inputStyleClass="col-xs-5 col-sm-5 col-md-5">
								<f:selectItems value="#{medicareController.hsModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
									itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.modifier}" />
							</mbs:richSelectManyMenu>

							<!-- Implicit Modifiers Dropdown -->
							<mbs:richSelectManyMenu id="hscImplicitModifiersDrp" label="#{msgs['common.label.implicit.modifiers']}"
								value="#{medicareController.hscSearchCriteria.implicitModifier}" labelStyleClass="col-xs-3 col-sm-3 col-md-3"
								inputStyleClass="col-xs-5 col-sm-5 col-md-5">
								<f:selectItems value="#{medicareController.hsImplicitModifiers.entrySet()}" var="entry" itemLabel="#{entry.key}"
									itemValue="#{entry.value}" for="#{medicareController.hscSearchCriteria.implicitModifier}" />
							</mbs:richSelectManyMenu>

							<!-- Button panel for HSC Search -->
							<mbs:commandButtonBar id="healthServiceCriteriaSearchBtnPanel" align="left">
								<mbs:commandButton id="searchHSCBtn" value="#{msgs['button.search']}" type="primary" size="sm"
									action="#{medicareController.executeHealthServiceCriteriaSearch}" />
								<mbs:commandButton id="clearHSCBtn" value="#{msgs['button.clear']}" type="danger" size="sm" />
							</mbs:commandButtonBar>
						</h:panelGroup>

						<ace:dataTable id="hsTable" var="row" paginator="true" paginatorPosition="bottom"
							styleClass="table-horizontal-adjustment"
							value="#{medicareController.selectedAuditCriteria.healthServiceCriterias}" rows="25"
							emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Health Service Code column -->
							<ace:column id="hscHeader" filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
								sortBy="#{row.healthServiceCode}#{row.qualifier}" headerText="#{msgs['common.label.hsc']}" rowspan="2">
								<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
							</ace:column>

							<!-- Modifiers column -->
							<ace:column id="modifiersCol" filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}"
								headerText="#{msgs['common.label.modifiers']}">
								<h:outputText value="#{row.modifiers}" />
							</ace:column>
							<ace:column id="implicitModifiersCol" filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
								sortBy="#{row.implicitModifiers}" stacked="true" headerText="#{msgs['common.label.implicit.modifiers']}">
								<h:outputText value="#{row.implicitModifiers}" />
							</ace:column>

							<!-- Age/Gender Restriction column -->
							<ace:column id="ageRestrictionCol" filterBy="#{row.ageRestriction}" filterMatchMode="contains"
								sortBy="#{row.ageRestriction}" headerText="#{msgs['common.label.age.restrict']}">
								<mbs:input id="hscAgeRestriction" value="#{row.ageRestriction}" maxlength="3" displayValidState="false"
									disabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}" displayLabel="false"
									inputStyleClass="col-xs-12 col-sm-12 col-md-12" fAttributeName="disableGrouping" fAttributeValue="true">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>
							</ace:column>
							<ace:column id="genderRestrictionCol" filterBy="#{row.genderRestriction}" filterMatchMode="contains"
								sortBy="#{row.genderRestriction}" headerText="#{msgs['common.label.gender.restrict']}" stacked="true">
								<mbs:selectOneMenu id="genderRestrictionDrp" displayLabel="false" value="#{row.genderRestriction}"
									inputStyleClass="col-xs-12 col-sm-12 col-md-12">
									<f:selectItems value="#{medicareController.genderRestrictions}" var="option"
										itemDisabled="#{!roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}"
										itemLabel="#{msgs[option.genderLabel]}" itemValue="#{option.genderValue}" />
								</mbs:selectOneMenu>
							</ace:column>

							<!-- Modified By/Last column -->
							<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}"
								headerText="#{msgs['common.label.modified.by']}">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>
							<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}" stacked="true">
								<h:outputText value="#{row.lastModified}">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Delete column -->
							<ace:column id="deleteCol" headerText="" rowspan="2"
								rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
								<mbs:commandButtonBar id="healthServiceCriteriaDeletePanel" align="center">
									<mbs:commandButton value="#{msgs['button.delete']}"
										action="#{medicareController.removeHscFromAuditCriteria(row)}" type="danger" size="sm" />
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>

				<!-- Payment Responsibility panel -->
				<div class="panel panel-primary" id="paymentResponsibilityPanel">
					<div class="panel-heading expandDiv" id="paymentResponsibilityHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandPaymentResponsibility" class="fa fa-plus-circle"></i>
							#{msgs['header.medicare.audit.payment.responsibility']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="paymentResponsibilityWrapper">

						<h:panelGroup rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
							<!-- Dropdown of Payment Responsibilities that can be added to the Audit Criteria -->
							<mbs:selectOneMenu id="paymentResposibilitiesDrp" label="#{msgs['label.audit.crit.audit.payment.respon']}"
								labelStyleClass="col-xs-3 col-sm-3 col-md-3" inputStyleClass="col-xs-5 col-sm-5 col-md-5"
								value="#{medicareController.selectedPaymentResponsibility}">
								<f:selectItems value="#{medicareController.paymentResponsibilities.entrySet()}" var="entry"
									itemLabel="#{entry.value}" itemValue="#{entry.value}" />
							</mbs:selectOneMenu>

							<mbs:commandButtonBar id="addPaymentRespBtnPanel" align="left">
								<mbs:commandButton value="#{msgs['button.add.selected']}"
									action="#{medicareController.addSelectedPaymentResponsibilityToAuditCriteria}" type="primary" size="sm" />
							</mbs:commandButtonBar>
						</h:panelGroup>

						<ace:dataTable id="paymentResponsibilityTable" var="row" paginator="true" paginatorPosition="bottom" rows="25"
							value="#{medicareController.selectedAuditCriteria.paymentResponsibilities}"
							styleClass="table-horizontal-adjustment" emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Payment Responsibility Column -->
							<ace:column id="paymentResponsibilityCol" filterBy="#{row.paymentResponsibility}" filterMatchMode="contains"
								sortBy="#{row.paymentResponsibility}" headerText="#{msgs['label.audit.crit.audit.payment.respon']}">
								<h:outputText value="#{row.paymentResponsibility}" />
							</ace:column>
							<!-- Modified By Column -->
							<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}"
								headerText="#{msgs['common.label.modified.by']}">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>
							<!-- Last Modified Column -->
							<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}">
								<h:outputText value="#{row.lastModified}">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>
							<!-- Delete Column -->
							<ace:column id="deleteCol" headerText=""
								rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
								<mbs:commandButtonBar id="paymentResponsibilityDeleteBtnPanel" align="center">
									<mbs:commandButton value="#{msgs['button.delete']}"
										action="#{medicareController.removePaymentRespFromAuditCriteria(row)}" type="danger" size="sm" />
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>

				<!-- Pay To panel -->
				<div class="panel panel-primary" id="payToPanel">
					<div class="panel-heading expandDiv" id="payToHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandPayTo" class="fa fa-plus-circle"></i> #{msgs['header.medicare.audit.payee.type']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="payToWrapper">

						<h:panelGroup rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
							<!-- Dropdown of Payee Types that can be added to the Audit Criteria -->
							<mbs:selectOneMenu id="payeeTypeDrp" label="#{msgs['header.medicare.audit.payee.type']}"
								labelStyleClass="col-xs-3 col-sm-3 col-md-3" inputStyleClass="col-xs-5 col-sm-5 col-md-5"
								value="#{medicareController.selectedPayeeType}">
								<f:selectItems value="#{medicareController.payeeTypes.entrySet()}" var="entry" itemLabel="#{entry.value}"
									itemValue="#{entry.key}" />
							</mbs:selectOneMenu>

							<mbs:commandButtonBar id="addPayeeTypeBtnPanel" align="left">
								<mbs:commandButton value="#{msgs['button.add.selected']}"
									action="#{medicareController.addSelectedPayeeTypeToAuditCriteria}" type="primary" size="sm" />
							</mbs:commandButtonBar>
						</h:panelGroup>

						<ace:dataTable id="payToTable" var="row" paginator="true" paginatorPosition="bottom" rows="25"
							styleClass="table-horizontal-adjustment" value="#{medicareController.selectedAuditCriteria.payeeTypes}"
							emptyMessage="#{msgs['common.label.no.data']}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Payment Responsibility Column -->
							<ace:column id="payToCol" filterBy="#{row.payToCode}" filterMatchMode="contains" sortBy="#{row.payToCode}"
								headerText="#{msgs['header.medicare.audit.payee.type']}">
								<h:outputText value="#{row.payToCode}" />
							</ace:column>
							<!-- Modified By Column -->
							<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}"
								headerText="#{msgs['common.label.modified.by']}">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>
							<!-- Last Modified Column -->
							<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								sortBy="#{row.lastModified}" headerText="#{msgs['common.label.last.modified']}">
								<h:outputText value="#{row.lastModified}">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>
							<!-- Delete Column -->
							<ace:column id="deleteCol" headerText=""
								rendered="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate')}">
								<mbs:commandButtonBar id="payToDeleteBtnPanel" align="center">
									<mbs:commandButton value="#{msgs['button.delete']}"
										action="#{medicareController.removePayeeTypeFromAuditCriteria(row)}" type="danger" size="sm" />
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
			</div>
		</div>
	</h:form>

	<!-- HealthServiceCriteria search results pop up -->
	<h:form id="hscResultPopupForm">
		<mbs:popup id="hscSearchResultPopup" title="#{msgs['header.common.search.results']}" size="lg"
			visible="#{medicareController.displayHealthServiceCriteriaSearchResults}" customFooter="true">

			<ace:dataTable id="healthServiceCodeSearchDatatable" rows="15" paginator="true" paginatorPosition="bottom" var="row"
				value="#{medicareController.healthServiceCriteriaSearchResults}" selectionMode="multiple"
				styleClass="table-horizontal-adjustment" stateMap="#{medicareController.hscSearchResultsStateMap}"
				emptyMessage="#{msgs['common.label.no.results']}">

				<!-- Need to this update the JS model so it is aware of what we selected in the event the user clicks 'de-select all' -->
				<ace:ajax event="select" />

				<!-- Sets the filter delay -->
				<ace:ajax event="filter"
					onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

				<!-- Health Service Code column -->
				<ace:column id="hscCodeCol" filterBy="#{row.healthServiceCode}#{row.qualifier}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCode}#{row.qualifier}"
					headerText="#{msgs['label.peergroup.edit.hsc.popup.hsc.col.header']}">
					<h:outputText value="#{row.healthServiceCode}#{row.qualifier}" />
				</ace:column>
				<!-- From Date column -->
				<ace:column id="effectiveDateCol" filterBy="#{row.effectiveFromDateString}" filterMatchMode="contains"
					sortBy="#{row.effectiveFromDate}" headerText="#{msgs['label.peergroup.edit.hsc.popup.formdate.col.header']}">
					<h:outputText value="#{row.effectiveFromDate}">
						<f:convertDateTime pattern="dd-MMM-yyyy" />
					</h:outputText>
				</ace:column>
				<!-- Description column -->
				<ace:column id="hscDescriptionCol" filterBy="#{row.healthServiceCodeDesc}" filterMatchMode="contains"
					sortBy="#{row.healthServiceCodeDesc}" headerText="#{msgs['common.label.description']}">
					<h:outputText value="#{row.healthServiceCodeDesc}" />
				</ace:column>
				<!-- Modifiers column -->
				<ace:column id="hscModifiersCol" filterBy="#{row.modifiers}" filterMatchMode="contains" sortBy="#{row.modifiers}"
					headerText="#{msgs['common.label.modifiers']}">
					<h:outputText value="#{row.modifiers}" />
				</ace:column>
				<!-- Implicit Modifiers column -->
				<ace:column id="hscImpModifiersCol" filterBy="#{row.implicitModifiers}" filterMatchMode="contains"
					sortBy="#{row.implicitModifiers}" headerText="#{msgs['common.label.implicit.modifiers']}">
					<h:outputText value="#{row.implicitModifiers}" />
				</ace:column>
			</ace:dataTable>

			<!-- Selection tools -->
			<mbs:commandButtonBar align="left">
				<mbs:commandButton value="#{msgs['button.select.all']}" type="primary" size="sm"
					action="#{medicareController.executeSelectAllHsc}" />
				<mbs:commandButton value="#{msgs['button.dselect']}" type="primary" size="sm"
					action="#{medicareController.executeDeselectAllHsc}" />
			</mbs:commandButtonBar>

			<f:facet name="footer">
				<h:panelGroup>
					<mbs:commandButton value="#{msgs['button.add.selected']}" type="primary" size="md"
						action="#{medicareController.addSelectedHscToAuditCriteria}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md"
						action="#{medicareController.closeHealthServiceCriteriaSearchResults}" />
				</h:panelGroup>
			</f:facet>
		</mbs:popup>
	</h:form>
	<!-- Page JavaScript -->
	<script>
		$(document).ready(function() {

			/**
			 * Handles panel display toggle on Search/Edit view
			 */
			// Enable panel toggle on HealthServiceCriteria
			$("#searchEditAuditCriteriaView\\:searchAuditCriteriaPanel\\:auditCriteriaEditForm\\:healthServiceCriteriaHeader").click(function() {
				toggleMedAuditHSCPanel("searchEditAuditCriteriaView\\:searchAuditCriteriaPanel");
			});
			// Enable panel toggle on PaymentResponsibility
			$("#searchEditAuditCriteriaView\\:searchAuditCriteriaPanel\\:auditCriteriaEditForm\\:paymentResponsibilityHeader").click(function() {
				toggleMedAudPaymentRespPanel("searchEditAuditCriteriaView\\:searchAuditCriteriaPanel");
			});
			// Enable panel toggle on Payee Type
			$("#searchEditAuditCriteriaView\\:searchAuditCriteriaPanel\\:auditCriteriaEditForm\\:payToHeader").click(function() {
				toggleMedAudPayeeTypePanel("searchEditAuditCriteriaView\\:searchAuditCriteriaPanel");
			});

			/**
			 * Handles panel display toggle on Add view
			 */
			$("#editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditCriteriaEditForm\\:healthServiceCriteriaHeader").click(function() {
				toggleMedAuditHSCPanel("editAuditCriteriaPanel\\:addNewAuditCriteriaView");
			});
			// Enable panel toggle on PaymentResponsibility
			$("#editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditCriteriaEditForm\\:paymentResponsibilityHeader").click(function() {
				toggleMedAudPaymentRespPanel("editAuditCriteriaPanel\\:addNewAuditCriteriaView");
			});
			// Enable panel toggle on Payee Type
			$("#editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditCriteriaEditForm\\:payToHeader").click(function() {
				toggleMedAudPayeeTypePanel("editAuditCriteriaPanel\\:addNewAuditCriteriaView");
			});

			// Set PH as the default values for Subcategory
			$("#editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditTypeSelection\\:practitionerTypeDrp\\:selectOneMenu option[value='PH']").attr("selected", "selected");
			// Remove the RX option from the Subcategory dropdown
			removeRXSubcategoryOption("editAuditCriteriaPanel\\:addNewAuditCriteriaView\\:auditTypeSelection\\:practitionerTypeDrp\\:selectOneMenu");
		});
	</script>
</ui:composition>