<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<mbs:panel
		header="#{medicareController.selectedAuditCriteria.providerNumber == null ? msgs['header.medicare.audit.criteria.maintain'] : msgs['header.medicare.audit.criteria.edit']} #{medicareController.selectedAuditCriteria.providerNumber} #{medicareController.selectedAuditCriteria.providerType} #{medicareController.selectedAuditCriteria.providerName}"
		id="searchAuditCriteriaPanel">

		<!-- Audit Panel begins -->
		<h:form id="auditCriteriaSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{medicareController.executeAuditCriteriaSearch}" key="Enter"/>
			
			<ace:tabSetProxy id="searchAuditCriteriaTab" for="#{medicareProxyTabSet.clientId}" />

			<!-- Step 1: User specifies what type of Audit criteria to search/edit -->
			<h:panelGroup id="auditCriteriaSearchStep1Wrapper">
				<!-- Type of Audit Criteria dropdown -->
				<h4>#{msgs['header.medicare.audit.criteria.type']}</h4>
				<mbs:selectOneMenu id="auditCriteriaTypeDrp" label="" labelStyleClass="col-xs-12 col-sm-1 col-md-1"
					inputStyleClass="col-xs-12 col-sm-5 col-md-3"
					value="#{medicareController.auditCriteriaSearchCriteria.auditCriteriaType}">
					<f:selectItems value="#{medicareController.generalAuditCriteriaTypes}" var="option" itemLabel="#{option.value}"
						itemValue="#{option.key}" />
					<f:ajax event="change" listener="#{medicareController.displayAuditCriteriaSearchForm}"
						render=":searchEditAuditCriteriaView:searchAuditCriteriaPanel:auditCriteriaSearchForm" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<!-- Step 2: Search form allowing user to specify search criteria -->
			<h:panelGroup id="auditCriteriaSearchStep2Wrapper" styleClass="hide-elements">
				<!-- Conditional headers for search form. Changes depending on search style -->
				<h:panelGroup rendered="#{!medicareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<h4>#{msgs['header.medicare.audit.default']}</h4>
				</h:panelGroup>
				<h:panelGroup rendered="#{medicareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<h4>#{msgs['header.medicare.audit.practitioner']}</h4>
				</h:panelGroup>
				<!-- Fields always shown in search form regardless of Audit Type selection -->
				<!-- Audit Type selection -->
				<mbs:selectOneMenu id="auditTypeDrp" label="#{msgs['label.audit.crit.audit.type']}"
					labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
					value="#{medicareController.auditCriteriaSearchCriteria.auditType}">
					<f:selectItems value="#{medicareController.medicareAuditTypes.entrySet()}" var="entry" itemLabel="#{entry.value}"
						itemValue="#{entry.key}" for="#{medicareController.auditCriteriaSearchCriteria.auditType}" />
				</mbs:selectOneMenu>

				<!-- Fields only shown if Audit Type selection is Practitioner -->
				<h:panelGroup rendered="#{medicareController.auditCriteriaSearchCriteria.practitionerSearch}">
					<!-- Audit Criteria ID input -->
					<mbs:input id="auditCriteriaIdTxt" label="#{msgs['label.audit.crit.audit.criteria.id']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{medicareController.auditCriteriaSearchCriteria.auditCriteriaId}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
					<!-- Practitioner ID input -->
					<mbs:input id="practitionerIdTxt" label="#{msgs['common.label.practitioner.id']}" maxlength="6"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{medicareController.auditCriteriaSearchCriteria.practitionerId}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
					<!-- Subcategory dropdown -->
					<mbs:selectOneMenu id="subcateogryDrp" label="#{msgs['common.label.subcategory']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{medicareController.auditCriteriaSearchCriteria.subcategory}">
						<f:selectItems value="#{medicareController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
							for="#{medicareController.auditCriteriaSearchCriteria.subcategory}" />
					</mbs:selectOneMenu>
					<!-- Practitioner Name input -->
					<mbs:input id="practitionerNameTxt" label="#{msgs['common.label.practitioner.name']}"
						labelStyleClass="col-xs-12 col-sm-3 col-md-2" inputStyleClass="col-xs-12 col-sm-3 col-md-2"
						value="#{medicareController.auditCriteriaSearchCriteria.practitionerName}" />

					<!-- Due to rendering rules the script needs to be included in the conditionally render block so it trigger on render -->
					<script>
						$(document).ready(function() {
							// Remove the RX option from the Subcategory search dropdown
							removeRXSubcategoryOption("searchEditAuditCriteriaView\\:searchAuditCriteriaPanel\\:auditCriteriaSearchForm\\:subcateogryDrp\\:selectOneMenu");
						});
					</script>
				</h:panelGroup>

				<!-- Search form buttons -->
				<mbs:commandButtonBar id="auditCriteriSearchBtnPanel">
					<!-- Search Practitioner Audit button -->
					<mbs:commandButton value="#{msgs['button.search']}" action="#{medicareController.executeAuditCriteriaSearch}"
						rendered="#{medicareController.auditCriteriaSearchCriteria.practitionerSearch}" type="primary" size="sm" />
					<!-- Edit Default Audit button -->
					<mbs:commandButton
						value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
						action="#{medicareController.executeEditDefaultAuditCriteria}"
						rendered="#{!medicareController.auditCriteriaSearchCriteria.practitionerSearch}" type="primary" size="sm" />
					<!-- Clear search button -->
					<mbs:commandButton value="#{msgs['button.clear']}"
						rendered="#{medicareController.auditCriteriaSearchCriteria.practitionerSearch}"
						action="#{medicareController.executeClearAuditSearch}" type="danger" size="sm" immediate="true" />
					<!-- Search back button -->
					<mbs:commandButton value="#{msgs['button.back']}" type="danger" size="sm">
						<f:ajax event="click" immediate="true" listener="#{medicareController.returnToAuditCriteriaTypeSelection}"
							render="@form" />
					</mbs:commandButton>
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Audit Criteria search results form/table (Only used with Practitioner Audit) -->
			<h:panelGroup id="auditCriteriaSearchResults"
				styleClass="#{medicareController.displayAuditCriteriaSearchResults ? '' : 'hide-elements'}">

				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{medicareController.totalAuditCriteriaRows}" />
				</h4>

				<ace:dataTable id="auditCriteriaSearchResultsTable" rows="20" var="row" lazy="true" paginator="true"
					paginatorPosition="bottom" styleClass="table-horizontal-adjustment"
					value="#{medicareController.auditCriteriaSearchResults}" emptyMessage="#{msgs['common.label.no.data']}">

					<!-- Practitioner column. Only displayed for Practitioner search type -->
					<ace:column id="practitionerCol" sortBy="#{row.providerNumber} #{row.providerType} - #{row.providerName}"
						headerText="#{msgs['common.label.practitioner']}"
						rendered="#{medicareController.auditCriteriaSearchCriteria.practitionerSearch}">
						<h:outputText value="#{row.providerNumber} #{row.providerType} - #{row.providerName}" />
					</ace:column>

					<!-- Audit Criteria ID -->
					<ace:column id="criteriaIdCol" sortBy="#{row.auditCriteriaId}"
						headerText="#{msgs['label.audit.crit.audit.criteria.id']}">
						<h:outputText value="#{row.auditCriteriaId}" />
					</ace:column>

					<!-- Audit Type column -->
					<ace:column id="auditTypeCol" sortBy="#{row.auditType}" headerText="#{msgs['label.audit.crit.audit.type']}">
						<h:outputText value="#{row.auditType}" />
					</ace:column>


					<!-- Audit Payment From column -->
					<ace:column id="auditPayFromCol" sortBy="#{row.auditFromPaymentDate}"
						headerText="#{msgs['label.audit.crit.audit.payment.from.date']}">
						<h:outputText value="#{row.auditFromPaymentDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Audit Payment To column -->
					<ace:column id="auditPayToCol" sortBy="#{row.auditToPaymentDate}"
						headerText="#{msgs['label.audit.crit.audit.payment.to.date']}">
						<h:outputText value="#{row.auditToPaymentDate}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Audit From column -->
					<ace:column id="auditFromCol" sortBy="#{row.auditFrom}" headerText="#{msgs['label.audit.crit.audit.from']}">
						<h:outputText value="#{row.auditFrom}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- Audit To column -->
					<ace:column id="auditToCol" sortBy="#{row.auditTo}" headerText="#{msgs['label.audit.crit.audit.to']}">
						<h:outputText value="#{row.auditTo}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<ace:column id="editCol" headerText="">
						<mbs:commandButtonBar id="editAuditCriteriaBtn" align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Admin-ServiceVerificationUpdate') == true ? msgs['button.edit'] : msgs['button.view']}"
								action="#{medicareController.editSelectedPractitionerAuditCriteria(row)}" type="primary" size="xs" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<!-- Import the edit screen (Same HTML as Add New) -->
		<h:panelGroup styleClass="hide-elements" id="searchEditAuditCriteriaPanel">
			<ui:include src="EditAuditCriteria.xhtml" />
		</h:panelGroup>
	</mbs:panel>
</ui:composition>