<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html" template="/pages/nspp-template.xhtml"
	xmlns:mbs="http://ca.medavie.bootstrap/taglib" xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="security">
		<f:event type="preRenderView"
			listener="#{roleBasedAccessSupport.checkSecurity('Admin-OutlierInquiry,Admin-OutlierUpdate')}" />
	</ui:define>

	<ui:param name="title" value="#{msgs['title.audit.inquiry']}" />
	<ui:param name="page" value="InquiryIndex" />
	<ui:param name="menuId" value="title.audit.inquiry" />

	<!-- Style parameters -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<ui:define name="content">
		<div id="mainContent">
			<h1>#{msgs['title.audit.inquiry']}</h1>
			<h4>#{msgs['common.label.choose.option']}</h4>
			<ace:tabSet id="inquiryTabSet" binding="#{inquiryProxyTabSet}" immediate="true"
				tabChangeListener="#{inquiryController.criteriaTabChangeListener}">
				<ace:tabPane label="#{msgs['button.inquiry.peergroup.inquiry']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="peerGroupInquiryView">
						<ui:include src="PeerGroupInquiry.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.inquiry.practitioner.inquiry']}"
					disabled="#{!roleBasedAccessSupport.hasRole('Admin-OutlierInquiry,Admin-OutlierUpdate')}">
					<f:subview id="practitionerInquiryView">
						<ui:include src="PractitionerInquiry.xhtml" />
					</f:subview>
				</ace:tabPane>
				<ace:tabPane label="#{msgs['button.inquiry.outlier.inquiry']}" rendered="false"></ace:tabPane>
			</ace:tabSet>
		</div>
	</ui:define>
</ui:composition>