<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>

<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:h="http://java.sun.com/jsf/html"
	template="/pages/nspp-template-no-menu.xhtml" xmlns:mbs="http://ca.medavie.bootstrap/taglib"
	xmlns:ace="http://www.icefaces.org/icefaces/components">

	<ui:define name="content">
		<div id="mainContent" class="printView">
			<h:form>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<table class="printFriendlyTable">
							<tr>
								<td><h:outputText value="#{printFriendlyController.currentDateTime}" /></td>
							</tr>
							<tr>
								<td><h:outputText
										value="#{msgs['common.label.from']}: #{printFriendlyController.selectedPeerGroup.profilePeriod.periodStartDateString} #{msgs['common.label.to']}: #{printFriendlyController.selectedPeerGroup.profilePeriod.periodEndDateString}" />
								</td>
							</tr>
							<tr>
								<td><h:outputText value="#{printFriendlyController.selectedPeerGroup.peerGroupName}" /></td>
							</tr>
						</table>
					</div>

					<div class="col-xs-12 col-sm-4">
						<h:outputText value="#{msgs['label.print.msi.pg.profile']}" />
					</div>

					<div class="col-xs-12 col-sm-3">

						<table class="printFriendlyTable">
							<tr>
								<td><h:outputText value="#{msgs['common.label.peer.group.id']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPeerGroup.peerGroupID}" /></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.print.number.of.practitioners']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPeerGroup.numberOfPractitionersInGroup}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.pract.dropped']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPeerGroup.numberOfDroppedPractitionersInGroup}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.pract.avg']}" /></td>
								<td><h:outputText value="#{printFriendlyController.selectedPeerGroup.numberOfPractitionersUsedForAverage}">
										<f:convertNumber maxFractionDigits="0" groupingUsed="true" currencySymbol="" type="currency" />
									</h:outputText></td>
							</tr>
						</table>
					</div>
				</div>
				<br />

				<h:outputText value="#{msgs['label.print.summary.info']}" />
				<hr />

				<div class="row">
					<div class="col-xs-12 col-sm-12">
						<table class="printFriendlyTableWithCellSpacing">
							<tr>
								<td></td>
								<td><h:outputText value="#{msgs['header.inquiry.peergroup.total']}" /></td>
								<td><h:outputText value="#{msgs['header.inquiry.peergroup.average']}" /></td>
							</tr>

							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.fee']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupTotalFeeForService}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupAverageFeeForService}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>

							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.alt']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupTotalAlternateReimbursement}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupAverageAlternateReimbursement}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>

							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.diag']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupTotalDiagnosticImage}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupAverageDiagnosticImage}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>

							<tr>
								<td><h:outputText value="#{msgs['label.inquiry.peergroup.details.payment.bottom']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupTotalBottomLineAdj}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupAverageBottomLineAdj}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>

							<tr>
								<td><h:outputText value="#{msgs['header.inquiry.practitioner.total.payments']}" /></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupTotalPayments}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
								<td><h:outputText
										value="#{printFriendlyController.selectedPeerGroup.paymentInformation.groupAverageTotalPayments}">
										<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="$" type="currency" />
									</h:outputText></td>
							</tr>
						</table>
					</div>

				</div>

				<br />
				<h:outputText value="#{msgs['label.print.hs.performed']}" />
				<hr />

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-lg-12">

						<ace:dataTable id="printPeerGroupHSTable" var="row" styleClass="printFriendlyTable"
							value="#{printFriendlyController.selectedPeerGroup.healthServiceCodes}"
							emptyMessage="#{msgs['common.label.no.data']}">
							<ace:columnGroup>
								<!-- Top level headers -->
								<ace:row>
									<!-- Health Service header -->
									<ace:column id="pgHealthServiceGroupCol" headerText="#{msgs['label.inquiry.hs.hsgcol.header']}" rowspan="2" />

									<!-- Number Of Practitioners header -->
									<ace:column id="pgNumOfPractitionersHeader" headerText="#{msgs['label.print.number.of.practitioners']}"
										rowspan="2" />

									<!-- Patient top header -->
									<ace:column id="pgPatientHeader" headerText="#{msgs['label.inquiry.hs.patientcol.header']}" colspan="3" />

									<!-- Services top header -->
									<ace:column id="pgServicesHeader" headerText="#{msgs['label.inquiry.hs.servicescol.header']}" colspan="3" />

									<!-- Payments top header -->
									<ace:column id="pgPaymentsHeader" headerText="#{msgs['label.inquiry.hs.paymentscol.header']}" colspan="3" />

									<!-- % Payments top header -->
									<ace:column id="pgPercentPaymentsHeader" headerText="#{msgs['label.inquiry.hs.percentpaymentcol.header']}"
										colspan="1" />

									<!-- Services Per Patient top header -->
									<ace:column id="pgServicesPerPatientHeader" headerText="#{msgs['label.inquiry.hs.servicespercol.header']}"
										colspan="2" />

									<!-- Paid Per Patient top header -->
									<ace:column id="pgPaidPerPatientHeader" headerText="#{msgs['label.inquiry.hs.paidpercol.header']}" colspan="2" />

									<!-- Services Per 100 Patient top header -->
									<ace:column id="pgServicesPerHundPatientHeader"
										headerText="#{msgs['label.inquiry.hs.servicesperhundcol.header']}" colspan="2" />

									<!-- Paid Per 100 Patient top header -->
									<ace:column id="pgPaidPerHundPatientHeader" headerText="#{msgs['label.inquiry.hs.paidperhundcol.header']}"
										colspan="2" />
								</ace:row>
								<!-- Secondary headers -->
								<ace:row>
									<!-- Patients secondary headers -->
									<ace:column id="paitentTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
									<ace:column id="paitentAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="paitentStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- Services secondary headers -->
									<ace:column id="servicesTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
									<ace:column id="servicesAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="servicesStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- Payments secondary headers -->
									<ace:column id="paymentsTotalHeader" headerText="#{msgs['label.inquiry.hs.total.header']}" />
									<ace:column id="paymentsAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="paymentsStdDevHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- % Payments secondary header -->
									<ace:column id="percentPaymentsAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />

									<!-- Services Per Patient secondary headers -->
									<ace:column id="servicesPerPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="servicesPerPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- Paid Per Patient secondary headers -->
									<ace:column id="paidPerPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="paidPerPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- Services Per 100 Patient secondary headers -->
									<ace:column id="servicesPerHundPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="servicesPerHundPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />

									<!-- Paid Per 100 Patient secondary headers -->
									<ace:column id="paidPerHundPatientAvgHeader" headerText="#{msgs['label.inquiry.hs.average.header']}" />
									<ace:column id="paidPerHundPatientStdHeader" headerText="#{msgs['label.inquiry.hs.stddev.header']}" />
								</ace:row>
								<!-- Fixed row that displays column totals -->
								<ace:row id="totalsRow">
									<!-- Total row name col -->
									<ace:column styleClass="sub-header">
										<h:outputText value="#{msgs['label.inquiry.hs.total.header.caps']}" />
									</ace:column>

									<!-- Number of Providers total col -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPractitionersTotal}" />
									</ace:column>

									<!-- Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientsTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientsAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfPatientStdTotal}" />
									</ace:column>

									<!-- Services total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesStdTotal}" />
									</ace:column>

									<!-- Payments total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paymentsStdTotal}" />
									</ace:column>

									<!-- Percentage Payments total col -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.percentagePaymentsAvgTotal}" />
									</ace:column>

									<!-- Services Per Patient total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPerPatientAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPerPatientStdTotal}" />
									</ace:column>

									<!-- Paid Per Patient total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paidPerPatientAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paidPerPatientStdTotal}" />
									</ace:column>

									<!-- Services Per 100 Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPer100PatientAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.numberOfServicesPer100PatientStdTotal}" />
									</ace:column>

									<!-- Paid Per 100 Patients total cols -->
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paidPer100PatientAvgTotal}" />
									</ace:column>
									<ace:column styleClass="sub-header">
										<h:outputText
											value="#{printFriendlyController.selectedPeerGroup.healthServiceCriteriaTotals.paidPer100PatientStdTotal}" />
									</ace:column>
								</ace:row>
							</ace:columnGroup>

							<!-- Data display begins-->
							<!-- Health Service Group column -->
							<ace:column id="pgHsGroupCol">
								<h:outputText value="#{row.healthServiceGroupName}" />
							</ace:column>

							<!-- Number Of Practitioners column -->
							<ace:column id="pgHsNumOfPractitionerCol">
								<h:outputText value="#{row.numberOfPractitioners}" />
							</ace:column>

							<!-- Patient columns -->
							<ace:column id="patientTotalCol">
								<h:outputText value="#{row.numberOfPatients}" />
							</ace:column>
							<ace:column id="patientAvgCol">
								<h:outputText value="#{row.averageNumberOfPatients}" />
							</ace:column>
							<ace:column id="patientStdCol">
								<h:outputText value="#{row.standardNumberOfPatientDeviation}" />
							</ace:column>

							<!-- Services columns -->
							<ace:column id="servicesTotalCol">
								<h:outputText value="#{row.numberOfServices}" />
							</ace:column>
							<ace:column id="servicesAvgCol">
								<h:outputText value="#{row.averageNumberOfServices}" />
							</ace:column>
							<ace:column id="servicesStdCol">
								<h:outputText value="#{row.standardNumberOfServicesDeviation}" />
							</ace:column>

							<!-- Payments columns -->
							<ace:column id="paymentsTotalCol">
								<h:outputText value="#{row.totalAmountPaid}" />
							</ace:column>
							<ace:column id="paymentsAvgCol">
								<h:outputText value="#{row.averageAmountPaid}" />
							</ace:column>
							<ace:column id="paymentsStdCol">
								<h:outputText value="#{row.standardAmountPaidDeviation}" />
							</ace:column>

							<!-- % Payments column -->
							<ace:column id="percentPaymentsAvgCol">
								<h:outputText value="#{row.averagePercentagePayment}" />
							</ace:column>

							<!-- Services per Patient columns -->
							<ace:column id="servicesPerPatientAvgCol">
								<h:outputText value="#{row.averageServicesPerPatient}" />
							</ace:column>
							<ace:column id="servicesPerPatientStdCol">
								<h:outputText value="#{row.standardServicesPerPatientDeviation}" />
							</ace:column>

							<!-- Paid per Patient columns -->
							<ace:column id="paidPerPatientAvgCol">
								<h:outputText value="#{row.averageAmountPaidPerPatient}" />
							</ace:column>
							<ace:column id="paidPerPatientStdCol">
								<h:outputText value="#{row.standardAmountPaidPerPatientDeviation}" />
							</ace:column>

							<!-- Services per 100 Patients columns -->
							<ace:column id="servicesPerHundPatientAvgCol">
								<h:outputText value="#{row.averageNumberOfServicesPer100}" />
							</ace:column>
							<ace:column id="servicesPerHundPatientStdCol">
								<h:outputText value="#{row.standardNumberOfServicesPer100Deviation}" />
							</ace:column>

							<!-- Paid per 100 Patient columns -->
							<ace:column id="paidPerHundPatientAvgCol">
								<h:outputText value="#{row.averageAmountPaidPer100}" />
							</ace:column>
							<ace:column id="paidPerHundPatientStdCol">
								<h:outputText value="#{row.standardAmountPaidPer100Deviation}" />
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
			</h:form>
		</div>
	</ui:define>
</ui:composition>