<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Edit form style classes -->
	<ui:param name="labelStyle" value="col-xs-12 col-sm-7 col-md-5" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-8 col-md-6" />

	<!-- Search form style classes -->
	<ui:param name="searchLabelStyle" value="col-xs-12 col-sm-6 col-md-2" />
	<ui:param name="searchInputStyle" value="col-xs-12 col-sm-6 col-md-2" />

	<!-- modified style for dropdown menu for search style select -->
	<ui:param name="selectOneLabelStyle" value="col-xs-12 col-sm-1 col-md-1" />
	<ui:param name="selectOneInputStyle" value="col-xs-6 col-sm-1 col-md-3" />

	<h:form id="addSearchPayors" styleClass="form-horizontal">
		<!-- JTRAX-62 07-MAR-18 BCAINNE -->
		<icecore:defaultAction action="#{manualDepositsController.executeSearch}" key="Enter"/>
	
		<mbs:panel id="payorsSearchPanel"
			header="#{manualDepositsController.editingRecord == true ? msgs['common.label.edit'] : msgs['common.label.new']} #{msgs['menu.accounting.deposits']}">

			<!-- Step 1: User picks search method they wish to use -->
			<h:panelGroup id="searchStyleSelectionWrapper">
				<h4>#{msgs['header.hs.groups.search.option']}</h4>
				<mbs:selectOneMenu value="#{manualDepositsController.selectedSearchStyle}" id="creationTypeDrp" label=""
					labelStyleClass="#{selectOneLabelStyle}" inputStyleClass="#{selectOneInputStyle}">
					<f:selectItems value="#{manualDepositsController.manualDepositSearchTypes}" var="item"
						itemLabel="#{msgs[item.manualDepositSearchTypeLabel]}" itemValue="#{item}"
						for="#{manualDepositsController.selectedSearchStyle}" />
					<f:ajax event="change" listener="#{manualDepositsController.manualDepositsSearchTypeChangeListener}" render="@form" />
				</mbs:selectOneMenu>
			</h:panelGroup>


			<h:panelGroup id="manualDepositsSearchPanel" styleClass="hide-elements">
				<!-- Fields rendered for Practitioner search -->
				<h:panelGroup rendered="#{manualDepositsController.practitionerSearch}">
					<h4>
						<h:outputText value="#{msgs['label.manualDeposits.providerSearch']}" />
					</h4>

					<!-- Practitioner ID field -->
					<mbs:input id="practitionerNumber" label="#{msgs['common.label.provider.id']}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.practitionerSearchCriteria.practitionerNumber}" fAttributeName="disableGrouping"
						fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Practitioner Type field -->
					<mbs:selectOneMenu id="practitionerType" label="#{msgs['common.label.subcategory']}"
						value="#{manualDepositsController.practitionerSearchCriteria.subcategory}" labelStyleClass="#{searchLabelStyle}"
						inputStyleClass="#{searchInputStyle}">
						<f:selectItems value="#{manualDepositsController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Practitioner Name field -->
					<mbs:input id="practitionerName" label="#{msgs['common.label.provider.name']}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.practitionerSearchCriteria.practitionerName}" />

					<!-- City field -->
					<mbs:input id="practitionerCity" label="#{msgs['common.label.city']}" labelStyleClass="#{searchLabelStyle}"
						inputStyleClass="#{searchInputStyle}" value="#{manualDepositsController.practitionerSearchCriteria.city}" />

					<!-- Speciality field -->
					<mbs:selectOneMenu id="practitionerSpeciality" label="#{msgs['common.label.specialty']}"
						value="#{manualDepositsController.practitionerSearchCriteria.specialty}" labelStyleClass="#{searchLabelStyle}"
						inputStyleClass="#{searchInputStyle}">
						<f:selectItems value="#{manualDepositsController.specialtyDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.value.specialtyDesc}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Liscence Number field -->
					<mbs:input id="licenseNumber" label="#{msgs['label.manualDeposits.licenseNumber']}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.practitionerSearchCriteria.liscenseNumber}" />
				</h:panelGroup>

				<!-- Fields rendered for Group search -->
				<h:panelGroup rendered="#{!manualDepositsController.practitionerSearch}">
					<h4>
						<h:outputText value="#{msgs['label.manualDeposits.groupSearch']}" />
					</h4>

					<!-- Group number field -->
					<mbs:input id="groupNumber" label="#{msgs['label.manualDeposits.groupNumber']}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.groupSearchCriteria.providerGroupId}" />

					<!-- Group Type field -->
					<mbs:selectOneMenu id="groupType" label="#{msgs['label.manualDeposits.groupType']}"
						value="#{manualDepositsController.groupSearchCriteria.providerGroupTypeDesc}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}">
						<f:selectItems value="#{manualDepositsController.groupTypeCodes.entrySet()}" var="item" itemLabel="#{item.key}"
							itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Group Name field -->
					<mbs:input id="groupName" label="#{msgs['label.manualDeposits.groupName']}" labelStyleClass="#{searchLabelStyle}"
						inputStyleClass="#{searchInputStyle}" value="#{manualDepositsController.groupSearchCriteria.providerGroupName}" />

					<!-- City field -->
					<mbs:input id="groupCity" label="#{msgs['label.manualDeposits.groupCity']}" labelStyleClass="#{searchLabelStyle}"
						inputStyleClass="#{searchInputStyle}" value="#{manualDepositsController.groupSearchCriteria.providerGroupCity}" />
				</h:panelGroup>

				<!-- Search button panel -->
				<mbs:commandButtonBar id="searchBtnPanel" align="left">

					<mbs:commandButton id="searchPractitionerBtn" value="#{msgs['button.search']}" type="primary" immediate="false"
						size="sm" action="#{manualDepositsController.executePractitionerSearch}"
						rendered="#{manualDepositsController.practitionerSearch}" />
					<mbs:commandButton id="searchGroupBtn" value="#{msgs['button.search']}" type="primary" immediate="false" size="sm"
						action="#{manualDepositsController.executeGroupSearch}" rendered="#{!manualDepositsController.practitionerSearch}" />

					<mbs:commandButton id="clearPractitionerBtn" value="#{msgs['button.clear']}" type="danger"
						action="#{manualDepositsController.clearPractitionerCriteria}" size="sm" immediate="true"
						rendered="#{manualDepositsController.practitionerSearch}" />
					<mbs:commandButton id="clearGroupSearchBtn" value="#{msgs['button.clear']}" type="danger"
						action="#{manualDepositsController.clearGroupCriteria}" size="sm" immediate="true"
						rendered="#{!manualDepositsController.practitionerSearch}" />

					<mbs:commandButton value="#{msgs['button.back']}" type="danger" size="sm" immediate="true"
						action="#{manualDepositsController.returnToCreateNewManualDepositsSearchSelection}" />
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Search results for Practitioners search -->
			<h:panelGroup id="practitionerSearchResults"
				styleClass="#{manualDepositsController.displayNewPractitionerSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{manualDepositsController.totalPractitioners}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="practitionerSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{manualDepositsController.practitionerSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Practitioner ID -->
					<ace:column headerText="#{msgs['common.label.provider.id']}"
						sortBy="#{row.practitionerType} - #{row.practitionerNumber}">
						<h:outputText value="#{row.practitionerType} - #{row.practitionerNumber}" />
					</ace:column>
					<!-- Practitioner Name -->
					<ace:column headerText="#{msgs['common.label.provider.name']}" sortBy="#{row.practitionerName}">
						<h:outputText value="#{row.practitionerName}" />
					</ace:column>
					<!-- Practitioner City -->
					<ace:column headerText="#{msgs['common.label.city']}" sortBy="#{row.city}">
						<h:outputText value="#{row.city}" />
					</ace:column>
					<!-- Add column -->
					<ace:column id="addCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.add']}" type="primary" size="xs"
								action="#{manualDepositsController.selectPractitioner(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>

			<!-- Search results for Group Search -->
			<h:panelGroup id="groupSearchResults"
				styleClass="#{manualDepositsController.displayNewGroupSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{manualDepositsController.totalGroups}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row" lazy="true"
					id="groupSearchResultsTable" styleClass="table-horizontal-adjustment"
					value="#{manualDepositsController.groupSearchResults}" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Group Number -->
					<ace:column headerText="#{msgs['label.manualDeposits.groupNumber']}" sortBy="#{row.providerGroupId}">
						<h:outputText value="#{row.providerGroupId}" />
					</ace:column>
					<!-- Group Name -->
					<ace:column headerText="#{msgs['label.manualDeposits.groupName']}" sortBy="#{row.providerGroupName}">
						<h:outputText value="#{row.providerGroupName}" />
					</ace:column>
					<!-- Group Type -->
					<ace:column headerText="#{msgs['label.manualDeposits.groupType']}" sortBy="#{row.providerGroupTypeDesc}">
						<h:outputText value="#{row.providerGroupTypeDesc}" />
					</ace:column>
					<!-- Add column -->
					<ace:column id="addCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.add']}" type="primary" size="xs"
								action="#{manualDepositsController.selectGroup(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</mbs:panel>
	</h:form>

	<h:form id="addManualDepositForm" styleClass="form-horizontal hide-elements">
		<ace:tabSetProxy id="addManualDepositTab" for="#{accountingProxyTabSet.clientId}" />

		<mbs:panel header="#{msgs['label.manualDeposits.new.deposit']} #{manualDepositsController.payorInfo}">

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">

					<!-- Payor Id field -->
					<mbs:input label="#{msgs['label.manualDeposits.payorId']}" displayValidState="false"
						labelStyleClass="#{labelStyle}" disabled="true" inputStyleClass="#{inputStyle}"
						rendered="#{manualDepositsController.practitionerSearch}"
						value="#{manualDepositsController.selectedManualDeposit.practitionerType} - #{manualDepositsController.selectedManualDeposit.practitionerNumber}" />

					<!-- Payor Group Id -->
					<mbs:input label="#{msgs['label.manualDeposits.payorGroupId']}" displayValidState="false"
						rendered="#{!manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.groupNumber}" />

					<!-- Payor Name field -->
					<mbs:input label="#{msgs['label.manualDeposits.payorName']}" displayValidState="false"
						rendered="#{manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.practitionerName}" />

					<!-- Payor Group Name -->
					<mbs:input label="#{msgs['label.manualDeposits.payorGroupName']}" displayValidState="false"
						rendered="#{!manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.groupName}" />

					<!-- Optional Practitioner Id field (Group payor only) -->
					<mbs:input id="practitionerNumber" label="#{msgs['common.label.provider.id']}" labelStyleClass="#{labelStyle}"
						rendered="#{!manualDepositsController.practitionerSearch}" inputStyleClass="#{inputStyle}"
						displayValidState="false" value="#{manualDepositsController.selectedManualDeposit.practitionerNumber}"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Optional Practitioner Type field (Group payor only) -->
					<mbs:selectOneMenu id="practitionerType" label="#{msgs['common.label.subcategory']}"
						value="#{manualDepositsController.selectedManualDeposit.practitionerType}"
						rendered="#{!manualDepositsController.practitionerSearch}" displayValidState="false"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}">
						<f:selectItems value="#{manualDepositsController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key} - #{item.value.typeDesc}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Fiscal Year End Date field -->
					<mbs:selectOneMenu label="#{msgs['label.manualDeposits.fiscalYearEnd']} 31-MAR-" required="true"
						labelStyleClass="#{labelStyle} yearSelect" placeholder="#{dateFormatPlaceholder}" inputStyleClass="#{inputStyle}"
						value="#{manualDepositsController.selectedManualDeposit.fiscalYearEndStr}">
						<f:selectItems value="#{manualDepositsController.fiscalYears}" var="item" itemLabel="#{item}" itemValue="#{item}" />
						<f:ajax event="change" listener="#{manualDepositsController.fiscalYearChange}" />
					</mbs:selectOneMenu>

					<!-- Deposit Amount field -->
					<mbs:input label="#{msgs['label.manualDeposits.deposit.amount']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.depositAmount}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-4">
					<!-- GL Number -->
					<mbs:selectOneMenu label="#{msgs['label.manualDeposits.glNumber']}"
						value="#{manualDepositsController.selectedManualDeposit.glNumber}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" required="true">
						<f:selectItems value="#{manualDepositsController.glNumbers.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Business Arrangement/Desc drop down -->
					<mbs:selectOneMenu label="#{msgs['common.label.ba.number']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.busArrNumber}"
						rendered="#{manualDepositsController.editingRecord}">
						<f:selectItems value="#{manualDepositsController.busArrsEdit}" var="option"
							itemLabel="#{option.value} - #{option.label}" itemValue="#{option.value}" />
					</mbs:selectOneMenu>

					<!-- Business Arrangement/Desc drop down -->
					<mbs:selectOneMenu label="#{msgs['common.label.ba.number']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.busArrNumber}"
						rendered="#{!manualDepositsController.editingRecord}">
						<f:selectItems value="#{manualDepositsController.busArrsAdd}" var="option"
							itemLabel="#{option.value} - #{option.label}" itemValue="#{option.value}" />
					</mbs:selectOneMenu>

					<!-- Deposit Note field -->
					<mbs:input label="#{msgs['label.manualDeposits.depositNote']}" maxlength="80" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.depositNote}" />

					<!-- Date Received field -->
					<mbs:calendar label="#{msgs['label.manualDeposits.dateReceived']}" required="true" labelStyleClass="#{labelStyle}"
						placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" showOn="both"
						value="#{manualDepositsController.selectedManualDeposit.dateReceived}">
					</mbs:calendar>
				</div>
			</div>
			<!-- Edit form button panel -->
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['button.audit.peergroup.save.changes']}" type="primary" size="sm"
					action="#{manualDepositsController.saveManualDeposit}"
					rendered="#{roleBasedAccessSupport.hasRole('Finance-ManualDepositsUpdate')}" />
				<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}"
					action="#{manualDepositsController.returnToCreateNewManualDepositsSearch}" type="danger" size="sm" immediate="true" />
			</mbs:commandButtonBar>
		</mbs:panel>
	</h:form>
</ui:composition>