<!DOCTYPE html [
<!ENTITY nbsp "&#160;">
<!ENTITY copyright "&#169;">
<!ENTITY times "&#215;">
]>
<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:o="http://omnifaces.org/ui" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Edit form style classes -->
	<ui:param name="labelStyle" value="col-xs-12 col-sm-7 col-md-5" />
	<ui:param name="inputStyle" value="col-xs-12 col-sm-8 col-md-6" />

	<!-- Search form style classes -->
	<ui:param name="searchLabelStyle" value="col-xs-12 col-sm-6 col-md-2" />
	<ui:param name="searchInputStyle" value="col-xs-12 col-sm-6 col-md-2" />

	<!-- modified style for dropdown menu for search style select -->
	<ui:param name="selectOneLabelStyle" value="col-xs-12 col-sm-1 col-md-1" />
	<ui:param name="selectOneInputStyle" value="col-xs-6 col-sm-1 col-md-3" />

	<h:form id="manualDepositsSearchForm" styleClass="form-horizontal">
		<!-- JTRAX-62 07-MAR-18 BCAINNE -->
		<icecore:defaultAction action="#{manualDepositsController.executeManualDepositSearch}" key="Enter"/>
		
		<ace:tabSetProxy id="manualDepositSearchTab" for="#{accountingProxyTabSet.clientId}" />

		<mbs:panel header="#{msgs['label.manualDeposits.depositSearchEdit']}" id="manualDepositsInquiryPanel">

			<!-- Step 1: User specified the search method they wish to use -->
			<h:panelGroup id="searchStyleSelectionWrapper">
				<h4>#{msgs['header.hs.groups.search.option']}</h4>
				<mbs:selectOneMenu value="#{manualDepositsController.selectedSearchStyle}" id="searchTypeDrp" label=""
					labelStyleClass="#{selectOneLabelStyle}" inputStyleClass="#{selectOneInputStyle}">
					<f:selectItems value="#{manualDepositsController.manualDepositSearchTypes}" var="item"
						itemLabel="#{msgs[item.manualDepositSearchTypeLabel]}" itemValue="#{item}"
						for="#{manualDepositsController.selectedSearchStyle}" />
					<f:ajax event="change" listener="#{manualDepositsController.manualDepositsSearchTypeChangeListener}"
						render=":editManualDepositsView:manualDepositsSearchForm:manualDepositsInquiryPanel:manualDepositsSearchPanel" />
				</mbs:selectOneMenu>
			</h:panelGroup>

			<!-- Step 2: User enters search criteria. Fields are varied based on search type selected -->
			<h:panelGroup id="manualDepositsSearchPanel" styleClass="hide-elements">

				<!-- Fields that are displayed when search by Practitioner -->
				<h:panelGroup rendered="#{manualDepositsController.practitionerSearch}">
					<h4>
						<h:outputText value="#{msgs['label.manualDeposits.providerSearch']}" />
					</h4>

					<!-- Provider ID text -->
					<mbs:input id="providerNumber" label="#{msgs['common.label.provider.id']}" labelStyleClass="#{searchLabelStyle}"
						maxlength="6" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.manualDepositSearchCriteria.practitionerNumber}"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>
					<!-- Practitioner Type field -->
					<mbs:selectOneMenu id="practitionerType" label="#{msgs['common.label.subcategory']}"
						value="#{manualDepositsController.manualDepositSearchCriteria.practitionerType}"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}">
						<f:selectItems value="#{manualDepositsController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>
					<!-- Provider Name text -->
					<mbs:input id="providerName" label="#{msgs['common.label.provider.name']}" maxlength="85"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.manualDepositSearchCriteria.practitionerName}" />
				</h:panelGroup>

				<!-- Fields that are displayed when searching by Group -->
				<h:panelGroup rendered="#{!manualDepositsController.practitionerSearch}">
					<h4>
						<h:outputText value="#{msgs['label.manualDeposits.groupSearch']}" />
					</h4>

					<!-- Practitioner Group text -->
					<mbs:input id="groupNumber" label="#{msgs['label.manualDeposits.groupNumber']}" maxlength="6"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.manualDepositSearchCriteria.groupNumber}" />

					<mbs:input id="depositAmt" label="#{msgs['label.manualDeposits.groupName']}" maxlength="45"
						labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
						value="#{manualDepositsController.manualDepositSearchCriteria.groupName}" />
				</h:panelGroup>

				<!-- Fields that displayed for all search types -->
				<mbs:input id="depositAmount" label="#{msgs['label.manualDeposits.deposit.amount']}" maxlength="15"
					labelStyleClass="#{searchLabelStyle}" inputStyleClass="#{searchInputStyle}"
					value="#{manualDepositsController.manualDepositSearchCriteria.depositAmount}" />

				<mbs:calendar label="#{msgs['label.manualDeposits.deposit.date']}" labelStyleClass="#{searchLabelStyle}"
					placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{searchInputStyle}" showOn="both"
					value="#{manualDepositsController.manualDepositSearchCriteria.depositDate}">
				</mbs:calendar>

				<!-- Search buttons-->
				<mbs:commandButtonBar id="manualDepositsSearchBtnPanel">
					<mbs:commandButton value="#{msgs['button.search']}" action="#{manualDepositsController.executeManualDepositSearch}"
						type="primary" size="sm" />
					<mbs:commandButton value="#{msgs['button.clear']}" type="danger" size="sm" immediate="true"
						action="#{manualDepositsController.clearManualDepositSearch}">
					</mbs:commandButton>
					<mbs:commandButton value="#{msgs['button.back']}" type="danger" size="sm" immediate="true"
						action="#{manualDepositsController.returnToManualDepositsSearchSelection}" />
				</mbs:commandButtonBar>
			</h:panelGroup>

			<!-- Search results -->
			<h:panelGroup id="practitionerSearchResults"
				styleClass="#{manualDepositsController.displayManualDepositSearchResults ? '' : 'hide-elements'}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}: #{manualDepositsController.totalManualDeposits}" />
				</h4>

				<ace:dataTable id="manualDepositsPractitionerResultsTable" rows="20" var="row" lazy="true"
					styleClass="table-horizontal-adjustment" value="#{manualDepositsController.manualDepositSearchResults}"
					paginator="true" paginatorPosition="bottom" emptyMessage="#{msgs['common.label.no.results']}">

					<!-- Bus Arr column (Displayed for both search types) -->
					<ace:column id="busArrCol" headerText="#{msgs['label.manualDeposits.busarr.short']}" sortBy="#{row.busArrNumber}">
						<h:outputText value="#{row.busArrNumber}" />
					</ace:column>

					<!-- Practitioner / Subcategory column (Displayed only for Provider Search) -->
					<ace:column id="practitionerCol" headerText="#{msgs['common.label.provider']}" sortBy="#{row.practitioner}"
						rendered="#{manualDepositsController.displayPractitionerSearchResults}">
						<h:outputText value="#{row.practitioner}" />
					</ace:column>

					<!-- Practitioner Last Name/ First Name / Initial column (Displayed only for Provider Search) -->
					<ace:column id="practitionerNameCol" headerText="#{msgs['common.label.provider.name']}"
						sortBy="#{row.practitionerName}" rendered="#{manualDepositsController.displayPractitionerSearchResults}">
						<h:outputText value="#{row.practitionerName}" />
					</ace:column>

					<!-- Group Number column (Displayed only for Group Search) -->
					<ace:column id="groupNumberCol" headerText="#{msgs['label.manualDeposits.groupNumber']}"
						sortBy="#{row.groupNumber}" rendered="#{manualDepositsController.displayGroupSearchResults}">
						<h:outputText value="#{row.groupNumber}" />
					</ace:column>

					<!-- Group name column (Displayed only for Group Search) -->
					<ace:column id="groupNameCol" headerText="#{msgs['label.manualDeposits.groupName']}" sortBy="#{row.groupName}"
						rendered="#{manualDepositsController.displayGroupSearchResults}">
						<h:outputText value="#{row.groupName}" />
					</ace:column>

					<!-- Deposit Number column (Displayed for both search types) -->
					<ace:column id="depositNumCol" headerText="#{msgs['label.manualDeposits.depositNumber']}"
						sortBy="#{row.depositNumber}">
						<h:outputText value="#{row.depositNumber}" />
					</ace:column>

					<!-- Deposit Amount column (Displayed for both search types) -->
					<ace:column id="depositAmountCol" headerText="#{msgs['label.manualDeposits.deposit.amount']}"
						sortBy="#{row.depositAmount}">
						<h:outputText value="#{row.depositAmount}" />
					</ace:column>

					<!-- Deposit Date column (Displayed for both search types) -->
					<ace:column id="depositDateCol" headerText="#{msgs['label.manualDeposits.deposit.date']}"
						sortBy="#{row.dateReceived}">
						<h:outputText value="#{row.dateReceived}">
							<f:convertDateTime pattern="dd-MMM-yyyy" />
						</h:outputText>
					</ace:column>

					<!-- remuneration column (Displayed for both search types) -->
					<ace:column id="remunerationCol" headerText="#{msgs['label.manualDeposits.remunerationMethod']}"
						sortBy="#{row.busArrDesc}">
						<h:outputText value="#{row.busArrDesc}" />
					</ace:column>

					<!-- View/Edit column -->
					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton
								value="#{roleBasedAccessSupport.hasRole('Finance-ManualDepositsUpdate') ? msgs['button.edit'] : msgs['button.view']}"
								type="primary" size="xs" action="#{manualDepositsController.initiateEditManualDepositPanel(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</mbs:panel>
	</h:form>

	<!-- Edit form begins -->
	<h:form id="editManualDepositForm" styleClass="hide-elements form-horizontal">
		<mbs:panel
			header="#{msgs['common.label.edit']} #{msgs['menu.accounting.deposits']} : #{manualDepositsController.selectedManualDeposit.practitionerType} - #{manualDepositsController.selectedManualDeposit.practitionerNumber} #{manualDepositsController.selectedManualDeposit.practitionerName}">

			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-5">

					<!-- Payor Id field -->
					<mbs:input label="#{msgs['label.manualDeposits.payorId']}" displayValidState="false"
						labelStyleClass="#{labelStyle}" disabled="true" inputStyleClass="#{inputStyle}"
						rendered="#{manualDepositsController.practitionerSearch}"
						value="#{manualDepositsController.selectedManualDeposit.practitionerType} - #{manualDepositsController.selectedManualDeposit.practitionerNumber}" />

					<!-- Payor Group Id -->
					<mbs:input label="#{msgs['label.manualDeposits.payorGroupId']}" displayValidState="false"
						rendered="#{!manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.groupNumber}" />

					<!-- Payor Name field -->
					<mbs:input label="#{msgs['label.manualDeposits.payorName']}" displayValidState="false"
						rendered="#{manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.practitionerName}" />

					<!-- Payor Group Name -->
					<mbs:input label="#{msgs['label.manualDeposits.payorGroupName']}" displayValidState="false"
						rendered="#{!manualDepositsController.practitionerSearch}" labelStyleClass="#{labelStyle}" disabled="true"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.groupName}" />

					<!-- Optional Practitioner Id field (Group payor only) -->
					<mbs:input id="practitionerNumber" label="#{msgs['common.label.provider.id']}" labelStyleClass="#{labelStyle}"
						rendered="#{!manualDepositsController.practitionerSearch}" inputStyleClass="#{inputStyle}"
						displayValidState="false" value="#{manualDepositsController.selectedManualDeposit.practitionerNumber}"
						fAttributeName="disableGrouping" fAttributeValue="true">
						<f:converter converterId="integerConverter" for="input" />
					</mbs:input>

					<!-- Optional Practitioner Type field (Group payor only) -->
					<mbs:selectOneMenu id="practitionerType" label="#{msgs['common.label.subcategory']}"
						value="#{manualDepositsController.selectedManualDeposit.practitionerType}"
						rendered="#{!manualDepositsController.practitionerSearch}" displayValidState="false"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}">
						<f:selectItems value="#{manualDepositsController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key} - #{item.value.typeDesc}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Fiscal Year End Date field -->
					<mbs:selectOneMenu label="#{msgs['label.manualDeposits.fiscalYearEnd']} 31-MAR-" required="true"
						labelStyleClass="#{labelStyle} yearSelect" placeholder="#{dateFormatPlaceholder}" inputStyleClass="#{inputStyle}"
						value="#{manualDepositsController.selectedManualDeposit.fiscalYearEndStr}">
						<f:selectItems value="#{manualDepositsController.fiscalYears}" var="item" itemLabel="#{item}" itemValue="#{item}" />
						<f:ajax event="change" listener="#{manualDepositsController.fiscalYearChange}" />
					</mbs:selectOneMenu>

					<!-- Deposit Amount field -->
					<mbs:input label="#{msgs['label.manualDeposits.deposit.amount']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.depositAmount}">
						<f:converter converterId="currencyConverter" for="input" />
					</mbs:input>
				</div>

				<div class="col-xs-12 col-sm-6 col-md-6">

					<!-- Date Received field -->
					<mbs:calendar label="#{msgs['label.manualDeposits.dateReceived']}" required="true" labelStyleClass="#{labelStyle}"
						placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" inputStyleClass="#{inputStyle}" showOn="both"
						value="#{manualDepositsController.selectedManualDeposit.dateReceived}">
					</mbs:calendar>

					<!-- GL Number -->
					<mbs:selectOneMenu label="#{msgs['label.manualDeposits.glNumber']}"
						value="#{manualDepositsController.selectedManualDeposit.glNumber}" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" required="true">
						<f:selectItems value="#{manualDepositsController.glNumbers.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value}" itemValue="#{item.key}" />
					</mbs:selectOneMenu>

					<!-- Business Arrangement/Desc drop down -->
					<mbs:selectOneMenu label="#{msgs['common.label.ba.number']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.busArrNumber}"
						rendered="#{manualDepositsController.editingRecord}">
						<f:selectItems value="#{manualDepositsController.busArrsEdit}" var="option"
							itemLabel="#{option.value} - #{option.label}" itemValue="#{option.value}" />
					</mbs:selectOneMenu>

					<!-- Business Arrangement/Desc drop down -->
					<mbs:selectOneMenu label="#{msgs['common.label.ba.number']}" required="true" labelStyleClass="#{labelStyle}"
						inputStyleClass="#{inputStyle}" value="#{manualDepositsController.selectedManualDeposit.busArrNumber}"
						rendered="#{!manualDepositsController.editingRecord}">
						<f:selectItems value="#{manualDepositsController.busArrsAdd}" var="option"
							itemLabel="#{option.value} - #{option.label}" itemValue="#{option.value}" />
					</mbs:selectOneMenu>

					<!-- Deposit Note field -->
					<mbs:inputTextarea label="#{msgs['label.manualDeposits.depositNote']}" onkeyup="limitTextArea( this, event, 80 );"
						labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
						value="#{manualDepositsController.selectedManualDeposit.depositNote}" />

					<!-- Modified By -->
					<mbs:input label="#{msgs['common.label.modified.by']}" inputStyleClass="#{inputStyle}"
						labelStyleClass="#{labelStyle}" displayValidState="false" disabled="true"
						value="#{manualDepositsController.selectedManualDeposit.lastModifiedBy}" />

					<!-- Last Modified -->
					<mbs:input label="#{msgs['common.label.last.modified']}" id="editLastModifiedDate" inputStyleClass="#{inputStyle}"
						labelStyleClass="#{labelStyle}" displayValidState="false" disabled="true"
						value="#{manualDepositsController.selectedManualDeposit.lastModifiedDate}">
						<f:convertDateTime pattern="#{dateTimeFormat}" for="input" />
					</mbs:input>
				</div>
			</div>
			<!-- Edit form button panel -->
			<mbs:commandButtonBar>
				<mbs:commandButton value="#{msgs['button.audit.peergroup.save.changes']}" type="primary" size="sm"
					action="#{manualDepositsController.saveManualDeposit}"
					rendered="#{roleBasedAccessSupport.hasRole('Finance-ManualDepositsUpdate')}" />
				<mbs:commandButton value="#{msgs['common.label.cancel.back.to.search']}" onclick="returnToManualDepositSearch();"
					type="danger" size="sm" immediate="true" />
			</mbs:commandButtonBar>
		</mbs:panel>
	</h:form>
</ui:composition>