<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Page styling class for labels and fields -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<mbs:panel header="#{msgs['header.audit.result.bulk.copy']}" id="bulkCopyAuditResultPanel">

		<!-- Add New Practitioner panel -->
		<h:form id="practitionerAddNewpractitionerForm">
			<ace:tabSetProxy id="postAuditTab" for="#{auditResultProxyTabSet.clientId}" />

			<h:panelGroup id="auditResultBulkCopySelectSubcategoryWrapper">
				<div class="" id="auditResultBulkCopySelectSubcategoryWrapperPanel">
					<!-- Type of Audit Criteria dropdown -->
					<h4>
						<h:outputText value="#{msgs['header.audit.result.bulk.select.subcategory']}" />
					</h4>
					<mbs:selectOneMenu id="auditResultBulkCopySubcategoryDrp" label="" labelStyleClass="col-xs-12 col-sm-1 col-md-1"
						inputStyleClass="col-xs-12 col-sm-5 col-md-3" value="#{auditResultController.bulkCopyPractitionerSubcategoryType}">

						<f:selectItems value="#{auditResultController.subcategoryDropdownItems.entrySet()}" var="item"
							itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
							for="#{auditResultController.bulkCopyPractitionerSubcategoryType}" />
						<f:ajax event="change" listener="#{auditResultController.displayAddingPractitionersForm}"
							render=":bulkAuditResultsView:bulkCopyAuditResultPanel:buttonForm:auditResultsToCopyWrapper
							        :bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerAddNewpractitionerForm:subTypeId:input 
							        :bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerAddNewpractitionerForm:practitionerID:label 
							        :bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerAddNewpractitionerForm:addNewPractitionerHeader 
							        :bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerCopyListForm:practitionerToCopyHeader 
							        :bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerCopyListForm:practitionersToCopyWrapper" />
					</mbs:selectOneMenu>
				</div>
			</h:panelGroup>

			<h:panelGroup id="addNewPractitionerWrapper" styleClass=" form-horizontal inquiryDetailWrapper">

				<div class="hide-elements panel panel-primary" id="addNewPractitionerInfoPanel">
					<div class="panel-heading" id="addNewPractitionerHeader">
						<h3 class="panel-title"></h3>
						<div>
							<h:outputText
								value="#{auditResultController.practitionerOfTypeRX == true ? msgs['header.audit.result.bulk.add.new.pharmacy'] : msgs['header.audit.result.bulk.add.new.practitioner']}" />
						</div>
					</div>
					<div class="panel-body" id="PractitionerAddNewWrapper">

						<!-- Provider/Pharmacy Number -->
						<mbs:input
							label="#{auditResultController.practitionerOfTypeRX == true ? msgs['common.label.pharm.id'] : msgs['common.label.practitioner.id']}"
							id="practitionerID" value="#{auditResultController.bulkCopyPractitionerSearchCriteria.practitionerNumber}"
							displayValidState="false" labelStyleClass="col-xs-12 col-md-2" inputStyleClass="col-xs-6 col-md-2"
							required="true" maxlength="6" fAttributeName="disableGrouping" fAttributeValue="true">
							<f:converter converterId="integerConverter" for="input" />
						</mbs:input>

						<!-- Subcategory Type -->
						<mbs:input label="#{msgs['common.label.subcategory']}" id="subTypeId"
							value="#{auditResultController.bulkCopyPractitionerSearchCriteria.subcategory}" displayValidState="false"
							labelStyleClass="col-xs-12 col-md-2" inputStyleClass="col-xs-6 col-md-2" required="true" disabled="true" />

						<!-- Button bar for the save and clear -->
						<mbs:commandButtonBar id="addNewAuditResultBtnBar">
							<mbs:commandButton id="auditResultAddBtn" value="#{msgs['button.add']}" type="primary" size="sm"
								action="#{auditResultController.executeAddPractitionerToCopyList}" immediate="false">
							</mbs:commandButton>
							<mbs:commandButton id="dssUnitValueClearBtn" value="#{msgs['button.clear']}" type="danger" size="sm">
								<f:ajax immediate="true" event="click" listener="#{auditResultController.executeClearAddNewPractitionerForm}"
									render=":bulkAuditResultsView:bulkCopyAuditResultPanel:practitionerAddNewpractitionerForm:practitionerID:input" />
							</mbs:commandButton>
						</mbs:commandButtonBar>
					</div>
				</div>
			</h:panelGroup>
		</h:form>

		<!-- Practitioners to copy table -->
		<h:form id="practitionerCopyListForm">

			<h:panelGroup id="prctitionersToCopyWrapper" styleClass="form-horizontal inquiryDetailWrapper">
				<div class="hide-elements panel panel-primary" id="practitionerAuditResultPanel">
					<div class="panel-heading" id="practitionerToCopyHeader">
						<h3 class="panel-title"></h3>
						<div>
							<h:outputText
								value="#{auditResultController.practitionerOfTypeRX == true ? msgs['header.audit.result.pharmacies.to.copy'] : msgs['header.audit.result.practitioners.to.copy']}" />
						</div>
					</div>
					<div class="panel-body" id="practitionersToCopyWrapper">
						<ace:dataTable id="practitionersToCopyTable" scrollable="false" paginator="true" paginatorPosition="bottom"
							var="row" styleClass="healthServicesTable table-horizontal-adjustment" rows="10"
							value="#{auditResultController.listOfPractitionerToCopy}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Practitioner/Pharm ID -->
							<ace:column id="practitionerID" filterBy="#{row.practitionerNumber}" filterMatchMode="contains"
								sortBy="#{row.practitionerNumber}"
								headerText="#{auditResultController.practitionerOfTypeRX == true ? msgs['common.label.pharm.id'] : msgs['common.label.practitioner.id']}">
								<h:outputText value="#{row.practitionerNumber}" />
							</ace:column>
							<!-- practitionerType -->
							<ace:column id="practitionerTypeCol" filterBy="#{row.practitionerType}" filterMatchMode="contains"
								sortBy="#{row.practitionerType}" headerText="#{msgs['common.label.subcategory']}" stacked="true">
								<h:outputText value="#{row.practitionerType}" />
							</ace:column>
							<!-- practitionerName -->
							<ace:column id="practitionerNameCol" filterBy="#{row.practitionerName}" filterMatchMode="contains"
								sortBy="#{row.practitionerName}"
								headerText="#{auditResultController.practitionerOfTypeRX == true ? msgs['common.label.org.name'] : msgs['common.label.practitioner.name']}">
								<h:outputText value="#{row.practitionerName}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- Gender (Not rendered for 'RX') -->
							<ace:column id="genderCol" filterBy="#{row.gender}" filterMatchMode="contains" sortBy="#{row.gender}"
								headerText="#{msgs['common.label.gender']}" rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.gender}" />
							</ace:column>
							<!-- birthDate (Not rendered for 'RX') -->
							<ace:column id="birthDateCol" filterBy="#{row.birthDateString}" filterMatchMode="contains"
								sortBy="#{row.birthDate}" headerText="#{msgs['common.label.birth.date']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.birthDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>
							<!-- address1 -->
							<ace:column id="addressLine1Col" filterBy="#{row.addressLine1}" filterMatchMode="contains"
								sortBy="#{row.addressLine1}" headerText="#{msgs['label.inquiry.practitioner.details.address.one']}">
								<h:outputText value="#{row.addressLine1}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- address2 -->
							<ace:column id="addressLine2Col" filterBy="#{row.addressLine2}" filterMatchMode="contains" stacked="true"
								sortBy="#{row.addressLine2}" headerText="#{msgs['label.inquiry.practitioner.details.address.two']}">
								<h:outputText value="#{row.addressLine2}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- city -->
							<ace:column id="cityCol" filterBy="#{row.city}" filterMatchMode="contains" sortBy="#{row.city}"
								headerText="#{msgs['common.label.city']}">
								<h:outputText value="#{row.city}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- country -->
							<ace:column id="countryCol" filterBy="#{row.country}" filterMatchMode="contains" sortBy="#{row.country}"
								headerText="#{msgs['common.label.country']}">
								<h:outputText value="#{row.country}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- postal code -->
							<ace:column id="postalCodeCol" filterBy="#{row.postalCode}" filterMatchMode="contains" sortBy="#{row.postalCode}"
								headerText="#{msgs['label.inquiry.practitioner.details.postal.code']}">
								<h:outputText value="#{row.postalCode}" styleClass="uppercaseOutput" />
							</ace:column>

							<ace:column id="removeCol">
								<mbs:commandButtonBar id="rvBtnBar" align="center" styleClass="removeBtnPanelMargin">
									<mbs:commandButton id="rvBtn" value="#{msgs['button.remove']}" type="danger"
										action="#{auditResultController.removePractitionerToCopy(row)}" size="xs" immediate="true" />
								</mbs:commandButtonBar>
							</ace:column>

						</ace:dataTable>
					</div>
				</div>
			</h:panelGroup>
		</h:form>


		<!-- Add New Audit result to copy panel -->
		<h:form id="newAuditResultToCopyForm">

			<h:panelGroup id="addNewAuditResultDetailWrapper" styleClass=" form-horizontal inquiryDetailWrapper">

				<div class=" hide-elements panel panel-primary" id="addNewAuditResultInfoPanel">
					<div class="panel-heading" id="addNewAuditResultInfoHeader">
						<h3 class="panel-title"></h3>
						<div>#{msgs['header.audit.result.add.new.audit.result']}</div>
					</div>
					<div class="panel-body" id="auditResultAddNewPanelBody">
						<div class="row">
							<div class="col-xs-12 col-sm-4">

								<!-- Auditor (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditPerson']}"
									id="newAuditToCopyAuditPerson" value="#{auditResultController.newAuditResultToCopy.auditPerson}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-3"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" required="true" maxlength="3">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- audit Reason (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditReason']}"
									id="newAuditToCopyAuditReason" value="#{auditResultController.newAuditResultToCopy.auditReason}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-3"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" maxlength="150"
									rendered="#{!auditResultController.practitionerOfTypeRX}">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- Health Service Code (Displayed for all types except 'RX') -->
								<!-- JTRAX-56 08-FEB-18 BCAINNE -->
								<table style="border-collapse: true" id="hcnLookupTable">
									<tr>
										<td width="*">
											<!-- Health Service Code (Displayed for all types except 'RX') -->
											<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.healthServiceCode']}" 
												rendered="#{!auditResultController.practitionerOfTypeRX}" id="newAuditToCopyHSCDrpDwn"
												value="#{auditResultController.newAuditResultToCopy.healthServiceCode}" displayValidState="false"
												labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" 
												maxlength="5" required="#{auditResultController.newAuditResultToCopy.auditType eq 'EA' or auditResultController.newAuditResultToCopy.auditType eq 'EAS'}">
												<f:converter converterId="uppercaseConverter" for="newAuditToCopyHSCDrpDwn" />
											</mbs:input>
										</td>
										<td style="padding-left:10px; vertical-align: top;" width="10%"> 
											<div class="mbs-btn btn btn-primary btn-inline btn-sm">
											<h:commandButton value="#{msgs['button.lookup']}" type="button">
												<f:ajax event="click" execute="newAuditToCopyHSCDrpDwn newAuditToCopyQualifier" listener="#{auditResultController.executeNewHSCLookup}" 
												render=":bulkAuditResultsView:bulkCopyAuditResultPanel:newAuditResultToCopyForm:newAuditToCopyAuditReason:input"/>
											</h:commandButton>
											</div>
										</td>
									</tr>
								</table>
								
								<!-- Quilifier (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="newAuditToCopyQualifier"
									label="#{msgs['header.audit.result.practitioner.table.search.result.qualifier']}"
									value="#{auditResultController.newAuditResultToCopy.qualifier}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<f:selectItems value="#{auditResultController.qualifiers.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.qualifier}" />
								</mbs:selectOneMenu>								
							</div>

							<!-- Second vertial columns group -->
							<div class="col-xs-12 col-sm-4">

								<!-- Pharm Source (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="newAuditToCopyAuditSourcePharm"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmSource']}"
									value="#{auditResultController.newAuditResultToCopy.auditSource}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" rendered="#{auditResultController.practitionerOfTypeRX}">
									<f:selectItems value="#{auditResultController.auditSourcePharm.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.pharmSource}" />
								</mbs:selectOneMenu>

								<!-- Audit Source (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="newAuditToCopyAuditSourceMed"
									label="#{msgs['header.audit.result.practitioner.table.search.result.auditSource']}"
									value="#{auditResultController.newAuditResultToCopy.auditSource}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<f:selectItems value="#{auditResultController.auditSourceMed.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.auditSource}" />
								</mbs:selectOneMenu>

								<!-- Audit type drop down list (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="newAuditToCopyAuditTypePharm" label="#{msgs['common.label.auditType']}" required="true"
									value="#{auditResultController.newAuditResultToCopy.auditType}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" rendered="#{auditResultController.practitionerOfTypeRX}">
									<f:selectItems value="#{auditResultController.auditRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.auditType}" />
								</mbs:selectOneMenu>

								<!-- Audit type drop down list (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="newAuditToCopyAuditTypeMed" label="#{msgs['common.label.auditType']}" required="true"
									value="#{auditResultController.newAuditResultToCopy.auditType}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<f:selectItems value="#{auditResultController.auditNonRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.auditType}" />
									<f:ajax event="change" render=":bulkAuditResultsView:bulkCopyAuditResultPanel:newAuditResultToCopyForm:hcnLookupTable" execute="@this"/>
								</mbs:selectOneMenu>

								<!-- Pharm type (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editPharmTypeDrpDwn" rendered="#{auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmType']}"
									value="#{auditResultController.newAuditResultToCopy.pharmType}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditPharmTypeCodes.entrySet()}" var="item"
										itemLabel="#{item.key}" itemValue="#{item.key}" for="#{auditResultController.newAuditResultToCopy.pharmType}" />
								</mbs:selectOneMenu>
							</div>

							<!-- Third vertical columns group -->
							<div class="col-xs-12 col-sm-4">

								<!-- Audit Date (Displayed regardless of Type) -->
								<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditDate']}" showOn="both"
									id="newAuditToCopyAuditDate" value="#{auditResultController.newAuditResultToCopy.auditDate}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-md-12 uppercaseInput" placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
									required="true" />

								<!-- Audit Start Date (Displayed for all types except 'RX') -->
								<h:panelGroup id="newAuditToCopyauditStartDatePanel" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar id="newAuditToCopyauditStartDate" showOn="both"
										label="#{msgs['header.audit.result.practitioner.table.search.result.auditStartDate']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-md-12 uppercaseInput"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
										value="#{auditResultController.newAuditResultToCopy.auditStartDate}" />
								</h:panelGroup>

								<!-- Audit End Date (Displayed for all types except 'RX') -->
								<h:panelGroup id="newAuditToCopyAuditEndDatePanel" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar id="newAuditToCopyAuditEndDate" showOn="both"
										label="#{msgs['header.audit.result.practitioner.table.search.result.auditEndDate']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-md-12 uppercaseInput"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
										value="#{auditResultController.newAuditResultToCopy.auditEndDate}" />
								</h:panelGroup>

								<!-- Interim Date (Displayed for all types except 'RX') -->
								<h:panelGroup id="newAuditToCopyinterimDatePanel" rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar id="newAuditToCopyinterimDate" showOn="both" required="true"
										label="#{msgs['header.audit.result.practitioner.table.search.result.interimDate']}"
										labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-md-12 uppercaseInput"
										placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
										value="#{auditResultController.newAuditResultToCopy.interimDate}" />
								</h:panelGroup>

								<!-- Final Contact Date (Displayed regardless of Type) -->
								<mbs:calendar id="newAuditToCopyfinalContactDate" showOn="both"
									label="#{msgs['header.audit.result.practitioner.table.search.result.finalContactDate']}"
									labelStyleClass="col-xs-12 col-sm-4 col-md-4" inputStyleClass="col-md-12 uppercaseInput"
									placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}"
									value="#{auditResultController.newAuditResultToCopy.finalContactDate}" required="true" />
							</div>
						</div>

						<!-- Button bar for the save  a new audit result -->
						<mbs:commandButtonBar id="addNewAuditResultBtnBar">
							<mbs:commandButton id="auditResultAddBtn" value="#{msgs['button.add']}" type="primary" size="sm"
								action="#{auditResultController.executeAddNewAuditResultToCopy}" />

							<mbs:commandButton id="dssUnitValueClearBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
								action="#{auditResultController.executeClearAddNewAuditResultToCopyForm}" immediate="true" />
						</mbs:commandButtonBar>
					</div>
				</div>
			</h:panelGroup>
		</h:form>


		<!-- New audit result list to copy  -->
		<h:form id="auditResultsToCopyForm">
			<h:panelGroup id="auditResultsToCopyWrapper" styleClass=" form-horizontal">

				<div class=" hide-elements panel panel-primary" id="auditResultsToAddPanel">
					<div class="panel-heading" id="auditResultToCopyHeader">
						<h3 class="panel-title"></h3>
						<div>#{msgs['header.audit.result.audit.result.to.copy']}</div>
					</div>
					<div class="panel-body" id="auditSearchResultPanelBody">
						<ace:dataTable id="practitionerAuditResultTable" scrollable="false" paginator="true" paginatorPosition="bottom"
							var="row" styleClass="healthServicesTable table-horizontal-adjustment" rows="10"
							value="#{auditResultController.listOfAuditResultToCopy}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- audit Date column -->
							<ace:column id="auditDateCol" filterBy="#{row.auditDateString}" filterMatchMode="contains"
								sortBy="#{row.auditDate}" headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditDate']}">
								<h:outputText value="#{row.auditDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>
							<!-- audit person column -->
							<ace:column id="auditPersonCol" filterBy="#{row.auditPerson}" filterMatchMode="contains"
								sortBy="#{row.auditPerson}" stacked="true"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditPerson']}">
								<h:outputText value="#{row.auditPerson}" styleClass="uppercaseOutput" />
							</ace:column>

							<!-- auditType -->
							<ace:column id="auditTypeCol" filterBy="#{row.auditType}" filterMatchMode="contains" sortBy="#{row.auditType}"
								headerText="#{msgs['common.label.auditType']}">
								<h:outputText value="#{row.auditType}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- auditSource -->
							<ace:column id="auditSourceCol" filterBy="#{row.auditSource}" filterMatchMode="contains"
								sortBy="#{row.auditSource}" stacked="true"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditSource']}">
								<h:outputText value="#{row.auditSource}" styleClass="uppercaseOutput" />
							</ace:column>

							<!-- Pharm Type column -->
							<ace:column id="pharmTypeCol" filterBy="#{row.pharmType}" filterMatchMode="contains" sortBy="#{row.pharmType}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.pharmType']}"
								rendered="#{auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.pharmType}" styleClass="uppercaseOutput" />
							</ace:column>

							<!-- Audit Start Date -->
							<ace:column id="auditStartDateCol" filterBy="#{row.auditStartDateString}" filterMatchMode="contains"
								sortBy="#{row.auditStartDate}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditStartDate']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.auditStartDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>
							<!-- Audit End Date -->
							<ace:column id="auditEndDateCol" filterBy="#{row.auditEndDateString}" filterMatchMode="contains"
								sortBy="#{row.auditEndDate}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditEndDate']}" stacked="true"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.auditEndDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Health Service Code -->
							<ace:column id="healthServiceCodeCol" filterBy="#{row.healthServiceCode}" filterMatchMode="contains"
								sortBy="#{row.healthServiceCode}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.healthServiceCode']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.healthServiceCode}" styleClass="uppercaseOutput" />
							</ace:column>
							<!-- Qualifier Code -->
							<ace:column id="qualifierCol" filterBy="#{row.qualifier}" filterMatchMode="contains" sortBy="#{row.qualifier}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.qualifier']}" stacked="true"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.qualifier}" styleClass="uppercaseOutput" />
							</ace:column>

							<!-- Interim Date -->
							<ace:column id="interimDateCol" filterBy="#{row.interimDateString}" filterMatchMode="contains"
								sortBy="#{row.interimDate}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.interimDate']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}">
								<h:outputText value="#{row.interimDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>
							<!-- Final contact Date column -->
							<ace:column id="finalContactDateCol" filterBy="#{row.finalContactDateString}" filterMatchMode="contains"
								sortBy="#{row.finalContactDate}" stacked="true"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.finalContactDate']}">
								<h:outputText value="#{row.finalContactDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Last Modified -->
							<ace:column id="lastModifiedCol" filterBy="#{row.lastModifiedString}" filterMatchMode="contains"
								sortBy="#{row.lastModified}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.lastModified']}">
								<h:outputText value="#{row.lastModified}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>
							<!-- Modified By column -->
							<ace:column id="modifiedByCol" filterBy="#{row.modifiedBy}" filterMatchMode="contains" sortBy="#{row.modifiedBy}"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.modifiedBy']}" stacked="true">
								<h:outputText value="#{row.modifiedBy}" styleClass="uppercaseOutput" />
							</ace:column>

							<ace:column id="removeCol">
								<mbs:commandButtonBar id="rvBtnBar" align="center" styleClass="removeBtnPanelMargin">
									<mbs:commandButton id="rvBtn" value="#{msgs['button.remove']}" type="danger"
										action="#{auditResultController.removeAuditResultToCopy(row)}" size="xs" immediate="true" />
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
			</h:panelGroup>
		</h:form>

		<h:form id="buttonForm">
			<h:panelGroup id="auditResultsToCopyWrapper" styleClass="form-horizontal">
				<div class="panel-body" id="auditSearchResultPanelBody">
					<mbs:commandButtonBar id="buttonBar">

						<mbs:commandButton id="practitionerBackBtn" value="#{msgs['button.back']}" type="primary" size="sm"
							action="#{auditResultController.executeGotoSelectSubgatetoryPage}"
							rendered="#{auditResultController.practitionerBackButtonDisplay}" />
						<mbs:commandButton id="backToPractitionerBtn" value="#{msgs['button.back']}" type="primary" size="sm"
							action="#{auditResultController.executeGotoBulkCopyPractitionerPage}"
							rendered="#{auditResultController.auditResultsBackBtnDisplay}" />
						<mbs:commandButton id="backToAuditResultBtn" value="#{msgs['button.back']}" type="primary" size="sm"
							action="#{auditResultController.executeGotoBulkCopyAddNewAuditResultPage}"
							rendered="#{auditResultController.summaryBackBtnDisplay}" />
						<mbs:commandButton id="practitionerNextBtn" value="#{msgs['button.next']}" type="primary" size="sm"
							action="#{auditResultController.executeGotoBulkCopyAddNewAuditResultPage}"
							rendered="#{auditResultController.practitionerNextButtonDisplay}"
							disabled="#{!auditResultController.canGotoAddingAuditResultPage}" />
						<mbs:commandButton id="goToAddSummaryBtn" value="#{msgs['button.next']}" type="primary" size="sm"
							action="#{auditResultController.executeGoToBulkCopySummaryPage}"
							rendered="#{auditResultController.auditResultsNextBtnDisplay}"
							disabled="#{!auditResultController.canGotoSummaryPage}" />

						<!-- Perform Bulk Copy button -->
						<mbs:commandButton id="bulkCopyBtn" value="#{msgs['button.bulk.copy']}" type="danger" size="sm"
							action="#{auditResultController.executeBulkCopy}" rendered="#{auditResultController.bulkCopyButtonDisplay}"
							disabled="#{!auditResultController.canDoBulkCopy}" />

						<!-- Begin new Bulk Copy button -->
						<mbs:commandButton id="backToNewCopyBtn" value="#{msgs['button.bulk.back.to.new.copy']}" type="danger" size="sm"
							action="#{auditResultController.executeGotoSelectSubgatetoryPage}"
							rendered="#{auditResultController.backToNewbulkCopyButtonDisplay}" />
					</mbs:commandButtonBar>
				</div>
			</h:panelGroup>
		</h:form>

	</mbs:panel>


	<script>
		$(document).ready(function() {
			$("#bulkAuditResultsView\\:bulkCopyAuditResultPanel\\:newAuditResultToCopyForm\\:addNewAuditResultBtnBar\\:dssUnitValueClearBtn\\:commandButton").click(function() {
				resetBulkCopyAddAuditResultForm("bulkAuditResultsView\\:bulkCopyAuditResultPanel\\:newAuditResultToCopyForm");
			});
		});
	</script>


</ui:composition>