<ui:composition xmlns="http://www.w3.org/1999/xhtml" xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core" xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components" xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:mbs="http://ca.medavie.bootstrap/taglib">

	<!-- Page styling class for labels and fields -->
	<ui:param name="labelStyle" value="col-xs-2" />
	<ui:param name="inputStyle" value="col-sm-3" />

	<mbs:panel header="#{msgs['header.audit.result.search']}" id="searchAuditResultPanel">

		<!-- Practitioner search window -->
		<h:form id="practitionerResultSearchForm" styleClass="form-horizontal">
			<!-- JTRAX-62 07-MAR-18 BCAINNE -->
			<icecore:defaultAction action="#{auditResultController.executePractitionerSearch}" key="Enter"/>
		
			<ace:tabSetProxy id="postAuditTab" for="#{auditResultProxyTabSet.clientId}" />

			<!--Provider number -->
			<mbs:input id="providerNumber" label="#{msgs['common.label.provider.id']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{auditResultController.practitionerSearchCriteria.practitionerNumber}"
				maxlength="6" fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Subcategory Type Criteria dropdown -->
			<mbs:selectOneMenu id="subTypeCriteriaDrp" label="#{msgs['common.label.subcategory']}"
				value="#{auditResultController.practitionerSearchCriteria.subcategory}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{auditResultController.subcategoryDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.key}-#{item.value.typeDesc}" itemValue="#{item.key}"
					for="#{auditResultController.practitionerSearchCriteria.subcategory}" />
			</mbs:selectOneMenu>

			<!-- Provider name -->
			<mbs:input id="practitionerName" label="#{msgs['common.label.provider.name']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{auditResultController.practitionerSearchCriteria.practitionerName}"
				maxlength="85" />

			<!-- City -->
			<mbs:input id="city" label="#{msgs['common.label.city']}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}" value="#{auditResultController.practitionerSearchCriteria.city}" maxlength="30" />

			<!-- Specialty dropdown -->
			<mbs:selectOneMenu id="specialtyDrp" label="#{msgs['common.label.specialty']}"
				value="#{auditResultController.practitionerSearchCriteria.specialty}" labelStyleClass="#{labelStyle}"
				inputStyleClass="#{inputStyle}">
				<f:selectItems value="#{auditResultController.specialtyDropdownItems.entrySet()}" var="item"
					itemLabel="#{item.value.specialtyDesc}" itemValue="#{item.key}"
					for="#{auditResultController.practitionerSearchCriteria.specialty}" />
			</mbs:selectOneMenu>

			<!-- license number -->
			<mbs:input id="licenseNumber" label="#{msgs['label.audit.result.search.practitioner.license.number']}"
				labelStyleClass="#{labelStyle}" inputStyleClass="#{inputStyle}"
				value="#{auditResultController.practitionerSearchCriteria.liscenseNumber}" maxlength="9"
				fAttributeName="disableGrouping" fAttributeValue="true">
				<f:converter converterId="integerConverter" for="input" />
			</mbs:input>

			<!-- Search form buttons -->
			<mbs:commandButtonBar id="searchFormButtons">
				<mbs:commandButton value="#{msgs['button.search']}" type="primary"
					action="#{auditResultController.executePractitionerSearch}" size="sm" />
				<mbs:commandButton value="#{msgs['button.clear']}" type="danger"
					action="#{auditResultController.executeClearAuditSearch}" size="sm" />
			</mbs:commandButtonBar>

			<!-- Displays Practitioner search results -->
			<h:panelGroup id="auditResultSearchResults"
				styleClass="#{auditResultController.practitionerSearchResults.isEmpty() ? 'hide-elements' : ''}">
				<hr />
				<h4>
					<h:outputText value="#{msgs['header.common.search.results']}" />
				</h4>

				<ace:dataTable rows="20" paginator="true" paginatorPosition="bottom" var="row"
					styleClass="table-horizontal-adjustment" emptyMessage="#{msgs['common.label.no.results']}"
					value="#{auditResultController.practitionerSearchResults}">

					<!-- Sets the filter delay -->
					<ace:ajax event="filter"
						onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

					<!-- practitionerNumber column -->
					<ace:column id="practitionerNumberCol" filterBy="#{row.practitionerNumber}" filterMatchMode="contains"
						sortBy="#{row.practitionerNumber}"
						headerText="#{auditResultController.practitionerSearchCriteria.subcategory == 'RX' ? msgs['common.label.pharm.id'] : msgs['common.label.practitioner.id']}">
						<h:outputText value="#{row.practitionerNumber}" />
					</ace:column>

					<!-- Subcategory column -->
					<ace:column id="subcategoryCol" filterBy="#{row.practitionerType}" filterMatchMode="contains"
						sortBy="#{row.practitionerType}" headerText="#{msgs['common.label.subcategory']}">
						<h:outputText value="#{row.practitionerType}" />
					</ace:column>

					<!-- practitionerName column -->
					<ace:column id="practitionerNameCol" filterBy="#{row.practitionerName}" filterMatchMode="contains"
						sortBy="#{row.practitionerName}"
						headerText="#{auditResultController.practitionerSearchCriteria.subcategory == 'RX' ? msgs['common.label.pharm.name'] : msgs['common.label.practitioner.name']}">
						<h:outputText value="#{row.practitionerName}" />
					</ace:column>

					<!-- city column -->
					<ace:column id="cityCol" filterBy="#{row.city}" filterMatchMode="contains" sortBy="#{row.city}"
						headerText="#{msgs['common.label.city']}">
						<h:outputText value="#{row.city}" />
					</ace:column>

					<!-- View/Edit column -->
					<ace:column id="editCol">
						<mbs:commandButtonBar align="center">
							<mbs:commandButton value="#{msgs['button.view']}" type="primary" size="xs"
								action="#{auditResultController.executeViewAuditResultPanel(row)}" />
						</mbs:commandButtonBar>
					</ace:column>
				</ace:dataTable>
			</h:panelGroup>
		</h:form>

		<h:panelGroup id="addNewAuditResultWrapper" styleClass="hide-elements form-horizontal inquiryDetailWrapper">

			<!-- Add New Practitioner Audit result panel -->
			<h:form id="practitionerAddNewAuditResultForm"
				rendered="#{roleBasedAccessSupport.hasRole('Admin-AuditResultsUpdate')}">
				<div class="panel panel-primary" id="addNewAuditResultInfoPanel">
					<div class="panel-heading expandDiv" id="addNewAuditResultInfoHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandAddNewAuditResultInfo" class="fa fa-plus-circle"></i>
							#{msgs['header.audit.result.add.new.audit.result']}
						</div>
					</div>
					<div class="panel-body hide-elements" id="auditResultAddNewPanelBody">
						<div class="row">
							<div class="col-xs-10 col-sm-4">

								<!-- Auditor (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditPerson']}"
									id="editAuditPerson" value="#{auditResultController.newAuditResultToAdd.auditPerson}" displayValidState="false"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
									required="true" maxlength="3">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- Audit Date (Displayed regardless of Type) -->
								<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditDate']}" required="true"
									id="editAuditDate" labelStyleClass="col-xs-12 col-sm-4 col-md-4" placeholder="#{dateFormatPlaceholder}"
									displayValidState="false" renderAsPopup="true" showOn="both" pattern="#{dateFormat}"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
									value="#{auditResultController.newAuditResultToAdd.auditDate}">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:calendar>


								<!-- Audit Start Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditStartDate']}"
										displayValidState="false" id="editAuditStartDate" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										placeholder="#{dateFormatPlaceholder}" renderAsPopup="true" showOn="both" pattern="#{dateFormat}"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.newAuditResultToAdd.auditStartDate}">
										<f:converter converterId="uppercaseConverter" for="input" />
									</mbs:calendar>
								</h:panelGroup>

								<!-- Audit End Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditEndDate']}"
										displayValidState="false" id="editAuditEndDate" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										placeholder="#{dateFormatPlaceholder}" renderAsPopup="true" showOn="both" pattern="#{dateFormat}"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.newAuditResultToAdd.auditEndDate}">
										<f:converter converterId="uppercaseConverter" for="input" />
									</mbs:calendar>
								</h:panelGroup>

								<!-- Interim Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.interimDate']}"
										displayValidState="false" id="editInterimDate" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										placeholder="#{dateFormatPlaceholder}" renderAsPopup="true" required="true" showOn="both"
										pattern="#{dateFormat}" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.newAuditResultToAdd.interimDate}">
										<f:converter converterId="uppercaseConverter" for="input" />
									</mbs:calendar>
								</h:panelGroup>

								<!-- Final Contact Date (Displayed regardless of Type) -->
								<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.finalContactDate']}"
									displayValidState="false" id="editFinalContactDate" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
									placeholder="#{dateFormatPlaceholder}" required="true" renderAsPopup="true" showOn="both"
									pattern="#{dateFormat}" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
									value="#{auditResultController.newAuditResultToAdd.finalContactDate}">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:calendar>
							</div>

							<!-- Second vertial columns group -->
							<div class="col-xs-10 col-sm-4">

								<!-- Number of Services Audited (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.NSA']}" id="editNSA"
									required="true" value="#{auditResultController.newAuditResultToAdd.numberOfServicesAudited}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>

								<!-- Audit Recovery Amount (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditRecoveryAmount']}"
									required="true" id="editRA" value="#{auditResultController.newAuditResultToAdd.auditRecoveryAmount}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="currencyConverter" for="input" />
								</mbs:input>

								<!-- Audit Reason (Displayed for all types except 'RX') -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditReason']}"
									rendered="#{!auditResultController.practitionerOfTypeRX}" id="editEditAuditReasonA"
									value="#{auditResultController.newAuditResultToAdd.auditReason}" displayValidState="false"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
									maxlength="150">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- Number of Inappropriately Billed Services (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.NOIBS']}" id="editNIBA"
									required="true" value="#{auditResultController.newAuditResultToAdd.inappropriatlyBilledServices}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>
							</div>

							<!-- Third vertial columns group -->
							<div class="col-xs-10 col-sm-4">

								<!-- Audit Source (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="editAuditSourceMED" rendered="#{!auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.auditSource']}"
									value="#{auditResultController.newAuditResultToAdd.auditSource}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditSourceMed.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToAdd.auditSource}" />
								</mbs:selectOneMenu>

								<!-- pharm Source (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editPharmSource" rendered="#{auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmSource']}"
									value="#{auditResultController.newAuditResultToAdd.pharmSource}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditSourcePharm.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.pharmSource}" />
								</mbs:selectOneMenu>

								<!-- Audit type drop down list (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editAuditTypeRX" rendered="#{auditResultController.practitionerOfTypeRX}" required="true"
									label="#{msgs['common.label.auditType']}" value="#{auditResultController.newAuditResultToAdd.auditType}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToAdd.auditType}" />
								</mbs:selectOneMenu>

								<!-- Audit type (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="editNonAuditTypeRX" rendered="#{!auditResultController.practitionerOfTypeRX}"
									required="true" label="#{msgs['common.label.auditType']}"
									value="#{auditResultController.newAuditResultToAdd.auditType}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditNonRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToAdd.auditType}" />
									<f:ajax event="change" render=":editAuditResultsView:searchAuditResultPanel:practitionerAddNewAuditResultForm:hcnLookupTable" execute="@this"/>	
								</mbs:selectOneMenu>

								<!-- Pharm type (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editPharmTypeDrpDwn" rendered="#{auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmType']}"
									value="#{auditResultController.newAuditResultToAdd.pharmType}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditPharmTypeCodes.entrySet()}" var="item"
										itemLabel="#{item.key}" itemValue="#{item.key}" for="#{auditResultController.newAuditResultToAdd.pharmType}" />
								</mbs:selectOneMenu>

								<!-- JTRAX-56 08-FEB-18 BCAINNE -->
								<table style="border-collapse: true" id="hcnLookupTable">
									<tr>
										<td width="*">
											<!-- Health Service Code (Displayed for all types except 'RX') -->
											<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.healthServiceCode']}" 
												rendered="#{!auditResultController.practitionerOfTypeRX}" id="editHSCDrpDwn"
												value="#{auditResultController.newAuditResultToAdd.healthServiceCode}" displayValidState="false"
												labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" 
												maxlength="5" required="#{auditResultController.newAuditResultToAdd.auditType eq 'EA' or auditResultController.newAuditResultToAdd.auditType eq 'EAS'}">
												<f:converter converterId="uppercaseConverter" for="editHSCDrpDwn" />
											</mbs:input>
										</td>
										<td style="padding-left:10px; vertical-align: top;" width="10%"> 
											<div class="mbs-btn btn btn-primary btn-inline btn-sm">
											<h:commandButton value="#{msgs['button.lookup']}" type="button">
												<f:ajax event="click" execute="editHSCDrpDwn editQualifier" listener="#{auditResultController.executeHSCLookup}" 
												render=":editAuditResultsView:searchAuditResultPanel:practitionerAddNewAuditResultForm:editEditAuditReasonA:input"/>
											</h:commandButton>
											</div>
										</td>
									</tr>
								</table>																	
								
								<!-- Qualifier (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="editQualifier" rendered="#{!auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.qualifier']}"
									value="#{auditResultController.newAuditResultToAdd.qualifier}" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.qualifiers.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.newAuditResultToAdd.qualifier}" />
								</mbs:selectOneMenu>
							</div>

						</div>

						<!-- Button bar for the save  a new audit result -->
						<mbs:commandButtonBar id="addNewAuditResultBtnBar">
							<mbs:commandButton id="auditResultAddBtn" value="#{msgs['button.save']}" type="primary" size="sm"
								action="#{auditResultController.executeAddNewAuditResult}">
							</mbs:commandButton>
							<mbs:commandButton id="dssUnitValueClearBtn" value="#{msgs['button.clear']}" type="danger" size="sm"
								action="#{auditResultController.executeClearAddNewValue}" immediate="true" />
						</mbs:commandButtonBar>
					</div>
				</div>
			</h:form>

			<!-- Audit Result panel -->
			<!-- Business says: For Subcategory (provider_type) = "RX", here are the fields that should be visible to the user: provider_number
		   		provider_type
				audit_date
				audit_person
				audit_type
				pharm_type
				pharm_source
				final_contact_date
				audit_recovery_amount
				number_of_services_audited
				inappropriatly_billed_services
				last_modified
				modified_by
				
				For Subcategory Types for all others, here are the fields that should be visible to the user:
				provider_number
				provider_type
				audit_date
				audit_person
				audit_type
				health_service_code
				qualifier
				audit_source
				state
				audit_start_date
				audit_end_date
				interim_date
				final_contact_date
				audit_reason
				audit_recovery_amount
				number_of_services_audited
				inappropriatly_billed_services
				last_modified
				modified_by
				-->

			<h:form id="practitionerAuditResultForm">
				<h5>
					<h:outputText
						value="#{msgs['header.audit.result']} #{auditResultController.selectedPractitioner.practitionerNumber} #{auditResultController.selectedPractitioner.practitionerType} - #{auditResultController.selectedPractitioner.practitionerName}" />
				</h5>

				<div class="panel panel-primary" id="practitionerAuditResultPanel">
					<div class="panel-heading expandDiv" id="practitionerAuditResultHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandPractitionerAuditResult" class="fa fa-minus-circle"></i>
							<h:outputText rendered="#{!auditResultController.practitionerOfTypeRX}"
								value=" #{msgs['header.audit.result.practitioner.audit.search.results']}" />
							<h:outputText rendered="#{auditResultController.practitionerOfTypeRX}"
								value=" #{msgs['header.audit.result.pharmacy.audit.search.results']}" />
						</div>
					</div>
					<div class="panel-body" id="auditSearchResultPanelBody">
					
						<ace:dataTable id="practitionerAuditResultTable" scrollable="false" paginator="true" paginatorPosition="bottom"
							var="row" styleClass="healthServicesTable table-horizontal-adjustment" rows="10" singleSort="true"
							value="#{auditResultController.listOfAuditResultToEdit}" selectionMode="multiple" stateMap="#{auditResultController.auditResultMap}">

							<!-- Sets the filter delay -->
							<ace:ajax event="filter"
								onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />

							<!-- Note indicator column. Icon displayed if notes are present for this Audit Result -->
							<ace:column id="noteIndicatorCol">
								<h:panelGroup id="noteIndicatorWrapper" rendered="#{!row.notes.isEmpty()}">
									<i id="noteIndicator" class="fa fa-envelope" />
								</h:panelGroup>
							</ace:column>

							<ace:column id="attachmentIndicatorCol">
								<h:panelGroup id="attachmentIndicatorWrapper" rendered="#{!row.attachments.isEmpty()}">
									<i id="attachmentIndicator" class="fa fa-paperclip" />
								</h:panelGroup>
							</ace:column>

							<!-- Audit Date column (Displayed regardless of Type) -->
							<ace:column id="auditDateCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditDate']}" sortBy="#{row.auditDate}"
								filterBy="#{row.auditDateString}" filterMatchMode="contains" sortPriority="1" sortAscending="false">
								<h:outputText value="#{row.auditDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Auditor column (Displayed regardless of Type) -->
							<ace:column id="auditPersonCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditPerson']}"
								sortBy="#{row.auditPerson}" filterBy="#{row.auditPerson}" filterMatchMode="contains" stacked="true">
								<h:outputText value="#{row.auditPerson}" />
							</ace:column>

							<!-- Audit Type column (Displayed regardless of Type) -->
							<ace:column id="auditTypeCol" headerText="#{msgs['label.audit.crit.audit.type']}" sortBy="#{row.auditType}"
								filterBy="#{row.auditType}" filterMatchMode="contains">
								<h:outputText value="#{row.auditType}" />
							</ace:column>

							<!-- Audit Source column (Displayed for all types except 'RX') -->
							<ace:column id="auditSourceCol" stacked="true"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditSource']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" sortBy="#{row.auditSource}"
								filterBy="#{row.auditSource}" filterMatchMode="contains">
								<h:outputText value="#{row.auditSource}" />
							</ace:column>

							<!-- Pharm Type column (Displayed only for type 'RX') -->
							<ace:column id="pharmTypeCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.pharmType']}"
								rendered="#{auditResultController.practitionerOfTypeRX}" sortBy="#{row.pharmType}" filterBy="#{row.pharmType}"
								filterMatchMode="contains">
								<h:outputText value="#{row.pharmType}" />
							</ace:column>

							<!-- Pharm Source column (Displayed only for type 'RX') -->
							<ace:column id="pharmSourceCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.pharmSource']}"
								rendered="#{auditResultController.practitionerOfTypeRX}" stacked="true" sortBy="#{row.pharmSource}"
								filterBy="#{row.pharmSource}" filterMatchMode="contains">
								<h:outputText value="#{row.pharmSource}" />
							</ace:column>

							<!-- Audit Start Date column (Displayed for all types except 'RX') -->
							<ace:column id="auditStartDateCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditStartDate']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" sortBy="#{row.auditStartDate}"
								filterBy="#{row.auditStartDateString}" filterMatchMode="contains">
								<h:outputText value="#{row.auditStartDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Audit End Date column (Displayed for all types except 'RX') -->
							<ace:column id="auditEndDateCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditEndDate']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" stacked="true" sortBy="#{row.auditEndDate}"
								filterBy="#{row.auditEndDateString}" filterMatchMode="contains">
								<h:outputText value="#{row.auditEndDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Audit Reason (Displayed for all types except 'RX') -->
							<ace:column id="auditReasonCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditReason']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" sortBy="#{row.auditReason}"
								filterBy="#{row.auditReason}" filterMatchMode="contains">
								<h:outputText value="#{row.auditReason}" />
							</ace:column>

							<!-- Health Service Code column (Displayed for all types except 'RX') -->
							<ace:column id="healthServiceCodeCol" headerText="#{msgs['common.label.hsc']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" sortBy="#{row.healthServiceCode}"
								filterBy="#{row.healthServiceCode}" filterMatchMode="contains">
								<h:outputText value="#{row.healthServiceCode}" />
							</ace:column>

							<!-- Qualifier column (Displayed for all types except 'RX') -->
							<ace:column id="qualifierCol" headerText="#{msgs['common.label.qualifier']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" stacked="true" sortBy="#{row.qualifier}"
								filterBy="#{row.qualifier}" filterMatchMode="contains">
								<h:outputText value="#{row.qualifier}" />
							</ace:column>

							<!-- Interim Date column (Displayed for all types except 'RX') -->
							<ace:column id="interimDateCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.interimDate']}"
								rendered="#{!auditResultController.practitionerOfTypeRX}" sortBy="#{row.interimDate}"
								filterBy="#{row.interimDateString}" filterMatchMode="contains">
								<h:outputText value="#{row.interimDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Final contact Date column  -->
							<ace:column id="finalContactDateCol" stacked="true"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.finalContactDate']}"
								sortBy="#{row.finalContactDate}" filterBy="#{row.finalContactDateString}" filterMatchMode="contains">
								<h:outputText value="#{row.finalContactDate}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Audit Recovery Amount column (Displayed regardless of Type) -->
							<ace:column id="auditRecoveryAmountCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.auditRecoveryAmount']}"
								sortBy="#{row.auditRecoveryAmount}" filterBy="#{row.auditRecoveryAmount}" filterMatchMode="contains">
								<h:outputText value="#{row.auditRecoveryAmount}">
									<f:convertNumber maxFractionDigits="2" groupingUsed="true" currencySymbol="" type="currency" />
								</h:outputText>
							</ace:column>

							<!-- Number of Services Audit column (Displayed regardless of Type) -->
							<ace:column id="numberOfServicesAuditedCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.NSA']}"
								sortBy="#{row.numberOfServicesAudited}" filterBy="#{row.numberOfServicesAudited}" filterMatchMode="contains">
								<h:outputText value="#{row.numberOfServicesAudited}">
									<f:converter converterId="integerConverter" />
								</h:outputText>
							</ace:column>

							<!-- Inappropriatly Billed Services column (Displayed regardless of Type) -->
							<ace:column id="inappropriatlyBilledServicesCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.NOIBS']}" stacked="true"
								sortBy="#{row.inappropriatlyBilledServices}" filterBy="#{row.inappropriatlyBilledServices}"
								filterMatchMode="contains">
								<h:outputText value="#{row.inappropriatlyBilledServices}">
									<f:converter converterId="integerConverter" />
								</h:outputText>
							</ace:column>

							<!-- Last Modified Date column (Displayed regardless of Type) -->
							<ace:column id="lastModifiedCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.lastModified']}"
								sortBy="#{row.lastModified}" filterBy="#{row.lastModifiedString}" filterMatchMode="contains">
								<h:outputText value="#{row.lastModified}" styleClass="uppercaseOutput">
									<f:convertDateTime pattern="#{dateTimeFormat}" />
								</h:outputText>
							</ace:column>

							<!-- Modified By column (Displayed regardless of Type) -->
							<ace:column id="modifiedByCol"
								headerText="#{msgs['header.audit.result.practitioner.table.search.result.modifiedBy']}"
								sortBy="#{row.modifiedBy}" filterBy="#{row.modifiedBy}" filterMatchMode="contains" stacked="true">
								<h:outputText value="#{row.modifiedBy}" />
							</ace:column>

							<ace:column id="editCol" rendered="#{roleBasedAccessSupport.hasRole('Admin-AuditResultsUpdate')}">
								<mbs:commandButtonBar align="center">
									<mbs:commandButton value="#{msgs['button.edit']}" type="primary" size="xs"
										action="#{auditResultController.executeEditAuditResultPanel(row)}" />
									<br/><br/>
								</mbs:commandButtonBar>
							</ace:column>
						</ace:dataTable>
					</div>
				</div>
				<mbs:commandButtonBar id="auditResultsBtnPanel">
					<mbs:commandButton id="cancelAuditResultChangesBtn" value="#{msgs['common.label.cancel.back.to.search']}"
						type="danger" size="sm" action="#{auditResultController.executeReturnToAuditResultSearch}" />
					<!-- JTRAX-61 22-FEB-18 BCAINNE -->
					<mbs:commandButton value="#{msgs['button.delete.selected']}" type="danger" size="sm" action="#{auditResultController.deleteSelectedAuditResults}" 					 
						rendered="#{roleBasedAccessSupport.hasDeleteRecordAuditNotes()}"/>
				</mbs:commandButtonBar>
			</h:form>
		</h:panelGroup>


		<h:panelGroup id="auditResultEditWrapper" styleClass="hide-elements form-horizontal inquiryDetailWrapper">
			<!-- Edit panel for Audit Result Info-->
			<h:form id="auditResultInfoEditForm">
				<div class="panel panel-primary" id="editAuditResultInfoPanel">
					<div class="panel-heading" id="editAuditResultInfoHeader">
						<h3 class="panel-title"></h3>
						<div>
							<i id="expandEditAuditResultInfo"></i> #{auditResultController.selectedPractitioner.practitionerNumber}
							#{auditResultController.selectedPractitioner.practitionerType} -
							#{auditResultController.selectedPractitioner.practitionerName}
						</div>
					</div>
					<div class="panel-body" id="auditResultInfoEditPanelBody">
						<div class="row">
							<div class="col-xs-10 col-sm-4">

								<!-- Practitioner ID + Subcategory (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['common.label.practitioner']}" id="editProviderNumber"
									value="#{auditResultController.selectedAuditResultToEdit.providerNumber} #{auditResultController.selectedAuditResultToEdit.providerType}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" disabled="true" />

								<!-- Audit person (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditPerson']}"
									id="editAuditPerson" value="#{auditResultController.selectedAuditResultToEdit.auditPerson}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" required="true" maxlength="3">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- Audit Start Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditStartDate']}"
										displayValidState="false" id="auditStartDateInput" placeholder="#{dateFormatPlaceholder}" renderAsPopup="true"
										showOn="both" pattern="#{dateFormat}" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.selectedAuditResultToEdit.auditStartDate}">
									</mbs:calendar>
								</h:panelGroup>

								<!-- Audit End Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditEndDate']}"
										displayValidState="false" id="auditEndDateInput" placeholder="#{dateFormatPlaceholder}" renderAsPopup="true"
										showOn="both" pattern="#{dateFormat}" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.selectedAuditResultToEdit.auditEndDate}">
									</mbs:calendar>
								</h:panelGroup>

								<!-- Interim Date (Displayed for all types except 'RX') -->
								<h:panelGroup rendered="#{!auditResultController.practitionerOfTypeRX}">
									<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.interimDate']}"
										required="true" displayValidState="false" id="interimDateInput" placeholder="#{dateFormatPlaceholder}"
										renderAsPopup="true" showOn="both" pattern="#{dateFormat}" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
										inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput"
										value="#{auditResultController.selectedAuditResultToEdit.interimDate}">
									</mbs:calendar>
								</h:panelGroup>

								<!-- Final Contact Date (Displayed regardless of Type) -->
								<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.finalContactDate']}"
									displayValidState="false" id="finalContactToInput" placeholder="#{dateFormatPlaceholder}" renderAsPopup="true"
									showOn="both" pattern="#{dateFormat}" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" required="true"
									value="#{auditResultController.selectedAuditResultToEdit.finalContactDate}">
								</mbs:calendar>
							</div>

							<!-- Second vertial columns group -->
							<div class="col-xs-10 col-sm-4">

								<!-- Audit Date (Displayed regardless of Type) -->
								<mbs:calendar label="#{msgs['header.audit.result.practitioner.table.search.result.auditDate']}"
									id="editAuditDate" value="#{auditResultController.selectedAuditResultToEdit.auditDate}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-4 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" renderAsPopup="true" showOn="both"
									placeholder="#{dateFormatPlaceholder}" pattern="#{dateFormat}" required="true" />

								<!-- Number of Services Audited (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.NSA']}" id="editNSA"
									required="true" value="#{auditResultController.selectedAuditResultToEdit.numberOfServicesAudited}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>

								<!-- Audit Recovery Amount (Displayed regardless of Type)-->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditRecoveryAmount']}"
									id="editRA" value="#{auditResultController.selectedAuditResultToEdit.auditRecoveryAmount}"
									displayValidState="false" required="true" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="currencyConverter" for="input" />
								</mbs:input>

								<!-- audit Reason (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.auditReason']}"
									id="editEditAuditReasonB" value="#{auditResultController.selectedAuditResultToEdit.auditReason}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" maxlength="150">
									<f:converter converterId="uppercaseConverter" for="input" />
								</mbs:input>

								<!-- Number of Inappropriately Billed Services (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.NOIBS']}" id="editNIBA"
									required="true" value="#{auditResultController.selectedAuditResultToEdit.inappropriatlyBilledServices}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:converter converterId="integerConverter" for="input" />
								</mbs:input>
							</div>

							<!-- Third vertial columns group -->
							<div class="col-xs-10 col-sm-4">

								<!-- Audit Source (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="editAuditSourceMED" rendered="#{!auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.auditSource']}"
									value="#{auditResultController.selectedAuditResultToEdit.auditSource}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditSourceMed.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.auditSource}" />
								</mbs:selectOneMenu>

								<!-- Pharm Source (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editAuditSourcePharm" rendered="#{auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmSource']}"
									value="#{auditResultController.selectedAuditResultToEdit.pharmSource}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditSourcePharm.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.pharmSource}" />
								</mbs:selectOneMenu>

								<!-- Audit type drop down (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editAuditTypeRX" label="#{msgs['common.label.auditType']}"
									rendered="#{auditResultController.practitionerOfTypeRX}" required="true"
									value="#{auditResultController.selectedAuditResultToEdit.auditType}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.auditType}" />
								</mbs:selectOneMenu>

								<!-- Audit type drop down list (Displayed for all types except of type 'RX') -->
								<mbs:selectOneMenu id="editNonAuditTypeRX" label="#{msgs['common.label.auditType']}"
									rendered="#{!auditResultController.practitionerOfTypeRX}" required="true"
									value="#{auditResultController.selectedAuditResultToEdit.auditType}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditNonRXTypes.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.auditType}" />
									<f:ajax event="change" render=":editAuditResultsView:searchAuditResultPanel:auditResultInfoEditForm:hcnEditLookupTable" execute="@this"/>											
								</mbs:selectOneMenu>

								<!-- Pharm type (Displayed only for type 'RX') -->
								<mbs:selectOneMenu id="editPharmTypeDrpDwn" rendered="#{auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.pharmType']}"
									value="#{auditResultController.selectedAuditResultToEdit.pharmType}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.auditPharmTypeCodes.entrySet()}" var="item"
										itemLabel="#{item.key}" itemValue="#{item.key}"
										for="#{auditResultController.selectedAuditResultToEdit.pharmType}" />
								</mbs:selectOneMenu>

								<!-- JTRAX-56 08-MAR-18 BCAINNE -->
								<table style="border-collapse: true" id="hcnEditLookupTable">
									<tr>
										<td width="*">
											<!-- Health Service Code (Displayed for all types except 'RX') -->
											<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.healthServiceCode']}" 
												rendered="#{!auditResultController.practitionerOfTypeRX}" id="editHSCDrpDwn"
												value="#{auditResultController.selectedAuditResultToEdit.healthServiceCode}" displayValidState="false"
												labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" 
												maxlength="5" required="#{auditResultController.selectedAuditResultToEdit.auditType eq 'EA' or auditResultController.selectedAuditResultToEdit.auditType eq 'EAS'}">
												<f:converter converterId="uppercaseConverter" for="editHSCDrpDwn" />
											</mbs:input>
										</td>
										<td style="padding-left:10px; vertical-align: top;" width="10%"> 
											<div class="mbs-btn btn btn-primary btn-inline btn-sm">
											<h:commandButton value="#{msgs['button.lookup']}" type="button">
												<f:ajax event="click" execute="editHSCDrpDwn editQualifier" listener="#{auditResultController.executeEditHSCLookup}" 
												render=":editAuditResultsView:searchAuditResultPanel:auditResultInfoEditForm:editEditAuditReasonB:input"/>
											</h:commandButton>
											</div>
										</td>
									</tr>
								</table>								

								<!-- Quilifier (Displayed for all types except 'RX') -->
								<mbs:selectOneMenu id="editQualifier" rendered="#{!auditResultController.practitionerOfTypeRX}"
									label="#{msgs['header.audit.result.practitioner.table.search.result.qualifier']}"
									value="#{auditResultController.selectedAuditResultToEdit.qualifier}"
									labelStyleClass="col-xs-12 col-sm-6 col-md-4" inputStyleClass="col-xs-6 col-sm-8 col-md-8">
									<f:selectItems value="#{auditResultController.qualifiers.entrySet()}" var="item" itemLabel="#{item.key}"
										itemValue="#{item.key}" for="#{auditResultController.selectedAuditResultToEdit.qualifier}" />
								</mbs:selectOneMenu>

								<!-- Modified By (Displayed regardless of Type) -->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.modifiedBy']}"
									id="editModifiedBy" value="#{auditResultController.selectedAuditResultToEdit.modifiedBy}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8" required="true" disabled="true" />

								<!-- Last modified (Displayed regardless of Type)-->
								<mbs:input label="#{msgs['header.audit.result.practitioner.table.search.result.lastModified']}"
									id="lastModifiedOutPut" value="#{auditResultController.selectedAuditResultToEdit.lastModified}"
									displayValidState="false" labelStyleClass="col-xs-12 col-sm-6 col-md-4"
									inputStyleClass="col-xs-6 col-sm-8 col-md-8 uppercaseInput" disabled="true">
									<f:convertDateTime pattern="#{dateTimeFormat}" for="lastModifiedOutPut" />
								</mbs:input>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<mbs:panel header="#{msgs['header.audit.result.edit.notes']}">
									<!-- Note -->
									<mbs:inputTextarea id="noteTextareafield" placeholder="#{msgs['common.label.note']}"
										inputStyleClass="col-xs-12 col-sm-12 uppercaseTextarea" value="#{auditResultController.newNoteToAdd.note}"
										cols="10" rows="5" onkeyup="limitTextArea( this, event, 500 );">
										<f:converter converterId="uppercaseConverter" for="input" />
									</mbs:inputTextarea>

									<!-- Add note btn -->
									<mbs:commandButtonBar id="addNoteBtnBar">
										<mbs:commandButton id="addNoteBtn" value="#{msgs['button.add']}" type="primary"
											action="#{auditResultController.executeAddANewNote}" size="sm" />
									</mbs:commandButtonBar>

									<!-- Table displaying Audit result note attached -->
									<h5>
										<h:outputText value="#{msgs['header.audit.result.edit.current.notes']}" />
									</h5>

									<ace:dataTable value="#{auditResultController.selectedAuditResultToEdit.notes}" id="outlierCriteriasTable"
										styleClass="table-horizontal-adjustment" rows="25" paginator="true" paginatorPosition="bottom" var="row">

										<!-- Sets the filter delay -->
										<ace:ajax event="filter"
											onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />
										<ace:ajax event="editSubmit" />

										<!-- Date column -->
										<ace:column id="code" headerText="#{msgs['common.label.date']}" sortBy="#{row.code}" filterBy="#{row.code}"
											filterMatchMode="contains">
											<h:outputText value="#{row.noteDate}" styleClass="uppercaseOutput">
												<f:convertDateTime pattern="#{dateFormat}" />
											</h:outputText>
										</ace:column>

										<!-- Note -->
										<ace:column id="note" headerText="#{msgs['common.label.note']}" sortBy="#{row.note}" filterBy="#{row.note}"
											filterMatchMode="contains" styleClass="audit-note-word-wrapper">
											<h:outputText value="#{row.note}" />
										</ace:column>

										<!-- Modified by column -->
										<ace:column id="modifiedBy" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
											filterBy="#{row.modifiedBy}" filterMatchMode="contains">
											<h:outputText value="#{row.modifiedBy}" />
										</ace:column>

										<!-- Last Modified column -->
										<ace:column id="lastModified" headerText="#{msgs['common.label.last.modified']}" sortBy="#{row.lastModified}"
											filterBy="#{row.lastModified}" filterMatchMode="contains">
											<h:outputText value="#{row.lastModified}" styleClass="uppercaseOutput">
												<f:convertDateTime pattern="#{dateTimeFormat}" />
											</h:outputText>
										</ace:column>
									</ace:dataTable>
								</mbs:panel>
							</div>
						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12">
								<mbs:panel header="#{msgs['header.audit.result.edit.attachments']}">
									<mbs:commandButtonBar>
										<ace:fileEntry id="attachmentUploader" maxFileCount="1" results="#{auditResultController.attachmentResults}" />
										<mbs:commandButton id="attachmentUploadSubmitButton" value="#{msgs['button.upload']}" type="primary" size="sm"
											action="#{auditResultController.executeFileUpload}" />
									</mbs:commandButtonBar>

									<h5>
										<h:outputText value="#{msgs['header.audit.result.edit.current.attachments']}" />
									</h5>

									<ace:dataTable value="#{auditResultController.selectedAuditResultToEdit.attachments}" id="attachmentsTable"
										styleClass="table-horizontal-adjustment" rows="25" paginator="true" paginatorPosition="bottom" var="row">

										<!-- Sets the filter delay -->
										<ace:ajax event="filter"
											onStart="cfg.onstart = null; setTimeout(function() {ice.ace.ab(cfg);}, #{columnFilterDelay}); return false;" />
										<ace:ajax event="editSubmit" />

										<!-- Filename column -->
										<ace:column id="filenameCol" headerText="#{msgs['header.audit.result.edit.attachment.filename']}"
											sortBy="#{row.filename}" filterBy="#{row.filename}" filterMatchMode="contains">
											<h:outputText value="#{row.filename}" />
										</ace:column>

										<!-- Modified by column -->
										<ace:column id="modifiedByCol" headerText="#{msgs['common.label.modified.by']}" sortBy="#{row.modifiedBy}"
											filterBy="#{row.modifiedBy}" filterMatchMode="contains">
											<h:outputText value="#{row.modifiedBy}" />
										</ace:column>

										<!-- Last Modified column -->
										<ace:column id="lastModifiedCol" headerText="#{msgs['common.label.last.modified']}"
											sortBy="#{row.lastModified}" filterBy="#{row.lastModified}" filterMatchMode="contains">
											<h:outputText value="#{row.lastModified}" styleClass="uppercaseOutput">
												<f:convertDateTime pattern="#{dateTimeFormat}" />
											</h:outputText>
										</ace:column>

										<ace:column id="downloadAttachmentCol">
											<mbs:commandButtonBar align="center">
												<mbs:commandButton value="#{msgs['button.download']}" type="primary" size="xs" immediate="true"
													action="#{auditResultController.sendAttachment(row)}" />
											</mbs:commandButtonBar>
										</ace:column>
										<ace:column id="deleteAttachmentCol">
											<mbs:commandButtonBar align="center">
												<mbs:commandButton value="#{msgs['button.delete']}" type="danger" size="xs"
													action="#{auditResultController.selectAttachmentToDelete(row)}" immediate="true" />
											</mbs:commandButtonBar>
										</ace:column>
									</ace:dataTable>
								</mbs:panel>
							</div>
						</div>
					</div>
				</div>
				<mbs:commandButtonBar id="auditResultsBtnPanel">
					<mbs:commandButton value="#{msgs['button.save']}" type="primary" size="md"
						rendered="#{roleBasedAccessSupport.hasRole('Admin-AuditResultsUpdate')}"
						action="#{auditResultController.executeSaveAuditResult}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" type="danger" size="md" immediate="true"
						action="#{auditResultController.executeReturnToAddNewAuditResult}" />
				</mbs:commandButtonBar>
			</h:form>
		</h:panelGroup>
	</mbs:panel>
	
	<h:form id="confirmDeleteAuditResultFromAuditForm">
		<mbs:popup id="confirmDeleteAuditResultFromAuditPopup" title="#{msgs['header.common.confirm.delete']}"
			rendered="#{auditResultController.displayConfirmDeleteAuditResult}" customFooter="true">

			<!--  Delete confirmation message -->
			#{msgs['header.audit.result.edit.confirm.delete.message']}
			
			<f:facet name="footer">
				<mbs:commandButtonBar>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{auditResultController.confirmDeleteSelectedAuditResults}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{auditResultController.closeConfirmDeleteAuditResultPopup}" />
				</mbs:commandButtonBar>
			</f:facet>
		</mbs:popup>
	</h:form>	

	<h:form id="confirmDeleteAttachmentFromAuditForm">
		<mbs:popup id="confirmDeleteAttachmentFromAuditPopup" title="#{msgs['header.common.confirm.delete']}"
			rendered="#{auditResultController.displayConfirmDeleteAttachment}" customFooter="true">

			<!--  Delete confirmation message -->
			#{msgs['header.audit.attachment.edit.confirm.delete.message']}
			
			<f:facet name="footer">
				<mbs:commandButtonBar>
					<mbs:commandButton value="#{msgs['button.confirm']}" type="danger" size="md"
						action="#{auditResultController.confirmDeleteSelectedAttachment}" />
					<mbs:commandButton value="#{msgs['button.cancel']}" size="md"
						action="#{auditResultController.closeConfirmDeleteAttachmentPopup}" />
				</mbs:commandButtonBar>
			</f:facet>
		</mbs:popup>
	</h:form>


	<script>
		$(document).ready(function() {
			//Expand the practitioner search panel
			$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerResultSearchForm\\:auditresultSearchHeader").click(function() {
				expandPractitionerSearchPanel();
			});

			//Expand the practitioner search results panel
			$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAuditResultForm\\:practitionerAuditResultHeader").click(function() {
				expandPractitionerSearchResearchPanel();
			});

			//Expand the add new audit result panel
			$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm\\:addNewAuditResultInfoHeader").click(function() {
				expandPractitionerAddNewAuditResultPanel();
			});
		});

		$(document).ready(function() {
			$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm\\:addNewAuditResultBtnBar\\:dssUnitValueClearBtn\\:commandButton").click(function() {
				resetForm("editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm");
			});
			$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm\\:addNewAuditResultInfoHeader").click(function() {
				resetForm("editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm");
				// set default values for 2 date fields TODO would like a better solution down the road...
				$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm\\:editInterimDate\\:calendar_input").val('01-Jan-2999');
				$("#editAuditResultsView\\:searchAuditResultPanel\\:practitionerAddNewAuditResultForm\\:editFinalContactDate\\:calendar_input").val('01-Jan-2999');
			});
		});
	</script>
</ui:composition>